/*
Plugin Name: Sensei
Plugin URI: http://woothemes.com/
Description: Sensei by WooThemes is the best Learning Management System ever!
Version: 1.4.3
Author: WooThemes
Author URI: http://woothemes.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/
/*-----------------------------------------------------------------------------------*/
/* Sensei frontend  Stylesheet Sensei.css                                            */
/*-----------------------------------------------------------------------------------*/
/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1; }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
    -ms-transform: rotate(180deg);
    /* IE9 */
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1; }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
    -moz-transform: rotate(0);
    /* FF3.5+ */
    -ms-transform: rotate(0);
    /* IE9 */
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1; } }

/**
 * Base
 */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* Font Awesome Icons */
@font-face {
  font-family: 'FontAwesomeSensei';
  src: url("http://skilled.aislinthemes.com/app/plugins/sensei/assets/fonts/fontawesome-webfont.eot");
  src: url("http://skilled.aislinthemes.com/app/plugins/sensei/assets/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("http://skilled.aislinthemes.com/app/plugins/sensei/assets/fonts/fontawesome-webfont.woff2") format("woff2"), url("http://skilled.aislinthemes.com/app/plugins/sensei/assets/fonts/fontawesome-webfont.woff") format("woff"), url("http://skilled.aislinthemes.com/app/plugins/sensei/assets/fonts/fontawesome-webfont.ttf") format("truetype"), url("http://skilled.aislinthemes.com/app/plugins/sensei/assets/fonts/fontawesome-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal; }

a.view-results,
a.view-results-link,
a.sensei-certificate-link {
  display: inline-block;
  padding: .236em .857em;
  background: #e6e6e6;
  float: right;
  margin-left: .236em;
  padding: .382em 1em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

/* Courses */
#main .course, #main .course-container {
  position: relative;
  margin: 0 0 1.618em;
  padding: 0 0 1em;
  border-bottom: 1px solid #e2e2e2;
  list-style: none; }
  #main .course:after, #main .course-container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  #main .course header h2, #main .course-container header h2 {
    margin: 0; }
  #main .course .course-meta, #main .course-container .course-meta {
    margin-bottom: 20px;
    clear: both; }
    #main .course .course-meta .single_add_to_cart_button, #main .course-container .course-meta .single_add_to_cart_button {
      font-size: 1em;
      position: relative;
      top: .2em;
      margin-bottom: 0.618em; }
  #main .course .sensei-course-meta, #main .course-container .sensei-course-meta {
    font-style: italic;
    font-size: .9em;
    color: #888888; }
    #main .course .sensei-course-meta a, #main .course-container .sensei-course-meta a {
      color: #555; }
    #main .course .sensei-course-meta .course-price, #main .course-container .sensei-course-meta .course-price {
      font-style: normal;
      font-weight: bold;
      color: #222222;
      -webkit-border-radius: 300px;
      border-radius: 300px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
  #main .course .entry-actions span, #main .course-container .entry-actions span {
    margin: 0 1em 0 0; }
  #main .course .course-lessons > header, #main .course .module-lessons > header, #main .course-container .course-lessons > header, #main .course-container .module-lessons > header {
    margin: 2.244em 0 1.618em;
    padding: 2.244em 0 0;
    border-top: 2px solid #e6e6e6; }
    #main .course .course-lessons > header .course-completion-rate, #main .course .module-lessons > header .course-completion-rate, #main .course-container .course-lessons > header .course-completion-rate, #main .course-container .module-lessons > header .course-completion-rate {
      font-style: italic; }
    #main .course .course-lessons > header .meter, #main .course .module-lessons > header .meter, #main .course-container .course-lessons > header .meter, #main .course-container .module-lessons > header .meter {
      margin: 1em 0 3em; }
  #main .course .course-lessons .lesson header h2, #main .course .module-lessons .lesson header h2, #main .course-container .course-lessons .lesson header h2, #main .course-container .module-lessons .lesson header h2 {
    margin: 0; }
  #main .course .course-lessons .lesson p.lesson-meta, #main .course .module-lessons .lesson p.lesson-meta, #main .course-container .course-lessons .lesson p.lesson-meta, #main .course-container .module-lessons .lesson p.lesson-meta {
    font-style: italic;
    font-size: .9em;
    color: #888888; }
    #main .course .course-lessons .lesson p.lesson-meta a, #main .course .module-lessons .lesson p.lesson-meta a, #main .course-container .course-lessons .lesson p.lesson-meta a, #main .course-container .module-lessons .lesson p.lesson-meta a {
      color: #555; }
    #main .course .course-lessons .lesson p.lesson-meta span, #main .course .module-lessons .lesson p.lesson-meta span, #main .course-container .course-lessons .lesson p.lesson-meta span, #main .course-container .module-lessons .lesson p.lesson-meta span {
      padding-left: 15px; }
      #main .course .course-lessons .lesson p.lesson-meta span:first-child, #main .course .module-lessons .lesson p.lesson-meta span:first-child, #main .course-container .course-lessons .lesson p.lesson-meta span:first-child, #main .course-container .module-lessons .lesson p.lesson-meta span:first-child {
        padding-left: 0px; }
    #main .course .course-lessons .lesson p.lesson-meta .lesson-status, #main .course .module-lessons .lesson p.lesson-meta .lesson-status, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status {
      font-style: normal; }
      #main .course .course-lessons .lesson p.lesson-meta .lesson-status.complete, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.complete, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.complete, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.complete {
        color: #63a95f; }
        #main .course .course-lessons .lesson p.lesson-meta .lesson-status.complete:before, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.complete:before, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.complete:before, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.complete:before {
          font-family: 'FontAwesomeSensei';
          display: inline-block;
          font-size: 100%;
          margin-right: .618em;
          font-weight: normal;
          line-height: 1em;
          width: 1em;
          content: '\f00c'; }
      #main .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.in-progress, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.in-progress, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.in-progress {
        color: #555; }
        #main .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress:before, #main .course .module-lessons .lesson p.lesson-meta .lesson-status.in-progress:before, #main .course-container .course-lessons .lesson p.lesson-meta .lesson-status.in-progress:before, #main .course-container .module-lessons .lesson p.lesson-meta .lesson-status.in-progress:before {
          font-family: 'FontAwesomeSensei';
          display: inline-block;
          font-size: 100%;
          margin-right: .618em;
          font-weight: normal;
          line-height: 1em;
          width: 1em;
          content: '\f0ca'; }

.single-course .course-meta {
  margin-bottom: 1.618em; }
  .single-course .course-meta:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  .single-course .course-meta .status {
    float: left;
    margin-right: .236em; }

.single-course .course-video {
  margin-bottom: 1.618em; }

#main .course-container .module-lessons > header {
  margin: 0 0 1.618em;
  padding: 0;
  border-top: 0; }

/* Status Indicators */
.course .status, .course-lessons .status, .course-container .status {
  padding: .382em 1em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  font-weight: bold;
  background: #c6c6c6;
  display: inline-block; }
  .course .status:before, .course-lessons .status:before, .course-container .status:before {
    font-family: 'FontAwesomeSensei';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    line-height: 1em;
    width: 1em; }
  .course .status.completed, .course-lessons .status.completed, .course-container .status.completed {
    background: #63a95f; }
    .course .status.completed:before, .course-lessons .status.completed:before, .course-container .status.completed:before {
      content: "\f00c"; }
  .course .status.in-progress:before, .course-lessons .status.in-progress:before, .course-container .status.in-progress:before {
    content: "\f110"; }
  .course .status.register, .course-lessons .status.register, .course-container .status.register {
    background: #ed6c6c; }
    .course .status.register a, .course-lessons .status.register a, .course-container .status.register a {
      color: #fff; }

.lesson .lesson-meta {
  margin: 0 0 1.618em; }

.sensei-breadcrumb {
  background: #fafafa;
  margin: 2em 0;
  padding: 0.5em 1em;
  font-style: italic;
  color: #888888;
  clear: both; }
  .sensei-breadcrumb:before {
    font-family: 'FontAwesomeSensei';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    line-height: 1em;
    width: 1em;
    content: '\f112'; }

.lesson-tags {
  margin: 2em 0;
  font-style: italic;
  color: #888888;
  font-size: .9em; }

.quiz form ol#sensei-quiz-list {
  margin: 0 0 1.618em 0; }
  .quiz form ol#sensei-quiz-list li {
    position: relative;
    margin: 0 0 1.618em;
    font-size: 1.1em; }
    .quiz form ol#sensei-quiz-list li > span {
      display: block;
      margin: 0 0 1em;
      font-weight: bold; }
      .quiz form ol#sensei-quiz-list li > span span {
        float: right; }
    .quiz form ol#sensei-quiz-list li .question_media_display {
      margin: 10px 0; }
      .quiz form ol#sensei-quiz-list li .question_media_display dd {
        font-style: italic; }
    .quiz form ol#sensei-quiz-list li .submitted_file {
      font-weight: bold; }
    .quiz form ol#sensei-quiz-list li .reupload_notice {
      font-style: italic;
      margin-bottom: 5px; }
    .quiz form ol#sensei-quiz-list li .max_upload_size {
      font-style: italic;
      font-size: 75%; }
    .quiz form ol#sensei-quiz-list li ul {
      position: relative;
      z-index: 1;
      margin: .53em 0; }
      .quiz form ol#sensei-quiz-list li ul li {
        margin: 0 0 .382em;
        font-weight: normal;
        font-size: 0.9em;
        list-style: none; }
        .quiz form ol#sensei-quiz-list li ul li.right_answer {
          color: green; }
        .quiz form ol#sensei-quiz-list li ul li.user_right {
          color: green;
          font-weight: 700; }
        .quiz form ol#sensei-quiz-list li ul li.user_wrong {
          color: red; }
        .quiz form ol#sensei-quiz-list li ul li input {
          margin: 0 .382em 0 0; }
        .quiz form ol#sensei-quiz-list li ul li label {
          vertical-align: middle; }
    .quiz form ol#sensei-quiz-list li .answer_message {
      position: absolute;
      right: 0;
      top: 50%;
      width: 50%;
      z-index: 2;
      text-align: right; }
      .quiz form ol#sensei-quiz-list li .answer_message span {
        text-align: right; }
      .quiz form ol#sensei-quiz-list li .answer_message.user_right {
        color: green;
        border-color: green; }
      .quiz form ol#sensei-quiz-list li .answer_message.user_wrong {
        color: red;
        border-color: red; }
      .quiz form ol#sensei-quiz-list li .answer_message .notes {
        display: none;
        cursor: help;
        z-index: 9;
        position: absolute;
        top: 20px;
        right: 0;
        width: 100%;
        background: #FFF;
        border: 1px solid;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 10px;
        font-size: 85%;
        text-align: left; }
    .quiz form ol#sensei-quiz-list li.essay-paste .answer_message, .quiz form ol#sensei-quiz-list li.gap-fill .answer_message, .quiz form ol#sensei-quiz-list li.multi-line .answer_message, .quiz form ol#sensei-quiz-list li.single-line .answer_message {
      position: relative;
      width: 100%;
      margin: 10px 0;
      text-align: right; }
      .quiz form ol#sensei-quiz-list li.essay-paste .answer_message .notes, .quiz form ol#sensei-quiz-list li.gap-fill .answer_message .notes, .quiz form ol#sensei-quiz-list li.multi-line .answer_message .notes, .quiz form ol#sensei-quiz-list li.single-line .answer_message .notes {
        width: 50%; }

.quiz form input.quiz-submit {
  margin-right: 10px; }

.quiz input.quiz-submit.complete, .lesson input.quiz-submit.complete {
  background: #63a95f; }

.quiz input.quiz-submit.reset, .lesson input.quiz-submit.reset {
  background: #ed6c6c; }

.lesson input.quiz-submit {
  margin-top: 1em; }

.single-lesson .lesson_button_form {
  display: inline; }

div.course-container div.course {
  display: block;
  padding: 5px; }

section.entry span.course-lesson-count {
  padding-left: 10px; }

section.entry span.course-category {
  padding-left: 10px; }

section.entry span.course-lesson-progress {
  padding-left: 10px; }

section.entry span.course-price {
  padding-left: 10px; }

.sensei form .form-row {
  padding: 3px;
  margin: 0 0 6px; }
  .sensei form .form-row [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.5s 0.5s ease;
    -moz-transition: opacity 0.5s 0.5s ease;
    transition: opacity 0.5s 0.5s ease;
    opacity: 0; }
  .sensei form .form-row label {
    line-height: 2em; }
  .sensei form .form-row label.hidden {
    visibility: hidden; }
  .sensei form .form-row label.inline {
    display: inline; }
  .sensei form .form-row select {
    cursor: pointer;
    margin: 0; }
  .sensei form .form-row .required {
    color: red;
    font-weight: bold;
    border: 0; }
  .sensei form .form-row .input-checkbox {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle; }
  .sensei form .form-row input.input-text, .sensei form .form-row textarea {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1em; }
  .sensei form .form-row textarea {
    height: 4em;
    line-height: 1.5em;
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .sensei form .form-row.validate-required .chosen-single, .sensei form .form-row.validate-required .chosen-drop, .sensei form .form-row.validate-required input.input-text, .sensei form .form-row.validate-required select {
    border-color: #fb7f88; }
  .sensei form .form-row ::-webkit-input-placeholder {
    line-height: normal; }
  .sensei form .form-row :-moz-placeholder {
    line-height: normal; }
  .sensei form .form-row :-ms-input-placeholder {
    line-height: normal; }

.sensei form .fix {
  clear: both; }

/* My Courses */
#my-courses .register-link {
  clear: both; }

#my-courses form#loginform label {
  display: block; }

#my-courses form#loginform input[type="text"], #my-courses form#loginform input[type="password"] {
  width: 90%; }

#my-courses.ui-tabs {
  position: relative;
  zoom: 1; }
  #my-courses.ui-tabs .ui-tabs-nav {
    margin: 0 0 10px !important;
    float: left;
    width: 100%;
    padding: .2em 0 0; }
    #my-courses.ui-tabs .ui-tabs-nav li {
      list-style: none;
      float: left;
      position: relative;
      top: 1px;
      margin: 0 .2em 1px 0;
      border-bottom: 0 !important;
      padding: 0;
      white-space: nowrap; }
      #my-courses.ui-tabs .ui-tabs-nav li a {
        float: left;
        padding: 5px 20px;
        font-weight: bold;
        color: #777;
        text-decoration: none;
        outline: none !important;
        line-height: 1;
        cursor: pointer; }
      #my-courses.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
        margin-bottom: 0;
        padding-bottom: 1px; }
        #my-courses.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
          cursor: text; }
      #my-courses.ui-tabs .ui-tabs-nav li.ui-state-hover a {
        color: #555; }
      #my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a {
        color: #333;
        background: #e2e2e2;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px; }
      #my-courses.ui-tabs .ui-tabs-nav li.ui-state-disabled a {
        cursor: text; }
      #my-courses.ui-tabs .ui-tabs-nav li.ui-state-processing a {
        cursor: text; }
  #my-courses.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer; }
  #my-courses.ui-tabs .ui-tabs-panel {
    clear: both;
    display: block;
    border-width: 0;
    padding: 1em 0;
    background: none; }
  #my-courses.ui-tabs .ui-tabs-hide {
    display: none !important; }

/* Learner Profiles */
#learner-info h2 {
  margin: 20px 0; }

#learner-info .learner-avatar {
  float: right;
  width: 120px; }

#learner-info .learner-content {
  float: left;
  width: calc(100% - 140px);
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
  width: -o-calc(100% - 140px); }
  #learner-info .learner-content h2 {
    margin-top: 0; }

#learner-info .fix {
  clear: both; }

/* Course Archives */
.sensei-ordering {
  margin: 0 0 1em 0; }

.sensei-course-filters {
  margin: 0 0 2em 0;
  padding: 0; }
  .sensei-course-filters li {
    float: left;
    list-style: none; }
    .entry-content .sensei-course-filters li {
      margin: 0; }
    .sensei-course-filters li a {
      display: block;
      border: 2px solid #ddd;
      margin-right: 5px;
      padding: 0.5em 1em;
      background: #eee; }
      .sensei-course-filters li a:hover {
        background: #fff;
        text-decoration: none;
        border-color: #ccc; }
      .sensei-course-filters li a.active {
        border-color: #ddd;
        background: #fff;
        cursor: default; }

.course-container {
  margin: 0 0 4.236em; }
  .course-container .archive-header {
    border: none;
    padding: 0; }
    .course-container .archive-header h1 {
      margin: 0;
      padding: 0 0 .53em;
      border: none;
      font-size: 1.387em;
      color: #333;
      border-bottom: 2px solid #e6e6e6;
      width: 100%; }
  .course-container .navigation {
    float: right;
    margin: -10px 0 0;
    text-align: right; }
    .course-container .navigation a {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px; }

/* Course Results */
.course-results-lessons h2 {
  margin: 20px 0; }
  .course-results-lessons h2.total-grade {
    text-decoration: underline; }
    .course-results-lessons h2.total-grade .lesson-grade {
      text-decoration: underline; }
  .course-results-lessons h2 .lesson-grade {
    float: right; }

/* Course Progress Bars */
.meter {
  height: 25px;
  /* Can be anything */
  position: relative;
  margin: 20px 0;
  /* Just for demo spacing */
  background: #ededed;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  clear: both; }
  .meter > span {
    display: block;
    padding: 1px 10px 0 0;
    height: 100%;
    background-color: #63a95f;
    position: relative;
    overflow: hidden;
    text-align: right;
    color: #fff;
    min-width: 45px;
    font-weight: bold;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }
  .meter.orange > span {
    background: #d3d3d3; }
  .meter.red > span {
    background: #ed6c6c; }

.alignleft {
  float: left;
  margin: 0 1.618em 1em 0; }

.alignright {
  float: right;
  margin: 0 0 1em 1.618em; }

.aligncenter {
  display: block;
  text-align: center;
  margin: 0 auto 1.618em; }

.nav-next, .nav-prev {
  width: auto !important; }

.nav-next {
  float: right; }
  .nav-next .meta-nav:before {
    content: "\2192"; }

.nav-prev {
  float: left; }
  .nav-prev .meta-nav:before {
    content: "\2190"; }

/*-------------------------------------------------------------------------------------------*/
/* 1. Info Boxes */
/*-------------------------------------------------------------------------------------------*/
.sensei p.sensei-message, .sensei div.sensei-message, .course-container p.sensei-message, .course-container div.sensei-message, .course p.sensei-message, .course div.sensei-message, .lesson p.sensei-message, .lesson div.sensei-message, .quiz p.sensei-message, .quiz div.sensei-message, .learner-info p.sensei-message, .learner-info div.sensei-message {
  clear: both;
  margin: 1.387em 0 1.618em 0;
  padding: 1em 1.618em;
  border: none !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .sensei p.sensei-message:before, .sensei div.sensei-message:before, .course-container p.sensei-message:before, .course-container div.sensei-message:before, .course p.sensei-message:before, .course div.sensei-message:before, .lesson p.sensei-message:before, .lesson div.sensei-message:before, .quiz p.sensei-message:before, .quiz div.sensei-message:before, .learner-info p.sensei-message:before, .learner-info div.sensei-message:before {
    font-family: 'FontAwesomeSensei';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    line-height: 1em;
    width: 1em;
    font-size: 1.387em;
    position: relative;
    top: .1em; }
  .sensei p.sensei-message a, .sensei div.sensei-message a, .course-container p.sensei-message a, .course-container div.sensei-message a, .course p.sensei-message a, .course div.sensei-message a, .lesson p.sensei-message a, .lesson div.sensei-message a, .quiz p.sensei-message a, .quiz div.sensei-message a, .learner-info p.sensei-message a, .learner-info div.sensei-message a {
    text-decoration: underline; }
    .sensei p.sensei-message a:hover, .sensei div.sensei-message a:hover, .course-container p.sensei-message a:hover, .course-container div.sensei-message a:hover, .course p.sensei-message a:hover, .course div.sensei-message a:hover, .lesson p.sensei-message a:hover, .lesson div.sensei-message a:hover, .quiz p.sensei-message a:hover, .quiz div.sensei-message a:hover, .learner-info p.sensei-message a:hover, .learner-info div.sensei-message a:hover {
      text-decoration: none; }
  .sensei p.sensei-message.alert, .sensei div.sensei-message.alert, .course-container p.sensei-message.alert, .course-container div.sensei-message.alert, .course p.sensei-message.alert, .course div.sensei-message.alert, .lesson p.sensei-message.alert, .lesson div.sensei-message.alert, .quiz p.sensei-message.alert, .quiz div.sensei-message.alert, .learner-info p.sensei-message.alert, .learner-info div.sensei-message.alert {
    background: #ffd9c8; }
    .sensei p.sensei-message.alert:before, .sensei div.sensei-message.alert:before, .course-container p.sensei-message.alert:before, .course-container div.sensei-message.alert:before, .course p.sensei-message.alert:before, .course div.sensei-message.alert:before, .lesson p.sensei-message.alert:before, .lesson div.sensei-message.alert:before, .quiz p.sensei-message.alert:before, .quiz div.sensei-message.alert:before, .learner-info p.sensei-message.alert:before, .learner-info div.sensei-message.alert:before {
      content: '\f071';
      color: #ed6c6c; }
    .sensei p.sensei-message.alert a, .sensei div.sensei-message.alert a, .course-container p.sensei-message.alert a, .course-container div.sensei-message.alert a, .course p.sensei-message.alert a, .course div.sensei-message.alert a, .lesson p.sensei-message.alert a, .lesson div.sensei-message.alert a, .quiz p.sensei-message.alert a, .quiz div.sensei-message.alert a, .learner-info p.sensei-message.alert a, .learner-info div.sensei-message.alert a {
      color: #e73f3f; }
      .sensei p.sensei-message.alert a:hover, .sensei div.sensei-message.alert a:hover, .course-container p.sensei-message.alert a:hover, .course-container div.sensei-message.alert a:hover, .course p.sensei-message.alert a:hover, .course div.sensei-message.alert a:hover, .lesson p.sensei-message.alert a:hover, .lesson div.sensei-message.alert a:hover, .quiz p.sensei-message.alert a:hover, .quiz div.sensei-message.alert a:hover, .learner-info p.sensei-message.alert a:hover, .learner-info div.sensei-message.alert a:hover {
        color: #e52828; }
  .sensei p.sensei-message.download, .sensei p.sensei-message.tick, .sensei div.sensei-message.download, .sensei div.sensei-message.tick, .course-container p.sensei-message.download, .course-container p.sensei-message.tick, .course-container div.sensei-message.download, .course-container div.sensei-message.tick, .course p.sensei-message.download, .course p.sensei-message.tick, .course div.sensei-message.download, .course div.sensei-message.tick, .lesson p.sensei-message.download, .lesson p.sensei-message.tick, .lesson div.sensei-message.download, .lesson div.sensei-message.tick, .quiz p.sensei-message.download, .quiz p.sensei-message.tick, .quiz div.sensei-message.download, .quiz div.sensei-message.tick, .learner-info p.sensei-message.download, .learner-info p.sensei-message.tick, .learner-info div.sensei-message.download, .learner-info div.sensei-message.tick {
    background: #edfcd5; }
    .sensei p.sensei-message.download:before, .sensei p.sensei-message.tick:before, .sensei div.sensei-message.download:before, .sensei div.sensei-message.tick:before, .course-container p.sensei-message.download:before, .course-container p.sensei-message.tick:before, .course-container div.sensei-message.download:before, .course-container div.sensei-message.tick:before, .course p.sensei-message.download:before, .course p.sensei-message.tick:before, .course div.sensei-message.download:before, .course div.sensei-message.tick:before, .lesson p.sensei-message.download:before, .lesson p.sensei-message.tick:before, .lesson div.sensei-message.download:before, .lesson div.sensei-message.tick:before, .quiz p.sensei-message.download:before, .quiz p.sensei-message.tick:before, .quiz div.sensei-message.download:before, .quiz div.sensei-message.tick:before, .learner-info p.sensei-message.download:before, .learner-info p.sensei-message.tick:before, .learner-info div.sensei-message.download:before, .learner-info div.sensei-message.tick:before {
      content: '\f019';
      color: #63a95f; }
    .sensei p.sensei-message.download a, .sensei p.sensei-message.tick a, .sensei div.sensei-message.download a, .sensei div.sensei-message.tick a, .course-container p.sensei-message.download a, .course-container p.sensei-message.tick a, .course-container div.sensei-message.download a, .course-container div.sensei-message.tick a, .course p.sensei-message.download a, .course p.sensei-message.tick a, .course div.sensei-message.download a, .course div.sensei-message.tick a, .lesson p.sensei-message.download a, .lesson p.sensei-message.tick a, .lesson div.sensei-message.download a, .lesson div.sensei-message.tick a, .quiz p.sensei-message.download a, .quiz p.sensei-message.tick a, .quiz div.sensei-message.download a, .quiz div.sensei-message.tick a, .learner-info p.sensei-message.download a, .learner-info p.sensei-message.tick a, .learner-info div.sensei-message.download a, .learner-info div.sensei-message.tick a {
      color: #4e8b4a; }
      .sensei p.sensei-message.download a:hover, .sensei p.sensei-message.tick a:hover, .sensei div.sensei-message.download a:hover, .sensei div.sensei-message.tick a:hover, .course-container p.sensei-message.download a:hover, .course-container p.sensei-message.tick a:hover, .course-container div.sensei-message.download a:hover, .course-container div.sensei-message.tick a:hover, .course p.sensei-message.download a:hover, .course p.sensei-message.tick a:hover, .course div.sensei-message.download a:hover, .course div.sensei-message.tick a:hover, .lesson p.sensei-message.download a:hover, .lesson p.sensei-message.tick a:hover, .lesson div.sensei-message.download a:hover, .lesson div.sensei-message.tick a:hover, .quiz p.sensei-message.download a:hover, .quiz p.sensei-message.tick a:hover, .quiz div.sensei-message.download a:hover, .quiz div.sensei-message.tick a:hover, .learner-info p.sensei-message.download a:hover, .learner-info p.sensei-message.tick a:hover, .learner-info div.sensei-message.download a:hover, .learner-info div.sensei-message.tick a:hover {
        color: #457a42; }
  .sensei p.sensei-message.tick:before, .sensei div.sensei-message.tick:before, .course-container p.sensei-message.tick:before, .course-container div.sensei-message.tick:before, .course p.sensei-message.tick:before, .course div.sensei-message.tick:before, .lesson p.sensei-message.tick:before, .lesson div.sensei-message.tick:before, .quiz p.sensei-message.tick:before, .quiz div.sensei-message.tick:before, .learner-info p.sensei-message.tick:before, .learner-info div.sensei-message.tick:before {
    content: '\f00c'; }
  .sensei p.sensei-message.info, .sensei div.sensei-message.info, .course-container p.sensei-message.info, .course-container div.sensei-message.info, .course p.sensei-message.info, .course div.sensei-message.info, .lesson p.sensei-message.info, .lesson div.sensei-message.info, .quiz p.sensei-message.info, .quiz div.sensei-message.info, .learner-info p.sensei-message.info, .learner-info div.sensei-message.info {
    background: #eee; }
    .sensei p.sensei-message.info:before, .sensei div.sensei-message.info:before, .course-container p.sensei-message.info:before, .course-container div.sensei-message.info:before, .course p.sensei-message.info:before, .course div.sensei-message.info:before, .lesson p.sensei-message.info:before, .lesson div.sensei-message.info:before, .quiz p.sensei-message.info:before, .quiz div.sensei-message.info:before, .learner-info p.sensei-message.info:before, .learner-info div.sensei-message.info:before {
      content: '\f05a'; }
    .sensei p.sensei-message.info a, .sensei div.sensei-message.info a, .course-container p.sensei-message.info a, .course-container div.sensei-message.info a, .course p.sensei-message.info a, .course div.sensei-message.info a, .lesson p.sensei-message.info a, .lesson div.sensei-message.info a, .quiz p.sensei-message.info a, .quiz div.sensei-message.info a, .learner-info p.sensei-message.info a, .learner-info div.sensei-message.info a {
      color: #3c3c3c; }
      .sensei p.sensei-message.info a:hover, .sensei div.sensei-message.info a:hover, .course-container p.sensei-message.info a:hover, .course-container div.sensei-message.info a:hover, .course p.sensei-message.info a:hover, .course div.sensei-message.info a:hover, .lesson p.sensei-message.info a:hover, .lesson div.sensei-message.info a:hover, .quiz p.sensei-message.info a:hover, .quiz div.sensei-message.info a:hover, .learner-info p.sensei-message.info a:hover, .learner-info div.sensei-message.info a:hover {
        color: #2f2f2f; }
    .sensei p.sensei-message.info.info-special, .sensei div.sensei-message.info.info-special, .course-container p.sensei-message.info.info-special, .course-container div.sensei-message.info.info-special, .course p.sensei-message.info.info-special, .course div.sensei-message.info.info-special, .lesson p.sensei-message.info.info-special, .lesson div.sensei-message.info.info-special, .quiz p.sensei-message.info.info-special, .quiz div.sensei-message.info.info-special, .learner-info p.sensei-message.info.info-special, .learner-info div.sensei-message.info.info-special {
      background: #dbf1ff; }
  .sensei p.sensei-message.note, .sensei div.sensei-message.note, .course-container p.sensei-message.note, .course-container div.sensei-message.note, .course p.sensei-message.note, .course div.sensei-message.note, .lesson p.sensei-message.note, .lesson div.sensei-message.note, .quiz p.sensei-message.note, .quiz div.sensei-message.note, .learner-info p.sensei-message.note, .learner-info div.sensei-message.note {
    background: #fef6d2; }
    .sensei p.sensei-message.note:before, .sensei div.sensei-message.note:before, .course-container p.sensei-message.note:before, .course-container div.sensei-message.note:before, .course p.sensei-message.note:before, .course div.sensei-message.note:before, .lesson p.sensei-message.note:before, .lesson div.sensei-message.note:before, .quiz p.sensei-message.note:before, .quiz div.sensei-message.note:before, .learner-info p.sensei-message.note:before, .learner-info div.sensei-message.note:before {
      content: '\f0f6'; }
  .sensei p.sensei-message.normal, .sensei div.sensei-message.normal, .course-container p.sensei-message.normal, .course-container div.sensei-message.normal, .course p.sensei-message.normal, .course div.sensei-message.normal, .lesson p.sensei-message.normal, .lesson div.sensei-message.normal, .quiz p.sensei-message.normal, .quiz div.sensei-message.normal, .learner-info p.sensei-message.normal, .learner-info div.sensei-message.normal {
    background: #eee;
    padding: 9px 15px; }
  .sensei p.sensei-message .view-quiz, .sensei div.sensei-message .view-quiz, .course-container p.sensei-message .view-quiz, .course-container div.sensei-message .view-quiz, .course p.sensei-message .view-quiz, .course div.sensei-message .view-quiz, .lesson p.sensei-message .view-quiz, .lesson div.sensei-message .view-quiz, .quiz p.sensei-message .view-quiz, .quiz div.sensei-message .view-quiz, .learner-info p.sensei-message .view-quiz, .learner-info div.sensei-message .view-quiz {
    float: right; }
  .sensei p.sensei-message a.next-lesson, .sensei div.sensei-message a.next-lesson, .course-container p.sensei-message a.next-lesson, .course-container div.sensei-message a.next-lesson, .course p.sensei-message a.next-lesson, .course div.sensei-message a.next-lesson, .lesson p.sensei-message a.next-lesson, .lesson div.sensei-message a.next-lesson, .quiz p.sensei-message a.next-lesson, .quiz div.sensei-message a.next-lesson, .learner-info p.sensei-message a.next-lesson, .learner-info div.sensei-message a.next-lesson {
    display: inline-block;
    padding: 5px 20px 4px;
    margin: -3px 0 0 1em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    background: none;
    color: #4e8b4a;
    border: 2px solid #4e8b4a; }
    .sensei p.sensei-message a.next-lesson:hover, .sensei div.sensei-message a.next-lesson:hover, .course-container p.sensei-message a.next-lesson:hover, .course-container div.sensei-message a.next-lesson:hover, .course p.sensei-message a.next-lesson:hover, .course div.sensei-message a.next-lesson:hover, .lesson p.sensei-message a.next-lesson:hover, .lesson div.sensei-message a.next-lesson:hover, .quiz p.sensei-message a.next-lesson:hover, .quiz div.sensei-message a.next-lesson:hover, .learner-info p.sensei-message a.next-lesson:hover, .learner-info div.sensei-message a.next-lesson:hover {
      background: #63a95f;
      color: #fff; }

.course-container a.button, .course-container a.button:visited,
.course-container a.comment-reply-link,
.course-container #commentform #submit,
.course-container .submit,
.course-container input[type=submit],
.course-container input.button,
.course-container button.button, .course a.button, .course a.button:visited,
.course a.comment-reply-link,
.course #commentform #submit,
.course .submit,
.course input[type=submit],
.course input.button,
.course button.button, .lesson a.button, .lesson a.button:visited,
.lesson a.comment-reply-link,
.lesson #commentform #submit,
.lesson .submit,
.lesson input[type=submit],
.lesson input.button,
.lesson button.button, .quiz a.button, .quiz a.button:visited,
.quiz a.comment-reply-link,
.quiz #commentform #submit,
.quiz .submit,
.quiz input[type=submit],
.quiz input.button,
.quiz button.button {
  display: inline-block;
  padding: 5px 20px 4px;
  border: none;
  color: #fff;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  font-family: inherit;
  /* Make inputs use the correct typeface instead of the browser default */
  cursor: pointer;
  /* Inputs need pointers! */
  overflow: visible;
  /* IE fix */
  width: auto;
  /* IE fix */
  line-height: 1.618em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #52a8e8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .course-container a.button:hover, .course-container a.button:visited:hover,
  .course-container a.comment-reply-link:hover,
  .course-container #commentform #submit:hover,
  .course-container .submit:hover,
  .course-container input[type=submit]:hover,
  .course-container input.button:hover,
  .course-container button.button:hover, .course a.button:hover, .course a.button:visited:hover,
  .course a.comment-reply-link:hover,
  .course #commentform #submit:hover,
  .course .submit:hover,
  .course input[type=submit]:hover,
  .course input.button:hover,
  .course button.button:hover, .lesson a.button:hover, .lesson a.button:visited:hover,
  .lesson a.comment-reply-link:hover,
  .lesson #commentform #submit:hover,
  .lesson .submit:hover,
  .lesson input[type=submit]:hover,
  .lesson input.button:hover,
  .lesson button.button:hover, .quiz a.button:hover, .quiz a.button:visited:hover,
  .quiz a.comment-reply-link:hover,
  .quiz #commentform #submit:hover,
  .quiz .submit:hover,
  .quiz input[type=submit]:hover,
  .quiz input.button:hover,
  .quiz button.button:hover {
    text-decoration: none;
    background: #3b9de5; }
  .course-container a.button:active, .course-container a.button:visited:active,
  .course-container a.comment-reply-link:active,
  .course-container #commentform #submit:active,
  .course-container .submit:active,
  .course-container input[type=submit]:active,
  .course-container input.button:active,
  .course-container button.button:active, .course a.button:active, .course a.button:visited:active,
  .course a.comment-reply-link:active,
  .course #commentform #submit:active,
  .course .submit:active,
  .course input[type=submit]:active,
  .course input.button:active,
  .course button.button:active, .lesson a.button:active, .lesson a.button:visited:active,
  .lesson a.comment-reply-link:active,
  .lesson #commentform #submit:active,
  .lesson .submit:active,
  .lesson input[type=submit]:active,
  .lesson input.button:active,
  .lesson button.button:active, .quiz a.button:active, .quiz a.button:visited:active,
  .quiz a.comment-reply-link:active,
  .quiz #commentform #submit:active,
  .quiz .submit:active,
  .quiz input[type=submit]:active,
  .quiz input.button:active,
  .quiz button.button:active {
    border-color: #005393;
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 white;
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 white;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 white; }
  .course-container a.button.large, .course-container a.button:visited.large,
  .course-container a.comment-reply-link.large,
  .course-container #commentform #submit.large,
  .course-container .submit.large,
  .course-container input[type=submit].large,
  .course-container input.button.large,
  .course-container button.button.large, .course a.button.large, .course a.button:visited.large,
  .course a.comment-reply-link.large,
  .course #commentform #submit.large,
  .course .submit.large,
  .course input[type=submit].large,
  .course input.button.large,
  .course button.button.large, .lesson a.button.large, .lesson a.button:visited.large,
  .lesson a.comment-reply-link.large,
  .lesson #commentform #submit.large,
  .lesson .submit.large,
  .lesson input[type=submit].large,
  .lesson input.button.large,
  .lesson button.button.large, .quiz a.button.large, .quiz a.button:visited.large,
  .quiz a.comment-reply-link.large,
  .quiz #commentform #submit.large,
  .quiz .submit.large,
  .quiz input[type=submit].large,
  .quiz input.button.large,
  .quiz button.button.large {
    font-size: 1.387em; }
  .course-container a.button.small, .course-container a.button:visited.small,
  .course-container a.comment-reply-link.small,
  .course-container #commentform #submit.small,
  .course-container .submit.small,
  .course-container input[type=submit].small,
  .course-container input.button.small,
  .course-container button.button.small, .course a.button.small, .course a.button:visited.small,
  .course a.comment-reply-link.small,
  .course #commentform #submit.small,
  .course .submit.small,
  .course input[type=submit].small,
  .course input.button.small,
  .course button.button.small, .lesson a.button.small, .lesson a.button:visited.small,
  .lesson a.comment-reply-link.small,
  .lesson #commentform #submit.small,
  .lesson .submit.small,
  .lesson input[type=submit].small,
  .lesson input.button.small,
  .lesson button.button.small, .quiz a.button.small, .quiz a.button:visited.small,
  .quiz a.comment-reply-link.small,
  .quiz #commentform #submit.small,
  .quiz .submit.small,
  .quiz input[type=submit].small,
  .quiz input.button.small,
  .quiz button.button.small {
    font-size: .857em; }
  .course-container a.button.course-complete, .course-container a.button:visited.course-complete,
  .course-container a.comment-reply-link.course-complete,
  .course-container #commentform #submit.course-complete,
  .course-container .submit.course-complete,
  .course-container input[type=submit].course-complete,
  .course-container input.button.course-complete,
  .course-container button.button.course-complete, .course a.button.course-complete, .course a.button:visited.course-complete,
  .course a.comment-reply-link.course-complete,
  .course #commentform #submit.course-complete,
  .course .submit.course-complete,
  .course input[type=submit].course-complete,
  .course input.button.course-complete,
  .course button.button.course-complete, .lesson a.button.course-complete, .lesson a.button:visited.course-complete,
  .lesson a.comment-reply-link.course-complete,
  .lesson #commentform #submit.course-complete,
  .lesson .submit.course-complete,
  .lesson input[type=submit].course-complete,
  .lesson input.button.course-complete,
  .lesson button.button.course-complete, .quiz a.button.course-complete, .quiz a.button:visited.course-complete,
  .quiz a.comment-reply-link.course-complete,
  .quiz #commentform #submit.course-complete,
  .quiz .submit.course-complete,
  .quiz input[type=submit].course-complete,
  .quiz input.button.course-complete,
  .quiz button.button.course-complete {
    background: #63a95f; }
    .course-container a.button.course-complete:hover, .course-container a.button:visited.course-complete:hover,
    .course-container a.comment-reply-link.course-complete:hover,
    .course-container #commentform #submit.course-complete:hover,
    .course-container .submit.course-complete:hover,
    .course-container input[type=submit].course-complete:hover,
    .course-container input.button.course-complete:hover,
    .course-container button.button.course-complete:hover, .course a.button.course-complete:hover, .course a.button:visited.course-complete:hover,
    .course a.comment-reply-link.course-complete:hover,
    .course #commentform #submit.course-complete:hover,
    .course .submit.course-complete:hover,
    .course input[type=submit].course-complete:hover,
    .course input.button.course-complete:hover,
    .course button.button.course-complete:hover, .lesson a.button.course-complete:hover, .lesson a.button:visited.course-complete:hover,
    .lesson a.comment-reply-link.course-complete:hover,
    .lesson #commentform #submit.course-complete:hover,
    .lesson .submit.course-complete:hover,
    .lesson input[type=submit].course-complete:hover,
    .lesson input.button.course-complete:hover,
    .lesson button.button.course-complete:hover, .quiz a.button.course-complete:hover, .quiz a.button:visited.course-complete:hover,
    .quiz a.comment-reply-link.course-complete:hover,
    .quiz #commentform #submit.course-complete:hover,
    .quiz .submit.course-complete:hover,
    .quiz input[type=submit].course-complete:hover,
    .quiz input.button.course-complete:hover,
    .quiz button.button.course-complete:hover {
      background: #579b53; }
  .course-container a.button.course-delete, .course-container a.button:visited.course-delete,
  .course-container a.comment-reply-link.course-delete,
  .course-container #commentform #submit.course-delete,
  .course-container .submit.course-delete,
  .course-container input[type=submit].course-delete,
  .course-container input.button.course-delete,
  .course-container button.button.course-delete, .course a.button.course-delete, .course a.button:visited.course-delete,
  .course a.comment-reply-link.course-delete,
  .course #commentform #submit.course-delete,
  .course .submit.course-delete,
  .course input[type=submit].course-delete,
  .course input.button.course-delete,
  .course button.button.course-delete, .lesson a.button.course-delete, .lesson a.button:visited.course-delete,
  .lesson a.comment-reply-link.course-delete,
  .lesson #commentform #submit.course-delete,
  .lesson .submit.course-delete,
  .lesson input[type=submit].course-delete,
  .lesson input.button.course-delete,
  .lesson button.button.course-delete, .quiz a.button.course-delete, .quiz a.button:visited.course-delete,
  .quiz a.comment-reply-link.course-delete,
  .quiz #commentform #submit.course-delete,
  .quiz .submit.course-delete,
  .quiz input[type=submit].course-delete,
  .quiz input.button.course-delete,
  .quiz button.button.course-delete {
    background: #ed6c6c; }
    .course-container a.button.course-delete:hover, .course-container a.button:visited.course-delete:hover,
    .course-container a.comment-reply-link.course-delete:hover,
    .course-container #commentform #submit.course-delete:hover,
    .course-container .submit.course-delete:hover,
    .course-container input[type=submit].course-delete:hover,
    .course-container input.button.course-delete:hover,
    .course-container button.button.course-delete:hover, .course a.button.course-delete:hover, .course a.button:visited.course-delete:hover,
    .course a.comment-reply-link.course-delete:hover,
    .course #commentform #submit.course-delete:hover,
    .course .submit.course-delete:hover,
    .course input[type=submit].course-delete:hover,
    .course input.button.course-delete:hover,
    .course button.button.course-delete:hover, .lesson a.button.course-delete:hover, .lesson a.button:visited.course-delete:hover,
    .lesson a.comment-reply-link.course-delete:hover,
    .lesson #commentform #submit.course-delete:hover,
    .lesson .submit.course-delete:hover,
    .lesson input[type=submit].course-delete:hover,
    .lesson input.button.course-delete:hover,
    .lesson button.button.course-delete:hover, .quiz a.button.course-delete:hover, .quiz a.button:visited.course-delete:hover,
    .quiz a.comment-reply-link.course-delete:hover,
    .quiz #commentform #submit.course-delete:hover,
    .quiz .submit.course-delete:hover,
    .quiz input[type=submit].course-delete:hover,
    .quiz input.button.course-delete:hover,
    .quiz button.button.course-delete:hover {
      background: #ea5555; }

#submit {
  -webkit-appearance: none; }

#user-course-status-toggle {
  position: relative;
  zoom: 1;
  margin: 0 0 1em;
  width: 100%; }
  #user-course-status-toggle a {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0.5em;
    font-weight: bold;
    color: #52a8e8;
    text-decoration: none;
    outline: none;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: none; }
    #user-course-status-toggle a.active {
      background: #fff;
      color: #555; }
    #user-course-status-toggle a:first-child {
      border-bottom: none; }
    #user-course-status-toggle a:hover {
      background: #f2f2f2; }

/* RESPOND */
@media only screen and (min-width: 768px) {
  #main .course .course-meta .course-start {
    margin-top: .53em; }
  .single.logged-in #main .type-course {
    border: none; }
    .single.logged-in #main .type-course header h1 {
      margin-right: 150px; }
  #user-course-status-toggle {
    border-bottom: 1px solid #d3d3d3; }
    #user-course-status-toggle a {
      display: inline-block;
      margin: 0;
      border-bottom: 1px solid #d3d3d3;
      position: relative;
      bottom: -1px; }
      #user-course-status-toggle a.active {
        border-bottom: 1px solid #fff; }
        #user-course-status-toggle a.active:hover {
          background: #fff; }
  /* Course Archives */
  .sensei-ordering {
    text-align: right;
    float: right;
    margin: 0; } }

.sensei-pagination .page-numbers li {
  display: inline-block; }

/**
Module archive
*/
#main .lesson-content .lesson-meta {
  margin: 0px 0px 1.618em; }
  #main .lesson-content .lesson-meta span {
    font-style: italic;
    font-size: 0.9em;
    color: #888888;
    padding-right: 1em; }
  #main .lesson-content .lesson-meta .lesson-status.complete {
    color: #63a95f; }
  #main .lesson-content .lesson-meta .lesson-status.in-progress {
    color: #646464; }
  #main .lesson-content .lesson-meta .lesson-status::before {
    font-family: FontAwesomeSensei;
    display: inline-block;
    font-size: 100%;
    margin-right: 0.618em;
    font-weight: normal;
    line-height: 1em;
    width: 1em; }
  #main .lesson-content .lesson-meta .lesson-status.complete::before {
    content: '\f00c'; }
  #main .lesson-content .lesson-meta .lesson-status.in-progress::before {
    content: '\f0ca'; }

/**
 * Imports
 */
/**
* All logic for frontend grids
*/
/*
*  Course page grid
*/
.course-container .first {
  clear: left; }

.course-container .last {
  padding: 0px; }

.course-container li.course {
  padding: 12px;
  float: left; }

.columns-1 li.course {
  width: 100%;
  padding-right: 0px; }

.columns-2 li.course {
  width: 50%; }

.columns-3 li.course {
  width: 33.33%; }

.columns-4 li.course {
  width: 25%; }

.columns-5 li.course {
  width: 20%; }

.columns-6 li.course {
  width: 16.66%; }

.columns-7 li.course {
  width: 13.7%; }

.columns-8 li.course {
  width: 11.7%; }
