<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="frontend/assets/images/skill/3.png">
						<span class="screen-reader-text">Grammar</span>
					</div>
					<nav class="main-nav">
						<ul class="main-menu">
							<li><a href="" class="current-page">Home</a></li>
							<li><a href="">Your profile</a></li>
							<li><a href="">Grammar</a></li>
							<li><a href="">Vocabulary</a></li>
							<li><a href="">Phonetics</a></li>
							<li><a href="">Exam</a></li>						
							<li><a href="">Log out <i class="fa fa-sign-out"></i> </a></li>
						</ul>
					</nav>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="grammar-wrapper">
							<p>
								E readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							</p>
							<p>
								e readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							</p>
							<p>
								e readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							</p>
						</div>
						<a href="exercise.html" class="btn-green">Làm bài tập<i class="fa fa-angle-double-right"></i></a>

					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<footer class="page-footer">
			<div class="page-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<a href="#">
								<img src="frontend/assets/images/logo/3.png">
							</a>
						</div>
						<!-- col-md-2 -->
						<div class="col-md-4 col-sm-4 col-xs-4 ">
							<div class="widget_text">
								<h4 class="widget-title">Giới thiệu</h4>
								<div class="widget-content">
									<p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
								</div>
							</div>
						</div>
						<!-- col-md-4 -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="widget_text">
								<h4 class="widget-title">Liên hệ</h4>
								<div class="widget-content">
									<div class="contact">
										<p><i class="fa fa-phone-square"></i> 0123 456 789</p>
										<p><i class="fa fa-envelope"></i> mail@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="widget_social">
								<h4 class="widget-title">Mạng xã hội</h4>
								<div class="social-links">
									<ul class="clearfix">
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-google-plus-square"></a></li>
										<li><a href="#" class="fa fa-youtube-square"></a></li>

									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
					</div>
					<!-- row --> 

				</div>
				<!-- container -->
			</div>
			<div class="page-footer__bottom">
				© 2017 Bản quyền thuộc về TOPICA NATIVE
			</div>
		</footer>
	</div>