<style type="text/css">
  ul.main-menu>li>a.disabled {
     pointer-events: none;
     cursor: default;
}
ul.clearfix>li>a{
      pointer-events: none;
       cursor: default;
}
</style>
  <div class="wrap" >     
    <main class="page-content">
      <div class="banner">
        <div class="container">
          <div class="logo">
            <a href="#"><img src="frontend/assets/images/logo/2.png"></a>
          </div>
          <p class="text-big">Learn English</p>
          <p class="text-small">with TOPICA NATIVE</p>
          <a href="phonetic.html#phonetics" class="link" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-angle-right"></i>    Học Homework ngay
          </a>
        </div>
        <!-- container -->
        <a href="#navigation" class="scroll_btn"><i class="fa fa-angle-double-down"></i>
        </a>
      </div>
      <div class="navigation navigation--home" id="navigation">
        <div class="container">
          <% include ./layout/navigation %>
        </div>
        <!-- container -->
      </div>
      <div class="area-01">
        <div class="container">
          <div class="programs">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="program">
                  <a href="grammars.html#navigation" class="disabled">
                    <img class="program__image" src="frontend/assets/images/home/1.png">
                    <h4 class="program__title">Grammar</h4>
                  </a>
                </div>
              </div>
              <!-- col-md-6 -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="program">
                  <a href="vocabulary/week.html#navigation" class="disabled">
                    <img class="program__image" src="frontend/assets/images/home/2.png">
                    <h4 class="program__title">VOCABULARY</h4>
                  </a>
                </div>
              </div>
              <!-- col-md-6 -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="program">
                  <a href="phonetics.html#navigation" class="disabled">
                    <img class="program__image" src="frontend/assets/images/home/3.png">
                    <h4 class="program__title">PHONETICS</h4>
                  </a>
                </div>
              </div>
              <!-- col-md-6 -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="program">
                  <a href="exercises.html#navigation" class="disabled">
                    <img class="program__image" src="frontend/assets/images/home/4.png">
                    <h4 class="program__title">EXERCISE</h4>
                  </a>
                </div>
              </div>
              <!-- col-md-6 -->
            </div>
            <!-- row --> 

          </div>
        </div>
        <!-- container -->
      </div>

    </main>   
    <footer class="page-footer">
      <div class="page-footer__top">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <a href="#">
                <img src="frontend/assets/images/logo/3.png">
              </a>
            </div>
            <!-- col-md-2 -->
            <div class="col-md-4 col-sm-4 col-xs-4 ">
              <div class="widget_text">
                <h4 class="widget-title">Giới thiệu</h4>
                <div class="widget-content">
                  <p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
                </div>
              </div>
            </div>
            <!-- col-md-4 -->
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="widget_text">
                <h4 class="widget-title">Liên hệ</h4>
                <div class="widget-content">
                  <div class="contact">
                    <p><i class="fa fa-phone-square"></i> 0123 456 789</p>
                    <p><i class="fa fa-envelope"></i> mail@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- col-md-3 -->
            <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="widget_social">
                <h4 class="widget-title">Mạng xã hội</h4>
                <div class="social-links">
                  <ul class="clearfix">
                    <li><a href="#" class="fa fa-facebook-square" class="nothing" class="disabled"></a></li>
                    <li><a href="#" class="fa fa-google-plus-square" class="nothing" class="disabled"></a></li>
                    <li><a href="#" class="fa fa-youtube-square" class="nothing" class="disabled"></a></li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- col-md-3 -->
          </div>
          <!-- row --> 

        </div>
        <!-- container -->
      </div>
      <div class="page-footer__bottom">
        © 2017 Bản quyền thuộc về TOPICA NATIVE
      </div>
    </footer>
  </div>
<div id="myModal" class="modal fade" role="dialog" style="background:rgba(0, 0, 0, 0.39);">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" style="font-size: 30px;"></i></button>
        <h4 class="modal-title"><%- videowarmup.title %></h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/<%= videowarmup.videowarmup %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <a href="phonetic.html?date=<%= date %>#phonetics" class="btn btn-primary btn-lg">HỌC PHÁT ÂM</a>
      </div>
    </div>

  </div>
</div>
<script>
  $(document).ready(function() {
    if(1 == <%= autostart %>){
      $('#myModal').modal();
    }
  });
</script>