<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="assets/images/logo/favicon.ico">
  	<base href="http://ncsb.topicanative.edu.vn/">
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese" rel="stylesheet">

	<link rel="stylesheet" href="frontend/assets/css/style.css" media="all" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

</head>
<body>
	<%- body %>
	<script>
		var userid = "<%= userid %>"
		var date = "<%= date %>"
	</script>
	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/main.js"></script>
	<script type="text/javascript" src="frontend/assets/js/action.js"></script>
	<script>
		$(document).ready(function() {
			$('.do_exercise').click(function(event) {
		        var r = confirm("Bạn có chắc chắn muốn làm bài tập !");
		        return r;
		    });
		    $('.nothing').click(function(event) {
		    	return false;
		    });
		});		
	</script>
	<%- script %>
</body>
</html>
