<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TOPICA NATIVE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="frontend/assets/images/logo/favicon.ico">

	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese" rel="stylesheet">

	<link rel="stylesheet" href="frontend/assets/css/style.css" media="all" >

</head>
<body>
	<div class="wrap" >
		<main class="page-content page-content--login">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
						<div class="login">
							<div class="login__inner">
								<div class="login__logo">
									<img src="frontend/assets/images/logo/1.png">
								</div>
								<% if (message.length > 0) { %>
						        <div class="alert alert-danger"><%= message %></div>
						    <% } %>
								<form class="login__form" action="/login" method="post">
									<div class="login__form-inner">
										<div class="form-group">
											<input type="text" class="form-control" id="email" name="email" placeholder="TÊN ĐĂNG NHẬP">
											<label for="email"><i class="fa fa-user"></i></label>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="pwd" name="password" placeholder="MẬT KHẨU">
											<label for="pwd"><i class="fa fa-lock"></i></label>
										</div>
										<div class="form-group">
											<div class="checkbox">
												<label><input type="checkbox"> Remember me</label>
											</div>
											<a href="#" class="forgot_pwd">Quên mật khẩu?</a>
										</div>
									</div>
									<button type="submit" class="submit">đăng nhập<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
								</form>
							</div>
						</div>
					</div>
					<!-- col-md-6 -->
				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</main>
	</div>

	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/main.js"></script>
</body>
</html>
