<%function convert_keyword(keyword) {
	var kytu = keyword
	var regExp = /\(([^)]+)\)/;
	var matches = regExp.exec(kytu);
	var kytu_cuoi = kytu.replace(matches[0],"");
	var kytu_cuoi = kytu_cuoi.replace(" ","");

	return kytu_cuoi;
}%>

<style type="text/css">
	.detail__img{
		margin-right :20px;
	}
	.vocab-wrapper{
		overflow: hidden;
	}
</style>
<div class="wrap" > 
	<script>
		var userid = "<%= userid %>"
		var date = "<%= date %>"
	</script>	
	<header class="page-header">
		<div class="container">
			<a href="#">
				<img src="frontend/assets/images/logo/2.png">
			</a>							
		</div>
		<!-- container -->
	</header>	
	<main class="page-content">
		<div class="banner-small">
			<img src="frontend/assets/images/skill/banner.jpg">
		</div>
		<div class="navigation navigation--subpage" id="navigation">
			<div class="container">
				<div class="page-title" id="vocabulary">
					<img src="frontend/assets/images/skill/2.png">
					<span class="screen-reader-text">Vocabulary</span>
				</div>
				<% include ./../layout/navigation %>
			</div>
			<!-- container -->
		</div>
		<% include ./../layout/todayinfo %>
		<div class="area-01">
			<div class="container">
				<div class="box">
					<div class="row ul-mh tab">
						<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
							<ul class="tab__navi ">
								<li class="active">
									<a href="#tab__content-01" data-toggle="tab"><%=convert_keyword(listvocabulary[0].keyword) %></a>
								</li>
								<li>
									<a href="#tab__content-02" data-toggle="tab"><%=convert_keyword(listvocabulary[1].keyword) %></a>
								</li>
								<li>
									<a href="#tab__content-03" data-toggle="tab"><%=convert_keyword(listvocabulary[2].keyword) %></a>
								</li>
								<li>
									<a href="#tab__content-04" data-toggle="tab"><%=convert_keyword(listvocabulary[3].keyword) %></a>
								</li>
								<li>
									<a href="#tab__content-05" data-toggle="tab"><%=convert_keyword(listvocabulary[4].keyword) %></a>
								</li>
								<li>
									<a href="#tab__content-06" data-toggle="tab"><%=convert_keyword(listvocabulary[5].keyword) %></a>
								</li>
							</ul>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-9 col-sm-9 col-xs-9 col-content" style="overflow:hidden;height:auto;">
							<div class="tab__content active" id="tab__content-01">
								<div class="vocab-wrapper">
									<h4 class="vocab">
										<span class="title"><%=listvocabulary[0].keyword %></span>
										<span class="pronounce"><%=listvocabulary[0].phonetic %></span>
										<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
											<audio src="<%=listvocabulary[0].audio %>">
											</audio>
										</a>
									</h4>
									<div class="detail">
										<div class="detail__img">
											<img src="<%=listvocabulary[0].image %>">
										</div>
										<div class="detail__text">
											<%-listvocabulary[0].content %>
										</div>
									</div>
									<div class="linkTo">
										<a href="https://vdict.com/<%=convert_keyword(listvocabulary[0].keyword).toLowerCase() %>,1,0,0.html" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
										<a href="/grammar.html?date=<%=day%>#grammar" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							<div class="tab__content" id="tab__content-02">
								<div class="vocab-wrapper">
									<h4 class="vocab">
										<span class="title"><%=listvocabulary[1].keyword %></span>
										<span class="pronounce"><%=listvocabulary[1].phonetic %></span>
										<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
											<audio src="<%=listvocabulary[1].audio %>">
											</audio>
										</a>
									</h4>
									<div class="detail">
										<div class="detail__img">
											<img src="<%=listvocabulary[1].image %>">
										</div>
										<div class="detail__text">
											<%-listvocabulary[1].content %>
										</div>
									</div>
									<div class="linkTo">
										<a href="https://vdict.com/<%=convert_keyword(listvocabulary[1].keyword).toLowerCase() %>,1,0,0.html" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
										<a href="grammar.html?date=<%=day%>#grammar" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							<div class="tab__content" id="tab__content-03">
									<div class="vocab-wrapper">
									<h4 class="vocab">
										<span class="title"><%=listvocabulary[2].keyword %></span>
										<span class="pronounce"><%=listvocabulary[2].phonetic %></span>
										<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
											<audio src="<%=listvocabulary[2].audio %>">
											</audio>
										</a>
									</h4>
									<div class="detail">
										<div class="detail__img">
											<img src="<%=listvocabulary[2].image %>">
										</div>
										<div class="detail__text">
											<%-listvocabulary[2].content %>
										</div>
									</div>
									<div class="linkTo">
										<a href="https://vdict.com/<%=convert_keyword(listvocabulary[2].keyword).toLowerCase() %>,1,0,0.html" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
										<a href="grammar.html?date=<%=day%>" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							<div class="tab__content" id="tab__content-04">
									<div class="vocab-wrapper">
									<h4 class="vocab">
										<span class="title"><%=listvocabulary[3].keyword %></span>
										<span class="pronounce"><%=listvocabulary[3].phonetic %></span>
										<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
											<audio src="<%=listvocabulary[3].audio %>">
											</audio>
										</a>
									</h4>
									<div class="detail">
										<div class="detail__img">
											<img src="<%=listvocabulary[3].image %>">
										</div>
										<div class="detail__text">
											<%-listvocabulary[3].content %>
										</div>
									</div>
									<div class="linkTo">
										<a href="https://vdict.com/<%=convert_keyword(listvocabulary[3].keyword).toLowerCase() %>,1,0,0.html" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
										<a href="grammar.html?date=<%=day%>" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							<div class="tab__content" id="tab__content-05">
									<div class="vocab-wrapper">
									<h4 class="vocab">
										<span class="title"><%=listvocabulary[4].keyword %></span>
										<span class="pronounce"><%=listvocabulary[4].phonetic %></span>
										<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
											<audio src="<%=listvocabulary[4].audio %>">
											</audio>
										</a>
									</h4>
									<div class="detail">
										<div class="detail__img">
											<img src="<%=listvocabulary[4].image %>">
										</div>
										<div class="detail__text">
											<%-listvocabulary[4].content %>
										</div>
									</div>
									<div class="linkTo">
										<a href="https://vdict.com/<%=convert_keyword(listvocabulary[4].keyword).toLowerCase() %>,1,0,0.html" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
										<a href="grammar.html?date=<%=day%>" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							<div class="tab__content" id="tab__content-06">
									<div class="vocab-wrapper">
									<h4 class="vocab">
										<span class="title"><%=listvocabulary[5].keyword %></span>
										<span class="pronounce"><%=listvocabulary[5].phonetic %></span>
										<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
											<audio src="<%=listvocabulary[5].audio %>">
											</audio>
										</a>
									</h4>
									<div class="detail">
										<div class="detail__img">
											<img src="<%=listvocabulary[5].image %>">
										</div>
										<div class="detail__text">
											<%-listvocabulary[5].content %>
										</div>
									</div>
									<div class="linkTo">
										<a href="https://vdict.com/<%=convert_keyword(listvocabulary[5].keyword).toLowerCase() %>,1,0,0.html" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
										<a href="grammar.html?date=<%=day%>" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row --> 

				</div>
			</div>
			<!-- container -->
		</div>

	</main>		
	<% include ./../layout/footer %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$.ajax({
	            type: "POST",
	            url: "http://ncsb.topicanative.edu.vn/ajax.html",
	            data: {type: "vocabulary",userid: userid,date:date,typeaction:"viewplus"},
	            success: function(result){
	            	console.log(result)
	            },
	            async: false
	        });
		});
	</script>
</div>