<%
function covenvertString(cmm){
	var start = cmm.search(":") + 1;
	var rt = cmm.substring(start,cmm.length);
	return rt;
};
%>
<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title>TOPICA NATIVE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="frontend/assets/images/logo/favicon.ico">
	<base href="http://ncsb.topicanative.edu.vn/">
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/style-voca.css" media="all" >  
	
</head> 
<body>
	
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="frontend/assets/images/skill/2.png">
						<span class="screen-reader-text">Vocabulary</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="row">
							<div class="col-md-5 col-sm-5 col-xs-5">
								<div class="hobby_item">
									<img src="frontend/assets/images/hobby/bg.jpg">
									
									<h4 id="change">Family</h4>
									
									<a href="#hobby_entry--01" class="hobby_icon hobby_icon--01 <%if (voca[0].id == week[0].id){%>active<%} %>" data-change="<%-week[0].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--02" class="hobby_icon hobby_icon--02 <%if (voca[0].id == week[1].id){%>active<%} %>" data-change="<%-week[1].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--03" class="hobby_icon hobby_icon--03 <%if (voca[0].id == week[2].id){%>active<%} %>" data-change="<%-week[2].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--04" class="hobby_icon hobby_icon--04 <%if (voca[0].id == week[3].id){%>active<%} %>" data-change="<%-week[3].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--05" class="hobby_icon hobby_icon--05 <%if (voca[0].id == week[4].id){%>active<%} %>" data-change="<%-week[4].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--06" class="hobby_icon hobby_icon--06 <%if (voca[0].id == week[5].id){%>active<%} %>" data-change="<%-week[5].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--07" class="hobby_icon hobby_icon--07 <%if (voca[0].id == week[6].id){%>active<%} %>" data-change="<%-week[6].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--08" class="hobby_icon hobby_icon--08 <%if (voca[0].id == week[7].id){%>active<%} %>" data-change="<%-week[7].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--09" class="hobby_icon hobby_icon--09 <%if (voca[0].id == week[8].id){%>active<%} %>" data-change="<%-week[8].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--10" class="hobby_icon hobby_icon--10 <%if (voca[0].id == week[9].id){%>active<%} %>" data-change="<%-week[9].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--11" class="hobby_icon hobby_icon--11 <%if (voca[0].id == week[10].id){%>active<%} %>" data-change="<%-week[10].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--12" class="hobby_icon hobby_icon--12 <%if (voca[0].id == week[11].id){%>active<%} %>" data-change="<%-week[11].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--13" class="hobby_icon hobby_icon--13 <%if (voca[0].id == week[12].id){%>active<%} %>" data-change="<%-week[12].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
									<a href="#hobby_entry--14" class="hobby_icon hobby_icon--14 <%if (voca[0].id == week[13].id){%>active<%} %>" data-change="<%-week[13].name_week%>"><img src="frontend/assets/images/hobby/icon-01.png"></a>
								</div>
							</div>
							<!-- col-md-5 -->
							<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1">
								<div class="hobby_entry <%if (voca[0].id == week[0].id){%>active<%} %>" id="hobby_entry--01">
									<h4 class="entry-title"><%-week[0].name_week%></h4>
									<div class="entry-content">
										<ul>
											<%for (var j = 0; j < vocabulary.length; j++) {
												if(vocabulary[j].idweek == week[0].id){%>
													<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
											}%>
										</ul>
									</div>
									<%if (voca[0].id == week[0].id){%>
									<div class="mt-30">
										<a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[0].id%>&week=<%=week[0].id%>#navigation" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[1].id){%>active<%} %>" id="hobby_entry--02">
									<h4 class="entry-title"><%-week[1].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[1].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[1].id){%>
									<div class="mt-30">
										<a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[0].id%>&week=<%=week[1].id%>#navigation" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[2].id){%>active<%} %>" id="hobby_entry--03">
									<h4 class="entry-title"><%-week[2].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[2].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[2].id){%>
									<div class="mt-30">
										<a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[0].id%>&week=<%=week[2].id%>#navigation" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[3].id){%>active<%} %>" id="hobby_entry--04">
									<h4 class="entry-title"><%-week[3].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[3].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[3].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[4].id){%>active<%} %>" id="hobby_entry--05">
									<h4 class="entry-title"><%-week[4].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[4].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[4].id){%>
									<div class="mt-30">
										<a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[0].id%>&week=<%=week[3].id%>#navigation" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[5].id){%>active<%} %>" id="hobby_entry--06">
									<h4 class="entry-title"><%-week[5].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[5].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[5].id){%>
									<div class="mt-30">
										<a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[0].id%>&week=<%=week[4].id%>#navigation" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[6].id){%>active<%} %>" id="hobby_entry--07">
									<h4 class="entry-title"><%-week[6].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[6].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[6].id){%>
									<div class="mt-30">
										<a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[0].id%>&week=<%=week[5].id%>#navigation" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[7].id){%>active<%} %>" id="hobby_entry--08">
									<h4 class="entry-title"><%-week[7].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[7].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[7].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[8].id){%>active<%} %>" id="hobby_entry--09">
									<h4 class="entry-title"><%-week[8].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[8].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[8].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[9].id){%>active<%} %>" id="hobby_entry--10">
									<h4 class="entry-title"><%-week[9].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[9].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[9].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[10].id){%>active<%} %>" id="hobby_entry--11">
									<h4 class="entry-title"><%-week[10].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[10].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[10].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[11].id){%>active<%} %>" id="hobby_entry--12">
									<h4 class="entry-title"><%-week[11].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[11].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[11].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[12].id){%>active<%} %>" id="hobby_entry--13">
									<h4 class="entry-title"><%-week[12].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[12].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[12].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
								<div class="hobby_entry <%if (voca[0].id == week[13].id){%>active<%} %>" id="hobby_entry--14">
									<h4 class="entry-title"><%-week[13].name_week%></h4>
									<div class="entry-content">
										<ul>
										<%for (var j = 0; j < vocabulary.length; j++) {
											if(vocabulary[j].idweek == week[13].id){%>
												<li><a href="http://ncsb.topicanative.edu.vn/vocabulary/week/content.html?weekday=<%=vocabulary[j].id%>&week=<%=vocabulary[j].idweek%>#navigation"><%=covenvertString(vocabulary[j].title)%></a></li>	
											<%}
										}%>
										</ul>
									</div>
									<%if (voca[0].id == week[13].id){%>
									<div class="mt-30">
										<a href="vocabulary-4.html" class="btn--blue">Học từ vựng tuần này<i class="fa fa-angle-double-right"></i></a>
									</div>
									<%} %>
								</div>
								<!-- hobby_entry -->
							</div>
							<!-- col-md-6 -->
						</div>
						<!-- row --> 

					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<footer class="page-footer">
			<div class="page-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<a href="#">
								<img src="frontend/assets/images/logo/3.png">
							</a>
						</div>
						<!-- col-md-2 -->
						<div class="col-md-4 col-sm-4 col-xs-4 ">
							<div class="widget_text">
								<h4 class="widget-title">Giới thiệu</h4>
								<div class="widget-content">
									<p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
								</div>
							</div>
						</div>
						<!-- col-md-4 -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="widget_text">
								<h4 class="widget-title">Liên hệ</h4>
								<div class="widget-content">
									<div class="contact">
										<p><i class="fa fa-phone-square"></i> 0123 456 789</p>
										<p><i class="fa fa-envelope"></i> mail@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="widget_social">
								<h4 class="widget-title">Mạng xã hội</h4>
								<div class="social-links">
									<ul class="clearfix">
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-google-plus-square"></a></li>
										<li><a href="#" class="fa fa-youtube-square"></a></li>

									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
					</div>
					<!-- row --> 

				</div>
				<!-- container -->
			</div>
			<div class="page-footer__bottom">
				© 2017 Bản quyền thuộc về TOPICA NATIVE
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jQuery-plugin-progressbar.js"></script>
	<script type="text/javascript" src="frontend/assets/js/main-vss.js"></script>
</body>
</html>