
<%function convert_keyword(keyword) {
	var kytu = keyword
	var regExp = /\(([^)]+)\)/;
	var matches = regExp.exec(kytu);
	var kytu_cuoi = kytu.replace(matches[0],"");
	var kytu_cuoi = kytu_cuoi.replace(" ","");

	return kytu_cuoi;
}%>
<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title>TOPICA NATIVE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="frontend/assets/images/logo/favicon.ico">
	<base href="http://ncsb.topicanative.edu.vn/">
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />

	<style type="text/css">
		.btn-blue {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  padding: 0 25px 0;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
}
.btn-blue i {
  color: #fff;
  margin-left: 10px;
}
.btn-blue:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3ba1d4;
  z-index: -2;
}
.btn-blue:after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff5113;
  z-index: -1;
}
.btn-blue:hover {
  text-decoration: none;
  color: #fff;
}
.btn-blue:hover:after {
  width: 100%;
}
	</style>

	<link rel="stylesheet" href="frontend/assets/css/style-voca.css" media="all" >  
	
</head> 
<body>
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="frontend/assets/images/skill/2.png">
						<span class="screen-reader-text">Vocabulary</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="breadcrumb">
							<span>Vocabulary</span>&nbsp;&nbsp;>&nbsp;&nbsp;<span><%=week[0].name_week%></span>
						</div>

						<div class="hTab">					
							<div class="hTab__navi-wrap">
								<ul class="hTab__navi ul-mh">
									<li class="<%if(weekday == listidday[0]){%>active<%}%>">
										<a href="#hTab__content-01" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt1">MONDAY</a>
									</li>
									<li class="<%if(weekday == listidday[1]){%>active<%}%>">
										<a href="#hTab__content-02" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt2">TUESDAY</a>
									</li>
									<li class="<%if(weekday == listidday[2]){%>active<%}%>">
										<a href="#hTab__content-03" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt3">WEDNESDAY</a>
									</li>
									<li class="<%if(weekday == listidday[3]){%>active<%}%>">
										<a href="#hTab__content-04" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt4">THURSDAY</a>
									</li>
									<li class="<%if(weekday == listidday[4]){%>active<%}%>">
										<a href="#hTab__content-05" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt5">FRIDAY</a>
									</li>
									<li class="<%if(weekday == listidday[5]){%>active<%}%>">
										<a href="#hTab__content-06" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt6">SATURDAY</a>
									</li>
									<li class="<%if(weekday == listidday[6]){%>active<%}%>">
										<a href="#hTab__content-07" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[0].replace(/"/g,"")%>" id="voca_tt7">SUNDAY</a>
									</li>
								</ul>
								<!-- hTab__navi -->
							</div>

							<div class="hTab__content-wrap hTab__content-wrap--hobby">
								<!-- Monday -->
								<div class="hTab__content <%if(weekday == listidday[0]){%>active<%}%>"  id="hTab__content-01">
									<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[0].replace(/"/g,"")%>" id="voca1" ><%=convert_keyword(vocalist[0].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[0].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[0].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[0].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[0].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[0].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[0].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-01">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Tuesday -->
								<!-- hTab__content -->
								<div class="hTab__content <%if(weekday == listidday[1]){%>active<%}%>"  id="hTab__content-02">
									<!-- Noi dung ben trong -->
									<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[0].replace(/"/g,"")%>" id="voca2" ><%=convert_keyword(vocalist[1].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[1].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[1].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[1].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[1].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[1].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[1].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-02">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog2</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Wed -->
								<!-- hTab__content -->
								<div class="hTab__content <%if(weekday == listidday[2]){%>active<%}%>"  id="hTab__content-03">
									<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[0].replace(/"/g,"")%>" id="voca3" ><%=convert_keyword(vocalist[2].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[2].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[2].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[2].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[2].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[2].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[2].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-03">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog2</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- THU -->
								<!-- hTab__content -->
								<div class="hTab__content <%if(weekday == listidday[3]){%>active<%}%>"  id="hTab__content-04">
									<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[0].replace(/"/g,"")%>" id="voca4" ><%=convert_keyword(vocalist[3].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[3].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[3].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[3].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[3].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[3].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[3].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-04">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog2</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- FRI -->
								<!-- hTab__content -->
								<div class="hTab__content <%if(weekday == listidday[4]){%>active<%}%>"  id="hTab__content-05">
									<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[0].replace(/"/g,"")%>" id="voca5" ><%=convert_keyword(vocalist[4].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[4].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[4].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[4].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[4].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[4].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[4].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-05">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog2</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- hTab__content -->
								<div class="hTab__content <%if(weekday == listidday[5]){%>active<%}%>"  id="hTab__content-06">
									<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[0].replace(/"/g,"")%>" id="voca6" ><%=convert_keyword(vocalist[5].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[5].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[5].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[5].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[5].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[5].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[5].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-06">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog2</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- hTab__content -->
								<div class="hTab__content <%if(weekday == listidday[6]){%>active<%}%>"  id="hTab__content-07">
																		<div class="row ul-mh tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[0].replace(/"/g,"")%>" id="voca7" ><%=convert_keyword(vocalist[6].list_keyword.split(",")[0])%></a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[1].replace(/"/g,"")%>"><%=convert_keyword(vocalist[6].list_keyword.split(",")[1])%></a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[2].replace(/"/g,"")%>"><%=convert_keyword(vocalist[6].list_keyword.split(",")[2])%></a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[3].replace(/"/g,"")%>"><%=convert_keyword(vocalist[6].list_keyword.split(",")[3])%></a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[4].replace(/"/g,"")%>"><%=convert_keyword(vocalist[6].list_keyword.split(",")[4])%></a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab" data-id="<%=vocalist[6].list_id.split(",")[5].replace(/"/g,"")%>"><%=convert_keyword(vocalist[6].list_keyword.split(",")[5])%></a>
												</li>
											</ul>
										</div>
					
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-07">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog2</span>
														<span class="pronounce">/dɔg/</span>
														<input type="hidden" name="" class="id_send" data-id="">
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															123
														</div>
													</div>
													<div class="linkTo">
														<a href="https://en.oxforddictionaries.com/" class="btn-blue" target="_blank">Tra từ điển<i class="fa fa-angle-double-right"></i></a>
														<a href="grammar.html" class="btn-blue">Học ngữ pháp<i class="fa fa-angle-double-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- hTab__content -->
								<div class="text-right mt-30" id="clickbutton">
									<a href="" class="btn--blue">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
								</div>
							</div>
							<!-- hTab__content-wrap -->
						</div>
					</div>
				</div>
				<!-- container -->
			</div>
		</main>		
		<footer class="page-footer">
			<div class="page-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<a href="#">
								<img src="frontend/assets/images/logo/3.png">
							</a>
						</div>
						<!-- col-md-2 -->
						<div class="col-md-4 col-sm-4 col-xs-4 ">
							<div class="widget_text">
								<h4 class="widget-title">Giới thiệu</h4>
								<div class="widget-content">
									<p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
								</div>
							</div>
						</div>
						<!-- col-md-4 -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="widget_text">
								<h4 class="widget-title">Liên hệ</h4>
								<div class="widget-content">
									<div class="contact">
										<p><i class="fa fa-phone-square"></i> 0123 456 789</p>
										<p><i class="fa fa-envelope"></i> mail@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="widget_social">
								<h4 class="widget-title">Mạng xã hội</h4>
								<div class="social-links">
									<ul class="clearfix">
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-google-plus-square"></a></li>
										<li><a href="#" class="fa fa-youtube-square"></a></li>

									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
					</div>
					<!-- row --> 

				</div>
				<!-- container -->
			</div>
			<div class="page-footer__bottom">
				© 2017 Bản quyền thuộc về TOPICA NATIVE
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jQuery-plugin-progressbar.js"></script>
	<script type="text/javascript" src="frontend/assets/js/main.js"></script>
		<script type="text/javascript">
		$.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca1").attr("data-id")
            },
            success : function (result){
                $("#tab__content-01 .title").html(result[0].keyword);
                $("#tab__content-01 .pronounce").html(result[0].phonetic);
                $("#tab__content-01 audio").attr("src",result[0].audio);
                $("#tab__content-01 img").attr("src",result[0].image);
                $("#tab__content-01 .detail__text").html(result[0].content);	
            }
        });

        $.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca2").attr("data-id")
            },
            success : function (result){
                $("#tab__content-02 .title").html(result[0].keyword);
                $("#tab__content-02 .pronounce").html(result[0].phonetic);
                $("#tab__content-02 audio").attr("src",result[0].audio);
                $("#tab__content-02 img").attr("src",result[0].image);
                $("#tab__content-02 .detail__text").html(result[0].content);
            }
        });

        $.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca3").attr("data-id")
            },
            success : function (result){
                $("#tab__content-03 .title").html(result[0].keyword);
                $("#tab__content-03 .pronounce").html(result[0].phonetic);
                $("#tab__content-03 audio").attr("src",result[0].audio);
                $("#tab__content-03 img").attr("src",result[0].image);
                $("#tab__content-03 .detail__text").html(result[0].content);
            }
        });

		$.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca4").attr("data-id")
            },
            success : function (result){
                $("#tab__content-04 .title").html(result[0].keyword);
                $("#tab__content-04 .pronounce").html(result[0].phonetic);
                $("#tab__content-04 audio").attr("src",result[0].audio);
                $("#tab__content-04 img").attr("src",result[0].image);
                $("#tab__content-04 .detail__text").html(result[0].content);
            }
        });

		$.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca5").attr("data-id")
            },
            success : function (result){
                $("#tab__content-05 .title").html(result[0].keyword);
                $("#tab__content-05 .pronounce").html(result[0].phonetic);
                $("#tab__content-05 audio").attr("src",result[0].audio);
                $("#tab__content-05 img").attr("src",result[0].image);
                $("#tab__content-05 .detail__text").html(result[0].content);
            }
        });

       	$.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca6").attr("data-id")
            },
            success : function (result){
                $("#tab__content-06 .title").html(result[0].keyword);
                $("#tab__content-06 .pronounce").html(result[0].phonetic);
                $("#tab__content-06 audio").attr("src",result[0].audio);
                $("#tab__content-06 img").attr("src",result[0].image);
                $("#tab__content-06 .detail__text").html(result[0].content);
            }
        });

        $.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $("#voca7").attr("data-id")
            },
            success : function (result){
                $("#tab__content-07 .title").html(result[0].keyword);
                $("#tab__content-07 .pronounce").html(result[0].phonetic);
                $("#tab__content-07 audio").attr("src",result[0].audio);
                $("#tab__content-07 img").attr("src",result[0].image);
                $("#tab__content-07 .detail__text").html(result[0].content);
            }
        });

        $.ajax({
            url : "/vocabulary/getdata", // gửi ajax đến file result.php
            type : "get", // chọn phương thức gửi là get
            data : { // Danh sách các thuộc tính sẽ gửi đi
                dataid : $(".hTab .active a").attr("data-id")
            },
            success : function (result){
                $(".vocab-wrapper .id_send").attr("data-id",result[0].id);
            }
        });

		$(document).on("click",".tab__navi a",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $(this).attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	                $(".vocab-wrapper .id_send").attr("data-id",result[0].id);
	            }
		    });
		});

		$(document).on("click","#voca_tt1",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-01 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	            	console.log(result);
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	                $(".vocab-wrapper .id_send").attr("data-id",result[0].id);
	            }
		    });
		});

		$(document).on("click","#voca_tt2",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-02 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	                $(".vocab-wrapper .id_send").attr("data-id",result[0].id);
	            }
		    });
		});

		$(document).on("click","#voca_tt3",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-03 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	            }
		    });
		});

		$(document).on("click","#voca_tt4",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-04 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	            }
		    });
		});

		$(document).on("click","#voca_tt5",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-05 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	            }
		    });
		});

		$(document).on("click","#voca_tt6",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-06 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	            }
		    });
		});

		$(document).on("click","#voca_tt7",function() {
			$.ajax({
	            url : "/vocabulary/getdata", // gửi ajax đến file result.php
	            type : "get", // chọn phương thức gửi là get
	            data : { // Danh sách các thuộc tính sẽ gửi đi
	                dataid : $("#hTab__content-07 .tab__navi .active a").attr("data-id")
	            },
	            success : function (result){
	                $(".vocab-wrapper .title").html(result[0].keyword);
	                $(".vocab-wrapper .pronounce").html(result[0].phonetic);
	                $(".vocab-wrapper audio").attr("src",result[0].audio);
	                $(".vocab-wrapper img").attr("src",result[0].image);
	                $(".vocab-wrapper .detail__text").html(result[0].content);
	            }
		    });
		});

		$("#clickbutton").click(function(event){
			event.preventDefault();
		    var id = $(".id_send").attr("data-id");
		    location.href = "exercise/vocabulary.html?id_voca="+id;
		});
	</script>
</body>
</html>