<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title>TOPICA NATIVE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="assets/images/logo/favicon.ico">

	<link rel="stylesheet" href="assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="assets/css/font-awesome.css" media="all" />

	

	<link rel="stylesheet" href="assets/css/style.css" media="all" >  
	
</head> 
<body>
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="assets/images/skill/2.png">
						<span class="screen-reader-text">Vocabulary</span>
					</div>
					<nav class="main-nav">
						<ul class="main-menu">
							<li><a href="" class="current-page">Home</a></li>
							<li><a href="">Your profile</a></li>
							<li><a href="">Grammar</a></li>
							<li><a href="">Vocabulary</a></li>
							<li><a href="">Phonetics</a></li>
							<li><a href="">Exam</a></li>						
							<li><a href="">Log out <i class="fa fa-sign-out"></i> </a></li>
						</ul>
					</nav>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="hTab">		
							<div class="row">
								<div class="col-md-9 col-sm-9 col-xs-9 col-md-offset-3">
									<div class="hTab__navi-wrap">
										<ul class="hTab__navi ul-mh">
											<li class="active">
												<a href="#hTab__content-01" data-toggle="tab">Thứ 2</a>
											</li>
											<li>
												<a href="#hTab__content-02" data-toggle="tab">Thứ 3</a>
											</li>
											<li>
												<a href="#hTab__content-03" data-toggle="tab">Thứ 4</a>
											</li>
											<li>
												<a href="#hTab__content-04" data-toggle="tab">Thứ 5</a>
											</li>
											<li>
												<a href="#hTab__content-05" data-toggle="tab">Thứ 6</a>
											</li>
											<li>
												<a href="#hTab__content-06" data-toggle="tab">Thứ 7</a>
											</li>
											<li>
												<a href="#hTab__content-07" data-toggle="tab">Chủ nhật</a>
											</li>
										</ul>
										<!-- hTab__navi -->
									</div>
								</div>
							</div>			
							
							<div class="hTab__content-wrap">
								<div class="hTab__content active"  id="hTab__content-01">
									<div class="row tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-01" data-toggle="tab">Dog</a>
												</li>
												<li>
													<a href="#tab__content-02" data-toggle="tab">Vocab #2</a>
												</li>
												<li>
													<a href="#tab__content-03" data-toggle="tab">Vocab #3</a>
												</li>
												<li>
													<a href="#tab__content-04" data-toggle="tab">Vocab #4</a>
												</li>
												<li>
													<a href="#tab__content-05" data-toggle="tab">Vocab #5</a>
												</li>
												<li>
													<a href="#tab__content-06" data-toggle="tab">Vocab #6</a>
												</li>
											</ul>
										</div>
										<!-- col-md-3 -->
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-01">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Dog</span>
														<span class="pronounce">/dɔg/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio" title="NGHE PHÁT ÂM">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<p>
														<a href="http://www.oxfordlearnersdictionaries.com/" target="_blank" class="btn--text"><i class="fa fa-book"></i>Tra từ điển</a>
													</p>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/skill/5.png">
														</div>
														<div class="detail__text">
															chó
															chó săn
															chó đực; chó sói đực ((cũng) dog wolf); cáo đực ((cũng) dog fox)
															kẻ đê tiện, kẻ đáng khinh, đồ chó má; kẻ cắn cẩu cục cằn
															gã, thằng cha
															a sly dog
															thằng cha vận đỏ
															Greater Dog
															(thiên văn học) chòm sao Đại-thiên-lang
															Lesser Dog
															chòm sao Tiểu-thiên-lang
															(số nhiều) vỉ lò (ở lò sưởi) ((cũng) fire dogs)
															(kỹ thuật) móng kìm, cặp, móc ngoạm, gàu ngoạm
															mống bão, ráng bão (ở chân trời) ((cũng) sea dog)
															(như) dogfish
														</div>
													</div>
												</div>
												<div class="text-right mt-30">
													<a href="exercise.html" class="btn--blue">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
												</div>
											</div>
											<div class="tab__content" id="tab__content-02">
												Content #2
												
											</div>
											<div class="tab__content" id="tab__content-03">
												Content #3
												
											</div>
											<div class="tab__content" id="tab__content-04">
												Content #4
												
											</div>
											<div class="tab__content" id="tab__content-05">
												Content #5
												
											</div>
											<div class="tab__content" id="tab__content-06">
												Content #6
												
											</div>
										</div>
									</div>
									<!-- row --> 
								</div>
								<!-- hTab__content -->
								<div class="hTab__content"  id="hTab__content-02">
									<div class="row tab">
										<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
											<ul class="tab__navi ">
												<li class="active">
													<a href="#tab__content-21" data-toggle="tab">Topic</a>
												</li>
												<li>
													<a href="#tab__content-22" data-toggle="tab">Vocabulary #2</a>
												</li>
												<li>
													<a href="#tab__content-23" data-toggle="tab">Vocabulary #3</a>
												</li>
												<li>
													<a href="#tab__content-24" data-toggle="tab">Vocabulary #4</a>
												</li>
												<li>
													<a href="#tab__content-25" data-toggle="tab">Vocabulary #5</a>
												</li>
												<li>
													<a href="#tab__content-26" data-toggle="tab">Vocabulary #6</a>
												</li>
											</ul>
										</div>
										<!-- col-md-3 -->
										<div class="col-md-9 col-sm-9 col-xs-9 col-content">
											<div class="tab__content active" id="tab__content-21">
												<div class="vocab-wrapper">
													<h4 class="vocab">
														<span class="title">Topic</span>
														<span class="pronounce">/ˈtäpik/</span>
														<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio" title="NGHE PHÁT ÂM">
															<audio src="http://audio.oxforddictionaries.com/en/mp3/dog_gb_1.mp3">
															</audio>
														</a>
													</h4>
													<p>
														<a href="http://www.oxfordlearnersdictionaries.com/" target="_blank" class="btn--text"><i class="fa fa-book"></i>Tra từ điển</a>
													</p>
													<div class="detail">
														<div class="detail__img">
															<img src="assets/images/logo/3.png">
														</div>
														<div class="detail__text">
															chó
															chó săn
															chó đực; chó sói đực ((cũng) dog wolf); cáo đực ((cũng) dog fox)
															kẻ đê tiện, kẻ đáng khinh, đồ chó má; kẻ cắn cẩu cục cằn
															gã, thằng cha
															a sly dog
															thằng cha vận đỏ
															Greater Dog
															(thiên văn học) chòm sao Đại-thiên-lang
															Lesser Dog
															chòm sao Tiểu-thiên-lang
															(số nhiều) vỉ lò (ở lò sưởi) ((cũng) fire dogs)
															(kỹ thuật) móng kìm, cặp, móc ngoạm, gàu ngoạm
															mống bão, ráng bão (ở chân trời) ((cũng) sea dog)
															(như) dogfish
														</div>
													</div>
												</div>
												<div class="text-right mt-30">
													<a href="exercise.html" class="btn--blue">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
												</div>
											</div>
											<div class="tab__content" id="tab__content-22">
												Content #2
												
											</div>
											<div class="tab__content" id="tab__content-23">
												Content #3
												
											</div>
											<div class="tab__content" id="tab__content-24">
												Content #4
												
											</div>
											<div class="tab__content" id="tab__content-25">
												Content #5
												
											</div>
											<div class="tab__content" id="tab__content-26">
												Content #6
												
											</div>
										</div>
									</div>
									<!-- row --> 
								</div>
								<!-- hTab__content -->
								<div class="hTab__content"  id="hTab__content-03">
									Từ vựng #4
								</div>
								<!-- hTab__content -->
								<div class="hTab__content"  id="hTab__content-04">
									Từ vựng #5
								</div>
								<!-- hTab__content -->
								<div class="hTab__content"  id="hTab__content-05">
									Từ vựng #6
								</div>
								<!-- hTab__content -->
								<div class="hTab__content"  id="hTab__content-06">
									Từ vựng #7
								</div>
								<!-- hTab__content -->
								<div class="hTab__content"  id="hTab__content-07">
									Từ vựng #8
								</div>
								<!-- hTab__content -->
								
							</div>
							<!-- hTab__content-wrap -->
						</div>
						





						

					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<footer class="page-footer">
			<div class="page-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<a href="#">
								<img src="assets/images/logo/3.png">
							</a>
						</div>
						<!-- col-md-2 -->
						<div class="col-md-4 col-sm-4 col-xs-4 ">
							<div class="widget_text">
								<h4 class="widget-title">Giới thiệu</h4>
								<div class="widget-content">
									<p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
								</div>
							</div>
						</div>
						<!-- col-md-4 -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="widget_text">
								<h4 class="widget-title">Liên hệ</h4>
								<div class="widget-content">
									<div class="contact">
										<p><i class="fa fa-phone-square"></i> 0123 456 789</p>
										<p><i class="fa fa-envelope"></i> mail@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="widget_social">
								<h4 class="widget-title">Mạng xã hội</h4>
								<div class="social-links">
									<ul class="clearfix">
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-google-plus-square"></a></li>
										<li><a href="#" class="fa fa-youtube-square"></a></li>

									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
					</div>
					<!-- row --> 

				</div>
				<!-- container -->
			</div>
			<div class="page-footer__bottom">
				© 2017 Bản quyền thuộc về TOPICA NATIVE
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="assets/js/jQuery-plugin-progressbar.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>