<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="admin/vocabulary">
            <input type="hidden" name="type" value="calendar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add new/Edit</strong> Vocabulary config (thay vì edit list từ vựng của một ngày các bạn có thể thêm mới của chính ngày đó ở đây mọi thông tin sẽ được lưu lại như bình thường)</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Date</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="date" name="calendar" value="<%= day_current%>" placeholder="" class="form-control">
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Vocabulary 1</label>
                        <div class="col-md-6 col-xs-12">                                
                           <select id="idvocabulary" name="idvocabulary_1" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < vocabulary.length; i++) 
                                { %>
                                <option value='{"id":"<%= vocabulary[i].id %>","keyword":"<%= vocabulary[i].keyword %>","phonetic":"<%= vocabulary[i].phonetic %>","content":"<%= vocabulary[i].content %>","image":"<%= vocabulary[i].image %>","audio":"<%= vocabulary[i].audio %>"}' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Vocabulary 2</label>
                        <div class="col-md-6 col-xs-12">                                
                            <select id="idvocabulary" name="idvocabulary_2" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < vocabulary.length; i++) 
                                { %>
                                <option value='{"id":"<%= vocabulary[i].id %>","keyword":"<%= vocabulary[i].keyword %>","phonetic":"<%= vocabulary[i].phonetic %>","content":"<%= vocabulary[i].content %>","image":"<%= vocabulary[i].image %>","audio":"<%= vocabulary[i].audio %>"}' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Vocabulary 3</label>
                        <div class="col-md-6 col-xs-12">                                
                            <select id="idvocabulary" name="idvocabulary_3" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < vocabulary.length; i++) 
                                { %>
                                <option value='{"id":"<%= vocabulary[i].id %>","keyword":"<%= vocabulary[i].keyword %>","phonetic":"<%= vocabulary[i].phonetic %>","content":"<%= vocabulary[i].content %>","image":"<%= vocabulary[i].image %>","audio":"<%= vocabulary[i].audio %>"}' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Vocabulary 4</label>
                        <div class="col-md-6 col-xs-12">                                
                            <select id="idvocabulary" name="idvocabulary_4" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < vocabulary.length; i++) 
                                { %>
                                <option value='{"id":"<%= vocabulary[i].id %>","keyword":"<%= vocabulary[i].keyword %>","phonetic":"<%= vocabulary[i].phonetic %>","content":"<%= vocabulary[i].content %>","image":"<%= vocabulary[i].image %>","audio":"<%= vocabulary[i].audio %>"}' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Vocabulary 5</label>
                        <div class="col-md-6 col-xs-12">                                
                            <select id="idvocabulary" name="idvocabulary_5" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < vocabulary.length; i++) 
                                { %>
                                <option value='{"id":"<%= vocabulary[i].id %>","keyword":"<%= vocabulary[i].keyword %>","phonetic":"<%= vocabulary[i].phonetic %>","content":"<%= vocabulary[i].content %>","image":"<%= vocabulary[i].image %>","audio":"<%= vocabulary[i].audio %>"}' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Vocabulary 6</label>
                        <div class="col-md-6 col-xs-12">                                
                           <select id="idvocabulary" name="idvocabulary_6" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < vocabulary.length; i++) 
                                { %>
                                <option value='{"id":"<%= vocabulary[i].id %>","keyword":"<%= vocabulary[i].keyword %>","phonetic":"<%= vocabulary[i].phonetic %>","content":"<%= vocabulary[i].content %>","image":"<%= vocabulary[i].image %>","audio":"<%= vocabulary[i].audio %>"}' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Chủ đề tương ứng với ngày</label>
                        <div class="col-md-6 col-xs-12">                                
                           <select id="idvocabulary" name="cdtuvn" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                <% 
                                for (var i = 0; i < day_tp.length; i++) 
                                { %>
                                <option value="<%=day_tp[i].id%>" data-subtext="<%=day_tp[i].day%>"><%- day_tp[i].title %></option>
                                <% 
                                } %>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">                                  
                    <button class="btn btn-primary pull-right">Add/Edit</button>
                </div>
            </div>
            </form>
            
        </div>
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable" id="example">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Vocabulary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < vocabulary_config.length; i++) { %>
                                <tr>
                                    <td><%= vocabulary_config[i].day %></td>
                                    <td><%= vocabulary_config[i].list_keyword %></td>
                                   
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>                                
    
</div>
<script type="text/javascript">
    $('#example').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
</script>
<!-- PAGE CONTENT WRAPPER --> 
