<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="admin/vocabulary">
            <input type="hidden" name="type" value="calendar_edit">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Edit</strong> Vocabulary config</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Date</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input readonly type="date" name="calendar" value="<%= vocabulary_config.day %>" placeholder="" class="form-control">
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">List Vocabulary</label>
                        <div class="col-md-6 col-xs-12">                                
                            
                                <% var list = vocabulary_config.listvocabulary.split(";")%>
                                <% for(i=0 ;i < list.length;i++){%>
                                    <% var list_bak = JSON.parse(list[i]) %>
                                    <%=i+1%>
                                    <select id="idvocabulary" name="idvocabulary_<%=i%>" class="form-control select">
                                        <% for (j=0;j< vocabulary.length;j++){%>
                                            <option value='{"keyword":"<%= vocabulary[j].keyword %>","phonetic":"<%= vocabulary[j].phonetic %>","content":"<%= vocabulary[j].content %>","image":"<%= vocabulary[j].image %>","audio":"<%= vocabulary[j].audio %>"}' <%if(vocabulary[j].keyword == list_bak.keyword){ %>
                                            selected 
                                            <%}%> >
                                            <%=vocabulary[j].keyword%>  
                                            </option>
                                        <% } %>
                                    </select>
                                <%} %> 
                            
                        </div>
                    </div>

                </div>
                <div class="panel-footer">                                  
                    <button class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
