
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Vocabulary</li>
        </ul>
        <!-- END BREADCRUMB -->
        
        <!-- PAGE CONTENT WRAPPER -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Chỉnh sửa thông tin cơ bản của từ vựng</a></li>
            <li><a data-toggle="tab" href="#menu1">Chỉnh sửa thông tin <b> ảnh </b>của từ vựng</a></li>
            <li><a data-toggle="tab" href="#menu2">Chỉnh sửa thông tin <b>âm thanh </b>của từ vựng</a></li>
    <!--         <li><a data-toggle="tab" href="#menu3">Menu 3</a></li> -->
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Basic</h3>
                <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" action="admin/vocabulary" enctype="multipart/form-data" id="usrform">
                    <input type="hidden" name="type" value="edit_basic">
                    <input type="hidden" name="id" value="<%= vocabulary._id %>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Edit</strong> Vocabulary: <%= vocabulary.keyword %></h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Keyword</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="keyword" value="<%= vocabulary.keyword %>" type="text" class="form-control"/>
                                        <input name="keyword2" value="<%= vocabulary._id %>" type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>

                             <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Phonetic</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="phonetic" value="<%= vocabulary.phonetic %>" type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Content</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <textarea name="content" id="giaithich" value=""  class="form-control" form="usrform"><%= vocabulary.content %></textarea>
                                    </div>                                            
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">                                  
                            <button class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>      
            </div>


            <!-- Image -->
            <div id="menu1" class="tab-pane fade">
              <h3>Image</h3>
                <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" action="admin/vocabulary" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="edit_image">
                    <input type="hidden" name="id" value="<%= vocabulary._id %>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Edit</strong> Vocabulary: <%= vocabulary.keyword %></h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
            

                             <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Upload lại image đã có này việc này bao gồm việc chúng tôi sẽ xóa ảnh cũ va up ảnh mới</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-picture-o"></span></span>
                                        <img src="<%= vocabulary.image %>">
                                        <input name="file" value="" type="file" class="form-control"/>
                                        <input type="hidden" name="image_old" value="<%= vocabulary.image %>">
                                    </div>                                            
                                </div>
                            </div>

                           

                           

                        </div>
                        <div class="panel-footer">                                  
                            <button class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>      
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Audio</h3>
                <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" action="admin/vocabulary" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="edit_audio">
                    <input type="hidden" name="id" value="<%= vocabulary._id %>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Edit</strong> Vocabulary: <%= vocabulary.keyword %></h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                            


                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Upload lại audio đã có này bao gồm việc xóa audio up audio mới</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-volume-up"></span></span>
                                        <audio controls>
                                          <source src="horse.ogg" type="audio/ogg">
                                          <source src="<%= vocabulary.audio %>" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio>
                                        <input name="audio"  type="file" class="form-control"/>
                                        <input type="hidden" name="audio_old" value="<%= vocabulary.audio %>">
                                    </div>                                            
                                </div>
                            </div>

                           

                        </div>
                        <div class="panel-footer">                                  
                            <button class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>      
            </div>
           <!--  <div id="menu3" class="tab-pane fade">
              <h3>Audio</h3>
              <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div> -->
        </div>
        <!-- END PAGE CONTENT WRAPPER -->                                                
    </div>            
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER