<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Vocabulary Exercise</li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List Exercise <a href="admin/vocabulary/exercises/add" class="btn btn-danger btn-xs">Add new</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Nội dung</th>
                               <!--  <th>Image</th>
                                <th>Audio</th> -->
                                <th>Option 1</th>
                                <th>Option 2</th>
                                <th>Option 3</th>
                                <th>Option 4</th>
                                <th>Giải thích</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < exercises.length; i++) { %>
                            <tr>
                                <td><%= exercises[i].type %></td>
                                <% var content = JSON.parse(exercises[i].content);%>
                                <td><%- content.content %></td>
                                <!-- <td><textarea cols="5" rows="2"><%= exercises[i].image %></textarea></td>
                                <td><textarea cols="5" rows="2"><%= exercises[i].audio %></textarea></td> -->
                                <td><%= content.option1 %></td>
                                <td><%= content.option2 %></td>
                                <td><%= content.option3 %></td>
                                <td><%= content.option4 %></td>
                                <td><%- content.giaithich %></td>
                                <td>
                                  <a href="admin/vocabulary/exercises/edit?id=<%= exercises[i]._id %>" class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></a>
                                  <a href="admin/vocabulary/exercises/delete?id=<%= exercises[i]._id %>" class="btn btn-danger btn-rounded btn-sm" onClick="delete_row('trow_1');"><span class="fa fa-times"></a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <style>
                .delete_phonetic{margin-right:10px;}
            </style>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
