
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Vocabulary</li>
        </ul>
        <!-- END BREADCRUMB -->
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="POST" action="admin/vocabulary" enctype="multipart/form-data" id="usrform">
                    <input type="hidden" name="type" value="exercise_add_1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Add new</strong> Vocabulary (Hình ảnh lộn xộn)</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Upload hình ảnh lộn xộn</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-picture-o"></span></span>
                                        <input name="image_lx" value="" type="file" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Đáp án sau khi sắp xếp</label>
                                <div class="col-md-6 col-xs-12">                                
                                    <select id="answer" name="answer_1" class="form-control select">
                                        <% 
                                        for (var i = 0; i < vocabulary.length; i++) 
                                        { %>
                                        <option value='<%= vocabulary[i].id %>,<%= vocabulary[i].keyword %>'><%= vocabulary[i].keyword %></option>
                                        <% 
                                        } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Giải thích</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <textarea name="giaithich" style="" form="usrform" id="giaithich">Nhập vào đây...</textarea>
                                    </div>                                            
                                </div>
                            </div> 
                        <div class="panel-footer">                                  
                            <button type="submit" class="btn btn-primary pull-right">submit</button>
                        </div>
                    </form>   
                </div>
            </div>  

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="POST" action="admin/vocabulary" enctype="multipart/form-data" id="usrform">
                    <input type="hidden" name="type" value="exercise_add_2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Add new</strong> Vocabulary2 (Điên đoạn văn thiếu chữ)</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Đoạn văn thiếu chữ</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="dvtc" value="" type="text" class="form-control" id="giaithich1" />
                                    </div>                                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Đáp án</label>
                                <div class="col-md-6 col-xs-12">                                
                                    <select id="answer" name="answer_2" class="form-control select">
                                        <% 
                                        for (var i = 0; i < vocabulary.length; i++) 
                                        { %>
                                        <option value='<%= vocabulary[i].id %>,<%= vocabulary[i].keyword %>'><%= vocabulary[i].keyword %></option>
                                        <% 
                                        } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Giải thích</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <textarea name="giaithich1" form="usrform" id="giaithich12">Nhập vào đây...</textarea>
                                    </div>                                            
                                </div>
                            </div> 
                        <div class="panel-footer">                                  
                            <button type="submit" class="btn btn-primary pull-right">submit</button>
                        </div>
                    </form>   
                </div>
            </div> 

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="POST" action="admin/vocabulary" enctype="multipart/form-data" id="usrform">
                    <input type="hidden" name="type" value="exercise_add_3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Add new</strong> Vocabulary3 (Nghe đoạn audio chọn từ )</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Âm thanh được nghe tương ứng với từ nào</label>
                                 <div class="col-md-6 col-xs-12">                                
                                    <select id="answer" name="answer_3" class="form-control select">
                                        <% 
                                        for (var i = 0; i < vocabulary.length; i++) 
                                        { %>
                                        <option value='<%= vocabulary[i].id %>,<%= vocabulary[i].keyword %>,<%= vocabulary[i].audio %>'><%= vocabulary[i].keyword %></option>
                                        <% 
                                        } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Giải thích</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <textarea name="giaithich2"  form="usrform" id="giaithich2">Nhập vào đây...</textarea>
                                    </div>                                            
                                </div>
                            </div> 
                        <div class="panel-footer">                                  
                            <button type="submit" class="btn btn-primary pull-right">submit</button>
                        </div>
                    </form>   
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="POST" action="admin/vocabulary" enctype="multipart/form-data" id="usrform">
                    <input type="hidden" name="type" value="exercise_add_4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Add new</strong> Vocabulary4 (chọn từ multiple choice)</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                        <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Audio</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <input type="file" class="fileinput btn-primary" name="audio_4" title="Browse file"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Ảnh</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <input type="file" class="fileinput btn-primary" name="image_lx_4" title="Browse file"/>
                            </div>                                            
                        </div>
                    </div>
                         
                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Question</label>
                            <div class="col-md-11 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <textarea name="huy" id="giaithich13" class="form-control"/></textarea>
                                </div>                                            
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Option 1</label>
                            <div class="col-md-11 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input name="option1" value="" type="text" class="form-control"/>
                                </div>                                            
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Option 2</label>
                            <div class="col-md-11 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input name="option2" value="" type="text" class="form-control"/>
                                </div>                                            
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Option 3</label>
                            <div class="col-md-11 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input name="option3" value="" type="text" class="form-control"/>
                                </div>                                            
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Option 4</label>
                            <div class="col-md-11 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input name="option4" value="" type="text" class="form-control"/>
                                </div>                                            
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Giải thích</label>
                            <div class="col-md-11 col-xs-12">                                            
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <textarea id="giaithich14" name="giaithich" type="text" class="form-control"></textarea>
                                </div>                                            
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Answer</label>
                            <div class="col-md-11 col-xs-12">                                
                                <select id="answer" name="answer" class="form-control select">
                                    <option value="A">Option 1</option>
                                    <option value="B">Option 2</option>
                                    <option value="C">Option 3</option>
                                    <option value="D">Option 4</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="col-md-1 col-xs-12 control-label">Topic</label>
                                 <div class="col-md-11 col-xs-12">
                                   <!--  <input type="text" size="30"  id="textsearch"> -->
                                    <!-- <div id="livesearch"></div> -->                                
                                    <!-- <select id="idparent" name="idparent" class="form-control select">
                                        
                                    </select> -->
                                    
                                    <select class="selectpicker" data-show-subtext="true" data-live-search="true" name="idparent" >
                                    <% 

                                        for (var i = 0; i < vocabulary.length; i++) 
                                        { %>
                                        <option value='<%= vocabulary[i].id %>' data-subtext="<%=vocabulary[i].phonetic%>"><%= vocabulary[i].keyword %></option>
                                        <% 
                                    } %>
                                    </select>
                                    
                                </div>
                            </div>

                        <div class="panel-footer">                                  
                            <button type="submit" class="btn btn-primary pull-right">submit</button>
                        </div>
                    </form>   
                </div>
            </div>                               
        </div>
        <!-- END PAGE CONTENT WRAPPER --> 
       
<script type="text/javascript">
 
    // function keyupFunction(data_nhan) {
    //     $.ajax({
    //         url : "/admin/vocabulary/get_livesearch", // gửi ajax đến file result.php
    //         type : "get", // chọn phương thức gửi là get

    //         data : { // Danh sách các thuộc tính sẽ gửi đi
    //              str_send : data_nhan
    //         },
    //         success : function (result){
    //             $("#search").html(result);
    //         }
    //     });
    // }

</script>                                               
    </div>            
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

