    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Vocabulary_ex</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" method="POST" action="admin/vocabulary" enctype="multipart/form-data" id="usrform">
                <input type="hidden" name="type" value="edit_voca_ex_4">
                <input type="hidden" name="id" value="<%=exercises[0].id%>">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Edit</strong> Vocabulary4 (chọn từ multiple choice)</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <p></p>
                    </div>
                    <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Audio</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <input type="file" class="fileinput btn-primary" name="audio_4" title="Browse file"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Ảnh</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <input type="file" class="fileinput btn-primary" name="image_lx_4" title="Browse file"/>
                            </div>                                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Question</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <% var content = JSON.parse(exercises[0].content) %>
                                <textarea name="huy" id="giaithich" class="form-control"/><%-content.content%></textarea>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 1</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option1" value="<%-content.option1%>" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 2</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option2" value="<%-content.option2%>" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 3</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option3" value="<%-content.option3%>" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 4</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option4" value="<%-content.option4%>" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Giải thích</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <textarea id="giaithich1" name="giaithich" type="text" class="form-control"><%-content.giaithich%></textarea>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Answer</label>
                        <div class="col-md-11 col-xs-12">                                
                            <select id="answer" name="answer" class="form-control select">
                                <option value="A" <%if (content.answer == 'A') {%>selected<%}%> >Option 1</option>
                                <option value="B" <%if (content.answer == 'B') {%>selected<%}%> >Option 2</option>
                                <option value="C" <%if (content.answer == 'C') {%>selected<%}%> >Option 3</option>
                                <option value="D" <%if (content.answer == 'D') {%>selected<%}%> >Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-1 col-xs-12 control-label">Topic</label>
                             <div class="col-md-11 col-xs-12">                                
                                <select id="idparent" name="idparent" class="form-control select">
                                    <% 
                                    for (var i = 0; i < vocabulary.length; i++) 
                                    { %>
                                    <option value='<%= vocabulary[i].id %>' <%if(exercises[0].idparent == vocabulary[i].id){%> selected <%}%> ><%= vocabulary[i].keyword %></option>
                                    <% 
                                    } %>
                                </select>
                            </div>
                        </div>

                    <div class="panel-footer">                                  
                        <button type="submit" class="btn btn-primary pull-right">submit</button>
                    </div>
                </form>   
            </div>
        </div>                               
    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                                
</div>            
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER