<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="admin/grammar/list">
            <input type="hidden" name="type" value="calendar_edit">
            <input type="hidden" name="id" value="calendar_edit">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Edit Grammar config</strong></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Date</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input readonly type="date" name="calendar" value="<%= grammar_config.day %>" placeholder="" class="form-control">
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">ID Grammar</label>
                        <div class="col-md-6 col-xs-12">                                
                            <select id="idgrammar" name="idgrammar" class="form-control select">
                                <% for (var i = 0; i < grammar.length; i++) { %>
                                <option <% if(grammar[i].id == grammar_config.grammar[0]._id){ %>selected<%} %> value="<%= grammar[i].id %>"><%= grammar[i].title %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">                                  
                    <button class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
