<style type="text/css">
	.panel-body{
		overflow-x: scroll; 
	}
    #hidden_c {
    overflow: auto;
    display: block;
    height: 200px;
    width: 800px !important;
}

img.img{
    height: 200px;
    width: 200px;
}

</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Vocabulary</li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List Vovabulary <a href="admin/vocabulary/add" class="btn btn-danger btn-xs">Add new</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Keyword</th>
                                <th>Phonetic</th>
                                <th>Content</th>
                                <th>Link audio</th>
                                <th>Link image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < vocabulary.length; i++) { %>
                            <tr>
                                <td><b><%= vocabulary[i].keyword %></b></td>
                                <td><%= vocabulary[i].phonetic %></td>
                                <td  id="hidden_c"><%- vocabulary[i].content %></td>
                                <td><audio controls>
                                  <source src="<%= vocabulary[i].audio %>" type="audio/mpeg">
                                Your browser does not support the audio element.
                                </audio></td>
                                <td id="hidden_d"><img src="<%= vocabulary[i].image %>" class="img"/></td>
                                <td>
                                  <a href="admin/vocabulary/edit?id=<%= vocabulary[i]._id %>" class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></a>
                                  <a href="admin/vocabulary/delete?id=<%= vocabulary[i]._id %>" class="btn btn-danger btn-rounded btn-sm" onClick="delete_row('trow_1');"><span class="fa fa-times"></a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <style>
                .delete_phonetic{margin-right:10px;}
            </style>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
