<div>
    <div>    
         <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Vocabulary_add_week</li>
        </ul>
        <!-- END BREADCRUMB -->
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
        
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="POST" action="admin/vocabulary/" enctype="multipart/form-data" id="usrform">
                    <input type="hidden" name="type" value="week_add">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Thêm</strong> chủ điểm tuần</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                            <!-- Thứ tự tuần -->
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Tuần</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <select name="idweek" class="selectpicker" data-show-subtext="true" data-live-search="true">
                                            <%for (var i = 1; i < 17; i++) {%>
                                                <option value="<%=i%>"><%=i%></option>  
                                            <%}%>
                                        </select>
                                    </div>                                            
                                </div>
                            </div>
                            <!-- Tên chủ điểm tuần -->
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Chủ điểm tuần</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="cdt" value="" type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>
                            <!-- Có cần nội dung tuần không -->
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Nội dung</label>
                                <div class="col-md-6 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <textarea name="content" id="giaithich" form="usrform">Enter text here...</textarea>
                                    </div>                                            
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">                                  
                            <button type="submit" class="btn btn-primary pull-right">submit</button>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>                    
            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->                                                
    </div>            
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER