<style type="text/css">
	td, th{
		padding: 5px !important;
		}
	* {
  		margin: 0; padding: 0;
	}
	body {
	  font-size: 100%;
	}
	.accordion {
	  width: 100%;
	  margin: 0px auto !important;
	}
	.accordion h1 {
	  cursor: pointer;
	}
	.col-md-3 col-sm-3 col-xs-3 col-navi{
		height: auto !important;
	}
	.accordion h1 {
	  padding: 15px 20px;
	  font-size: 1.5rem;
	  font-weight: normal;
	  margin: 0 !important;
	  color: white;
	}
	.accordion h1:hover {
	   color: white;
	   font-weight:bold;
	}
	.col-navi{
		padding: 0px !important;
	}
	.accordion h1:not(:last-of-type) {
	  border-bottom: 1px solid white;
	}
	.accordion h3:hover {
	  background-color: #63B8FF;
	  font-size: 15px;
	  position: relative;
	  left: 5px;
	}
	.accordion .opened-for-codepen {
	  display: none;
	}
	.accordion h3 {
	    padding: 10px 25px;
	    background-color: #3ba1d4;
	    font-size: 15px;
	    color: #fff;
	    cursor: pointer;
	    margin: 0 !important;
	    border-bottom: 1px solid #fff;
	}

</style>
<div class="wrap" > 	
<header class="page-header">
	<div class="container">
		<a href="#">
			<img src="frontend/assets/images/logo/2.png">
		</a>							
	</div>
	<!-- container -->
</header>	
<main class="page-content">
	<div class="banner-small">
		<img src="frontend/assets/images/skill/banner.jpg">
	</div>
	<div class="navigation navigation--subpage" id="navigation">
		<div class="container">
			<div class="page-title">
				<img src="frontend/assets/images/skill/2.png">
				<span class="screen-reader-text">Grammar</span>
			</div>
			<% include ./../layout/navigation %>
		</div>
		<!-- container -->
	</div>
	<div class="area-01">
		<div class="container">
			<div class="box" style="height:100%;display:inline-block;width:100%">
				<div class="row ul-mh tab tab--vocab" style="height:1580px;" >
					<div class="col-md-3 col-sm-3 col-xs-3 col-navi"  >
						<aside class="accordion"  style="height:auto !important;">
								
								<h1>WORD USAGE  <i class="fa fa-plus-square" aria-hidden="true" style="float:right"></i></h1>
								<div class="opened-for-codepen">
									<% for (var j = 0; j < grammar1.length; j++) {
							 		%>
										<h3 data-file="<%= grammar1[j].file_upload %>" class= "content_grammar" data-id="<%= grammar1[j].id %>"><%= grammar1[j].title %> </h3>
									<% } %>
								</div>
								
								<h1 class="">TENSE <i id="add" class="fa fa-plus-square" aria-hidden="true" style="float:right"></i></h1>
								<div class="opened-for-codepen">
									<% for (var j = 0; j < grammar.length; j++) {
							 		%>
										<h3 data-file="<%= grammar[j].file_upload %>"class= "content_grammar " data-id="<%= grammar[j].id %>"><%= grammar[j].title %> </h3>
									<% } %>
								</div>

								<h1>SENTENCE STRUCTURE  <i class="fa fa-plus-square" aria-hidden="true" style="float:right"></i></h1>
								<div class="opened-for-codepen">
									<% for (var j = 0; j < grammar2.length; j++) {
							 		%>
										<h3 data-file="<%= grammar2[j].file_upload %>" class= "content_grammar" data-id="<%= grammar2[j].id %>"><%= grammar2[j].title %> </h3>
									<% } %>
								</div>

								

								<h1>QUESTION<i class="fa fa-plus-square" aria-hidden="true" style="float:right"></i></h1>
								<div class="opened-for-codepen">
									<% for (var j = 0; j < grammar3.length; j++) {
							 		%>
										<h3 data-file="<%= grammar3[j].file_upload %>" class= "content_grammar" data-id="<%= grammar3[j].id %>"><%= grammar3[j].title %> </h3>
									<% } %>
								</div>

								<h1>MODAL VERB <i class="fa fa-plus-square" aria-hidden="true" style="float:right"></i></h1>
								<div class="opened-for-codepen">
									<% for (var j = 0; j < grammar4.length; j++) {
							 		%>
										<h3 data-file="<%= grammar4[j].file_upload %>" class= "content_grammar" data-id="<%= grammar4[j].id %>"><%= grammar4[j].title %> </h3>
									<% } %>
								</div>
						</aside>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 col-content" style="overflow-y:scroll;background:#eaeaea;" >
						<% for (var j = 0; j < grammar.length; j++) {
								var file = grammar[j].file_upload
						 %>
						<div class="tab__content <% if(j == 0){%>active<%} %>" id="tab__content-<%= (j+1) %>">
							<div style="font-size: 15px" class="content_grammar1" data-file="<%= grammar[0].file_upload %>"><%- grammar[0].content %></div>
						</div>
						<% } %>
						<a href="exercise.html" class="btn-blue pull-right">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
						<a  id="download"  download class="btn-blue pull-left">Tải về<i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				<!-- row -->
			</div>
		</div>
		<!-- container -->
	</div>

</main>		
<% include ./../layout/footer %>
</div>
<script type="text/javascript">
	


	var headers = ["H1"];
	var abc="http://ncsb.topicanative.edu.vn/uploads/grammar/file/Presentsimple.docx"
	$(".accordion").click(function(e) {
	  var target = e.target,name = target.nodeName.toUpperCase();
	  
	if($.inArray(name,headers) > -1) {
	    var subItem = $(target).next();
	    
	    //slideUp all elements (except target) at current depth or greater
	    var depth = $(subItem).parents().length;
	    var allAtDepth = $(".accordion p, .accordion div").filter(function() {
	      if($(this).parents().length >= depth && this !== subItem.get(0)) {
	        return true; 
	      }
	    });
	    $(allAtDepth).slideUp("fast");
	    
	    //slideToggle target content and adjust bottom border if necessary
	    subItem.slideToggle("fast",function() {
	        $(".accordion :visible:last").css("border-radius","0 0 0px 0px");
	    });
	    $(target).css({"border-bottom-right-radius":"0", "border-bottom-left-radius":"0"});
	  }
	});

	$(document).on("click","h3.content_grammar",function() {
		var t = $(this)
		$.ajax({
	        url : "/grammar/getdata", // gửi ajax đến file result.php
	        type : "get", // chọn phương thức gửi là get
	        data : { // Danh sách các thuộc tính sẽ gửi đi
	            dataid : $(this).attr("data-id")
	        },
	        success : function (result){
	        	abc = t.attr("data-file");
	        	$(".content_grammar1").html(result);
	        }
	    });
	});

		$(document).on("click","#download",function() {
			$('#download').attr('href',abc);
		});

		$( ".accordion h1" ).click(function() {			
			$(".accordion h1 i").removeClass('fa fa-minus-square-o').addClass('fa fa-plus-square');
			var t = $(this)
		  	var abc = t.find('i').attr('class');
		  	if(abc == 'fa-plus-square fa'){
		  		t.find('i').removeClass('fa fa-plus-square').addClass('fa fa-minus-square-o');
		  	}else{
		  		t.find('i').removeClass('fa fa-minus-square-o').addClass('fa fa-plus-square');
		  	}
		});
		
</script>