<style type="text/css">
	td, th{
		padding: 5px !important;
		}
</style>
<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title" id="grammar">
						<img src="frontend/assets/images/skill/1.png">
						<span class="screen-reader-text">Grammar</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<% include ./../layout/todayinfo %>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="phonetic-wrapper">
							<div><%- grammar.grammars[0].content %></div>
						</div>
						<a href="exercise.html?date=<%=day%>" class="btn-blue pull-right">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
						<a href="http://ncsb.topicanative.edu.vn/<%= grammar.grammars[0].file_upload ;%>" download class="btn-blue pull-left" style="margin-left: 5px">Tải về<i class="fa fa-angle-double-right"></i></a>

					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<% include ./../layout/footer %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				$.ajax({
		            type: "POST",
		            url: "http://ncsb.topicanative.edu.vn/ajax.html",
		            data: {type: "grammar",userid: userid,date:date,typeaction:"viewplus"},
		            success: function(result){
		            	console.log(result)
		            },
		            async: false
		        });
			});
		</script>
	</div>