<div class="wrap" > 	
<header class="page-header">
	<div class="container">
		<a href="#">
			<img src="frontend/assets/images/logo/2.png">
		</a>							
	</div>
	<!-- container -->
</header>	
<main class="page-content">
	<div class="banner-small">
		<img src="frontend/assets/images/skill/banner.jpg">
	</div>
	<div class="navigation navigation--subpage" id="navigation">
		<div class="container">
			<div class="page-title">
				<img src="frontend/assets/images/skill/2.png">
				<span class="screen-reader-text">Vocabulary</span>
			</div>
			<% include ./../layout/navigation %>
		</div>
		<!-- container -->
	</div>
	<div class="area-01">
		<div class="container">
			<div class="box">
				<div class="row ul-mh tab tab--vocab">
					<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
						<ul class="tab__navi ">
							<% for (var i = 0; i < phonetics.length; i++) { %>
							<li class="<% if(i == 0){%>active<%} %>">
								<a class="anhlh2" href="#tab__content-<%= (i+1) %>" data-toggle="tab">Phonetic #<%= (i+1) %> <%= phonetics[i].title %></a>
							</li>
							<% } %>
						</ul>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 col-content" id="playerID">
						<% for (var i = 0; i < phonetics.length; i++) { %>
						<div class="tab__content <% if(i == 0){%>active<%} %>" id="tab__content-<%= (i+1) %>">
							<div class="phonetic-wrapper">
								<iframe height="100%" width="100%" src="https://www.youtube.com/embed/<%= phonetics[i].video_link %>?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<% } %>
						<a href="exercise/phonetics.html" class="btn-blue">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
				<!-- row -->
			</div>
		</div>
		<!-- container -->
	</div>

</main>		
<% include ./../layout/footer %>
</div>