<div class="wrap" > 	
	<header class="page-header">
		<div class="container">
			<a href="#">
				<img src="frontend/assets/images/logo/2.png">
			</a>							
		</div>
		<!-- container -->
	</header>	
	<main class="page-content">
		<div class="banner-small" style="max-height: 330px;overflow: hidden;">
			<img src="frontend/assets/images/skill/banner.jpg">
		</div>
		<div class="navigation navigation--subpage" id="navigation">
			<div class="container" id="phonetics">
				<div class="page-title">
					<img src="frontend/assets/images/skill/1.png">
					<span class="screen-reader-text">Phonetics</span>
				</div>
				<% include ./../layout/navigation %>
			</div>
			<!-- container -->
		</div>
		<% include ./../layout/todayinfo %>
		<div class="area-01">
			<div class="container">
				<div class="box">
					<div class="phonetic-wrapper">
						<iframe height="100%" width="100%" src="https://www.youtube.com/embed/<%= phonetics.phonetics[0].video_link %>" frameborder="0" allowfullscreen></iframe>
					</div>
					<a href="vocabulary.html?date=<%= date %>#vocabulary" class="btn-blue">Học từ vựng<i class="fa fa-angle-double-right"></i></a>
				</div>
			</div>
			<!-- container -->
		</div>

	</main>		
	<% include ./../layout/footer %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$.ajax({
	            type: "POST",
	            url: "http://ncsb.topicanative.edu.vn/ajax.html",
	            data: {type: "phonetic",userid: userid,date:date,typeaction:"viewplus"},
	            success: function(result){
	            	console.log(result)
	            },
	            async: false
	        });
		});
	</script>
</div>