<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="frontend/assets/images/logo/favicon.ico">
	<base href="http://ncsb.topicanative.edu.vn/">
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/style-voca.css" media="all" >  
	
</head> 
<body>
	
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="frontend/assets/images/skill/2.png">
						<span class="screen-reader-text">Exercise</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="row">
							<div class="col-md-5 col-sm-5 col-xs-5">
								<div class="hobby_item" id="anhlh2">
									<img src="frontend/assets/images/hobby/bg.jpg">
									<h4 id="name_week"><%= week_current.name_week %></h4>
									<% for (var i = 0; i < weeks.length; i++) { %>
									<a href="#hobby_entry--<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %>" class="hobby_icon hobby_icon--<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %> <% if((i+1) == week_current.week){ %>active<% } %>" data-title="<%= weeks[i].name_week %>" data-id="<%= weeks[i]._id %>">
									<% switch (i){
									case 0: %>
									<i class="fa fa-gamepad" aria-hidden="true"></i>
									<% break;
									case 1: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 2: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 3: %>
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<% break;
									case 4: %>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
									<% break;
									case 5: %>
									<i class="fa fa-briefcase" aria-hidden="true"></i>
									<% break;
									case 6: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 7: %>
									<i style="margin-left: 15px;" class="fa fa-map-marker" aria-hidden="true"></i>
									<% break;
									case 8: %>
									<i class="fa fa-heart" aria-hidden="true"></i>
									<% break;
									case 9: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 10: %>
									<i class="fa fa-music" aria-hidden="true"></i>
									<% break;
									case 11: %>
									<i class="fa fa-cutlery" aria-hidden="true"></i>
									<% break;
									case 12: %>
									<i class="fa fa-smile-o" aria-hidden="true"></i>
									<% break;
									case 13: %>
									<i class="fa fa-leaf" aria-hidden="true"></i>
									<% break;
									default :
									%>
									<i class="fa fa-home" aria-hidden="true"></i>
									<%
									break;
									} %>
									</a>
									<% } %>
								</div>
							</div>
							<!-- col-md-5 -->
							<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1">
								<% for (var i = 0; i < weeks.length; i++) { %>
								<div class="hobby_entry <% if((i+1) == week_current.week){ %>active<% } %>" id="hobby_entry--<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %>">
									<h4 class="entry-title"><%= weeks[i].name_week %></h4>
									<div class="entry-content">
										<ul><% if((i+1) == week_current.week){
											for (var j = 0; j < days.length; j++) { %>
											<li><a href="exercise.html?date=<%- days[j].day %>"><%- days[j].title %></a></li>
											<% }} %></ul>
									</div>
									<div class="mt-30">
										<a href="exercise/week.html?week=<%= (i+1) %>" class="btn--blue">Làm bài tập<i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<% } %>
							</div>
							<!-- col-md-6 -->
						</div>
						<!-- row --> 

					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<% include ./../layout/footer %>
	</div>

	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jQuery-plugin-progressbar.js"></script>
	<script type="text/javascript" src="frontend/assets/js/main-vss.js"></script>
	<script>
		$(document).ready(function() {
			$('.hobby_icon').click(function(event) {
				var t = $(this)
				var title = t.attr('data-title');
				var id = t.attr('data-id');
				var href = t.attr('href');
				var add = $(href).find('ul').html().length;
				$('#name_week').html(title)
				if(add == 0){
					$.ajax({
	                    type: "POST",
	                    url: "exercise/action",
	                    data: {type: 'days',week_id:id},
	                    success: function(result){
	                    	$(href).find('ul').html(result)
	                    },
	                    async: false
	                });
				}	
			});
		});
	</script>
	<style>
		#anhlh2 .active i{color:#474747 !important;font-size: 55px;margin-left: 5px;}
		#anhlh2 a i{color:#fff;font-size: 45px;margin-left: 8px;transition: all .5s;text-align: center;}
		#anhlh2 a{text-align: center;}
	</style>
</body>
</html>