<script>
	var userid = '<%= userid %>'
	var date = '<%= date %>'
</script>
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title" id="exercise">
						<img src="frontend/assets/images/skill/3.png">
						<span class="screen-reader-text">Exercise</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<% include ./../layout/todayinfo %>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="exercise-wrapper exercise-wrapper--full">
							<form name="" method="post" action="exercise.html" autocomplete="off">
								<div class="questions">
									<% 
									var index = 1
									for (var i = 0; i < exercises.length; i++) { 
										var content = JSON.parse(exercises[i].content);
									if(exercises[i].type == 'phonetics'){ %>
									<div class="question question--audio">
										<div class="question__info">
											<span class="question__number"><%= index %></span>
											<p class="question__title"><%= content.content %></p>
										</div>
										<div class="question__content">
											<div class="question__answer">
												<p>
													<input id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
													<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
												</p>
												<p>
													<input id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
													<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
												</p>
												<% if (content.option3 != '') { %>
												<p>
													<input id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
													<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
												</p>
												<% } %>
												<% if (content.option4 != '') { %>
												<p>
													<input id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
													<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
												</p>
												<% } %>
											</div>
											<div class="question__data">
												<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio" title="Bấm để nghe âm thanh">
													<audio src="http://ncsb.topicanative.edu.vn/uploads/phonetics/audio/<%= exercises[i]._id %>.mp3">
													</audio>
												</a>
											</div>
											<div class="hint">
												
											</div>
											<!-- question__data -->
										</div>
									</div>
									<% }
									if(exercises[i].type == 'grammar'){ %>
									<div class="question">
										<div class="question__info">
											<span class="question__number"><%= index %></span>
											<p class="question__title"><%- content.option %></p>
										</div>
										<div class="question__content">
											<div class="question__answer">
												<div class="row">
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
														<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
													</p>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
														<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
													</p>
												</div>
												<!-- row --> 
												<div class="row">
													<% if (content.option3 != '') { %>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
														<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
													</p>
													<% } %>
													<% if (content.option4 != '') { %>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
														<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
													</p>
													<% } %>
												</div>
												<div class="hint">
													
												</div>
												<!-- row --> 
											</div>
											<!-- question__answer -->
										</div>
									</div>
									<% } 
									if(exercises[i].type == 'voca4'){ %>
									<div class="question">
										<div class="question__info">
											<span class="question__number"><%= index %></span>
											<p class="question__title"><%- content.content %></p>
										</div>
										<div class="question__content">
											<div class="question__answer">
												<div class="row">
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
														<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
													</p>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
														<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
													</p>
												</div>
												<!-- row --> 
												<div class="row">
													<% if (content.option3 != '') { %>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
														<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
													</p>
													<% } %>
													<% if (content.option4 != '') { %>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
														<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
													</p>
													<% } %>
												</div>
												<div class="hint">
													
												</div>
												<!-- row --> 
											</div>
											<!-- question__answer -->
										</div>
									</div>
									<% } 
									index++;
									} %>
								</div>
								<!-- questions -->
								<div class="submit-wrap clearfix">
									<div class="pull-left">
										<p class="btn-submit" id="nopbai">NỘP BÀI</p>
									</div>
									<div class="pull-right">
										<a href="?date=<%= date_next %>&auto=1" class="btn-blue">Học bài kế tiếp<i class="fa fa-angle-double-right"></i></a>
									</div>								
									
								</div>
							</form>

							<!-- form -->
						</div>
						<!-- exercise-wrapper -->
						

					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<% include ./../layout/footer %>
	</div>
	<style>
		.hint{
			display: none;
    	}
    	.hint *{font-size:16px !important;}
    	.correct{
    		background:rgba(135, 199, 102, 0.53);
    		padding: 5px 10px;
    		clear: both;
    	}
    	.incorrect{
    		background:rgba(210, 129, 140, 0.78);
    		padding: 5px 10px;
    		clear: both;
    	}
		#nopbai{cursor: pointer;}
	</style>