<div class="wrap" > 	
	<header class="page-header">
		<div class="container">
			<a href="#">
				<img src="frontend/assets/images/logo/2.png">
			</a>							
		</div>
	</header>	
	<main class="page-content">
		<div class="navigation navigation--subpage" id="navigation">
			<div class="container">
				<div class="page-title" id="exercise">
					<img src="frontend/assets/images/skill/3.png">
					<span class="screen-reader-text">Exercise</span>
				</div>
				<% include ./../layout/navigation %>
			</div>
		</div>
		<div class="area-01">
			<div class="container">
			<div class="chart_anhlh2">
				<span style="bottom:51px;left:32px;"></span>
				<span style="bottom:102px;left:96px;"></span>
				<span style="bottom:153px;left:160px;"></span>
				<span style="bottom:255px;left:224px;"></span>
				<span style="bottom:255px;left:288px;"></span>
				<span style="bottom:255px;left:352px;"></span>
				<span style="bottom:255px;left:416px;"></span>
				<span style="bottom:255px;left:480px;"></span>
				<span style="bottom:255px;left:524px;"></span>
				<span style="bottom:255px;left:590px;"></span>
			</div>
			</div>
		</div>
	</main>		
</div>
<style>
	.chart_anhlh2{width: 899px;height: 521px;background: url('frontend/assets/images/wg/chart.png');margin: 30px auto;position: relative;}
	.chart_anhlh2:after{position: absolute;bottom: 0px;left: -95px;content: "";display: block; height: 543px;width: 100px;background: url('frontend/assets/images/wg/chart-y.png');}
	.chart_anhlh2:before{position: absolute;bottom: -33px;left: 0px;content: "";display: block; height: 36px;width: 895px;background: url('frontend/assets/images/wg/chart-x.png');}
	.chart_anhlh2 span{border: 2px solid #ff5113;width:10px;height:10px;display:block;background: #fff;border-radius: 100%;position: absolute;}
	.chart_anhlh2 span:nth-last-child(1):before{background: url('frontend/assets/images/wg/man.png');content:"";width: 40px;height: 40px;display: block;background-size: 100%;margin-left: -17px;
    margin-top: -45px;}
</style>