<div class="wrap" > 	
<header class="page-header">
	<div class="container">
		<a href="#">
			<img src="frontend/assets/images/logo/2.png">
		</a>							
	</div>
	<!-- container -->
</header>	
<main class="page-content">
	<div class="banner-small">
		<img src="frontend/assets/images/skill/banner.jpg">
	</div>
	<div class="navigation navigation--subpage" id="navigation">
		<div class="container">
			<div class="page-title">
				<img src="frontend/assets/images/skill/2.png">
				<span class="screen-reader-text">Vocabulary</span>
			</div>
			<% include ./../layout/navigation %>
		</div>
		<!-- container -->
	</div>
	<div class="area-01">
		<div class="container">
			<div class="box">
				<div class="row ul-mh tab tab--vocab">
					<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
						<ul class="tab__navi ">
							<% var index = 0;
							for (var i = 0; i < grammars.length; i++) { 
							grammar = grammars[i].grammars
							%>
							<li class="<% if(i == 0){%>active<%} %>">
								<span class="level1">#<%= (i+1) %> <%= grammars[i].title %></span>
							</li>
							<% for (var j = 0; j < grammar.length; j++) { %>
							<li>
								<a data-id="<%= grammar[j]._id %>" class="level2 grammar_exercise" href="#tab__content-<%= index %>" data-toggle="tab"><%= grammar[j].title %></a>
							</li>
							<%
							index++ 
							} 
							} %>
						</ul>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 col-content">
						<% indexa = 0;
						for (var k = 0; k < grammars.length; k++) { 
							grammar = grammars[k].grammars
						%>
						<% for (var j = 0; j < grammar.length; j++) { %>
						<div class="tab__content <% if(indexa == 0){%>active<%} %>" id="tab__content-<%= indexa %>">
							<div class="question"><% 
								if(indexa == 0){
									var index = 1
									for (var i = 0; i < exercises.length; i++) { 
										var content = JSON.parse(exercises[i].content);
									if(exercises[i].type == 'grammar'){ %>
									<div class="question">
										<div class="question__info">
											<span class="question__number"><%= index %></span>
											<p class="question__title"><%- content.option %></p>
										</div>
										<div class="question__content">
											<div class="question__answer">
												<div class="row">
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input class="snow" id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
														<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
													</p>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input class="snow" id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
														<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
													</p>
												</div>
												<!-- row --> 
												<div class="row">
													<% if (content.option3 != '') { %>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input class="snow" id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
														<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
													</p>
													<% } %>
													<% if (content.option4 != '') { %>
													<p class="col-md-6 col-sm-6 col-xs-6">
														<input class="snow" id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
														<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
													</p>
													<% } %>
												</div>
												<div style="clear: both;"></div>
												<span class="btn btn-primary btn-md show1">
													Xem đáp án
												</span>
												<div class="hint">
													
												</div>
											</div>
											<!-- question__answer -->
										</div>
									</div>
									<% }
									index++;
									}
								} %></div>
						</div>
						<% indexa ++;
						} 
						}
						%>
					</div>
				</div>
				<!-- row -->
			</div>
		</div>
		<!-- container -->
	</div>
	<style>
		.level1{color:#fff;font-size: 20px;font-weight: bold;}
		.level2{font-size: 14px;margin-left: 15px;transition: all .2s;}
		li.active .level2{font-weight: 100 !important;}
		.level2:hover{font-size: 14px !important;}
		.hint{
			display: none;
    	}
    	.hint *{font-size:16px !important;}
    	.correct{
    		background:rgba(135, 199, 102, 0.53);
    		padding: 5px 10px;
    		clear: both;
    	}
    	.incorrect{
    		background:rgba(210, 129, 140, 0.78);
    		padding: 5px 10px;
    		clear: both;
    	}
		#nopbai{cursor: pointer;}
		.show1{margin-bottom:10px;margin-left: 120px;}
	</style>
</main>		
<% include ./../layout/footer %>
</div>