<div class="wrap" > 	
<header class="page-header">
	<div class="container">
		<a href="#">
			<img src="frontend/assets/images/logo/2.png">
		</a>							
	</div>
	<!-- container -->
</header>	
<main class="page-content">
	<div class="banner-small">
		<img src="frontend/assets/images/skill/banner.jpg">
	</div>
	<div class="navigation navigation--subpage" id="navigation">
		<div class="container">
			<div class="page-title">
				<img src="frontend/assets/images/skill/2.png">
				<span class="screen-reader-text">Vocabulary</span>
			</div>
			<% include ./../layout/navigation %>
		</div>
		<!-- container -->
	</div>
	<div class="area-01">
		<div class="container">
			<div class="box">
				<div class="row ul-mh tab tab--vocab" style="height: auto !important;">
					<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
						<ul class="tab__navi ">
							<% for (var i = 0; i < phonetics.length; i++) { %>
							<li class="<% if(i == 0){%>active<%} %>">
								<a data-id="<%= phonetics[i]._id %>" class="phonetic_exercise" href="#tab__content-<%= (i+1) %>" data-toggle="tab">Phonetic #<%= (i+1) %> <%= phonetics[i].title %></a>
							</li>
							<% } %>
						</ul>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9 col-content" id="playerID">
						<% for (var j = 0; j < phonetics.length; j++) { %>
						<div class="tab__content <% if(j == 0){%>active<%} %>" id="tab__content-<%= (j+1) %>">
							<div class="phonetic-wrapper"><% if (j == 0) {
								var index = 1
								for (var i = 0; i < exercises.length; i++) {
									var content = JSON.parse(exercises[i].content); %>
									<div class="question question--audio">
										<div class="question__info">
											<span class="question__number"><%= index %></span>
											<p class="question__title"><%= content.content %></p>
										</div>
										<div class="question__content">
											<div class="question__answer">
												<p>
													<input class="snow" id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
													<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
												</p>
												<p>
													<input class="snow" id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
													<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
												</p>
												<% if (content.option3 != '') { %>
												<p>
													<input class="snow" id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
													<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
												</p>
												<% } %>
												<% if (content.option4 != '') { %>
												<p>
													<input class="snow" id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
													<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
												</p>
												<% } %>
											</div>
											<div class="question__data">
												<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio" title="Bấm để nghe âm thanh">
													<audio src="http://ncsb.topicanative.edu.vn/uploads/phonetics/audio/<%= exercises[i]._id %>.mp3">
													</audio>
												</a>
											</div>
											<div style="clear: both;"></div>
											<span class="btn btn-primary btn-md show1">
												Xem đáp án
											</span>
											<div class="hint">
												
											</div>
											<!-- question__data -->
										</div>
									</div>
								<% index++; }
							} %></div>
						</div>
						<% } %>
					</div>
				</div>
				<!-- row -->
			</div>
		</div>
		<!-- container -->
		<style>
			.hint{
				display: none;
	    	}
	    	.hint *{font-size:16px !important;}
	    	.correct{
	    		background:rgba(135, 199, 102, 0.53);
	    		padding: 5px 10px;
	    		clear: both;
	    	}
	    	.incorrect{
	    		background:rgba(210, 129, 140, 0.78);
	    		padding: 5px 10px;
	    		clear: both;
	    	}
			#nopbai{cursor: pointer;}
			.show1{margin-bottom:10px;border-radius:20px;}
		</style>
	</div>
</main>		
<% include ./../layout/footer %>
</div>