<script>
var userid = '<%= userid %>'
var date = '<%= date %>'
</script>
<div class="wrap" > 	
	<header class="page-header">
		<div class="container">
			<a href="#">
				<img src="frontend/assets/images/logo/2.png">
			</a>							
		</div>
	</header>	
	<main class="page-content">
		<div class="navigation navigation--subpage" id="navigation">
			<div class="container">
				<div class="page-title" id="exercise">
					<img src="frontend/assets/images/skill/3.png">
					<span class="screen-reader-text">Exercise</span>
				</div>
				<% include ./../layout/navigation %>
			</div>
		</div>
		<% include ./../layout/todayinfo %>
		<div class="area-01">
			<div class="container">
				<div class="box">
					<div class="exercise-wrapper exercise-wrapper--full" style="overflow:hidden;" id="chart">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<div class="text-center"><label class="label_chartperformance" for="">Performance</label></div>
							<div class="performance">
							    <canvas class="performance_sl sl" height="250" width="250"></canvas>
							    <canvas class="performance_cl cl" height="200" width="200"></canvas>
							</div>
							<div class="percent_performance"><%= Math.round((point_phonetic_cl+point_vocabulary_cl+point_grammar_cl)/total_cl*200/3)/10 %>%</div>
						</div>
						<div style="clear:both; margin-top:20px;"></div>

						<div class="col-md-4">
							<div class="text-center"><label class="label_chart" for="">Phonetics</label></div>
							<div class="chart_one">
							    <canvas class="phonetic_sl sl" height="170" width="170"></canvas>
							    <canvas class="phonetic_cl cl" height="130" width="130"></canvas>
							</div>
							<div class="chartjs-tooltip phonetic"></div>
							<div class="percent"><%= Math.round(point_phonetic_cl/total_cl*200)/10 %>%</div>
						</div>

						<div class="col-md-4">
							<div class="text-center"><label class="label_chart" for="">Vocabulary</label></div>
							<div class="chart_one">
							    <canvas class="vocabulary_sl sl" height="170" width="170"></canvas>
							    <canvas class="vocabulary_cl cl" height="130" width="130"></canvas>
							</div>
							<div class="chartjs-tooltip vocabulary"></div>
							<div class="percent"><%= Math.round(point_vocabulary_cl/total_cl*200)/10 %>%</div>
						</div>

						<div class="col-md-4">
							<div class="text-center"><label class="label_chart" for="">Grammar</label></div>
							<div class="chart_one">
							    <canvas class="grammar_sl sl" height="170" width="170"></canvas>
							    <canvas class="grammar_cl cl" height="130" width="130"></canvas>
							</div>
							<div class="chartjs-tooltip grammar"></div>
							<div class="percent"><%= Math.round(point_grammar_cl/total_cl*200)/10 %>%</div>
						</div>
					</div>
				</div>
				<div class="chart_anhlh2">
					<span style="bottom:51px;left:32px;"></span>
					<span style="bottom:102px;left:96px;"></span>
					<span style="bottom:153px;left:160px;"></span>
					<span style="bottom:255px;left:224px;"></span>
					<span style="bottom:255px;left:288px;"></span>
					<span style="bottom:255px;left:352px;"></span>
					<span style="bottom:255px;left:416px;"></span>
					<span style="bottom:255px;left:480px;"></span>
					<span style="bottom:255px;left:524px;"></span>
					<span style="bottom:255px;left:590px;"></span>
					<p class="current" style="bottom:255px;left:590px;"></p>
				</div>
			</div>
		</div>
	</main>		
</div>
<script>
	function getCustomTooltipFunction(offset,sel) {
	    return function (tooltip) {
	        // Tooltip Element
	        var tooltipEl = $('.'+sel);

	        // Hide if no tooltip
	        if (!tooltip) {
	            tooltipEl.css({
	                opacity: 0
	            });
	            return;
	        }

	        // Set caret Position
	        tooltipEl.removeClass('above below');
	        tooltipEl.addClass(tooltip.yAlign);

	        // Set Text
	        tooltipEl.html(tooltip.text);

	        // Display, position, and set styles for font
	        tooltipEl.css({
	            opacity: 1,
	            left: tooltip.x + offset + 'px',
	            top: tooltip.y + offset + 'px',
	            fontFamily: tooltip.fontFamily,
	            fontSize: tooltip.fontSize,
	            fontStyle: tooltip.fontStyle,
	        });
	    }
	}

	var performance_sl = [{
		value: <%= point_phonetic_sl %>,
	    color: "#4285F4",
	    highlight: "#FF5A5E",
	    label: "Đã học",
	},{
	    value: <%= point_vocabulary_sl %>,
	    color: "#FBBC05",
	    highlight: "#616774",
	    label: "Chưa học"
	},{
	    value: <%= point_grammar_sl %>,
	    color: "#EA4335",
	    highlight: "#616774",
	    label: "Chưa học"
	},{
	    value: <%= total_day*3 - point_phonetic_sl - point_vocabulary_sl - point_grammar_sl %>,
	    color: "#F8F8F8",
	    highlight: "#616774",
	    label: "Chưa học"
	}];

	var performance_cl = [{
	    value: <%= point_phonetic_cl %>,
	    color: "#4285F4",
	    highlight: "#FF5A5E",
	    label: "",
	},{
	    value: <%= point_vocabulary_cl %>,
	    color: "#FBBC05",
	    highlight: "#5AD3D1",
	    label: ""
	},{
	    value: <%= point_grammar_cl %>,
	    color: "#EA4335",
	    highlight: "#5AD3D1",
	    label: ""
	},{
	    value: <%= parseInt(total_cl*15 - point_phonetic_cl - point_vocabulary_cl - point_grammar_cl) %>,
	    color: "#F8F8F8",
	    highlight: "#5AD3D1",
	    label: ""
	}];

	var phonetic_sl = [{
		value: <%= point_phonetic_sl %>,
	    color: "#4285F4",
	    highlight: "#FF5A5E",
	    label: "Đã học",
	},{
	    value: <%= total_day - point_phonetic_sl %>,
	    color: "#F8F8F8",
	    highlight: "#616774",
	    label: "Chưa học"
	}];

	var phonetic_cl = [{
	    value: <%= point_phonetic_cl %>,
	    color: "#34A853",
	    highlight: "#FF5A5E",
	    label: "",
	},{
	    value: <%= parseInt(total_cl*5 - point_phonetic_cl) %>,
	    color: "#F8F8F8",
	    highlight: "#5AD3D1",
	    label: ""
	}];

	var vocabulary_sl = [{
	    value: <%= point_vocabulary_sl %>,
	    color: "#FBBC05",
	    highlight: "#FF5A5E",
	    label: "Đã học",
	},{
	    value: <%= total_day - point_vocabulary_sl %>,
	    color: "#F8F8F8",
	    highlight: "#616774",
	    label: "Chưa học"
	}];

	var vocabulary_cl = [{
	    value: <%= point_vocabulary_cl %>,
	    color: "#34A853",
	    highlight: "#FF5A5E",
	    label: "",
	},{
	    value: <%= parseInt(total_cl*5 - point_vocabulary_cl) %>,
	    color: "#F8F8F8",
	    highlight: "#5AD3D1",
	    label: ""
	}];

	var grammar_sl = [{
	    value: <%= point_grammar_sl %>,
	    color: "#EA4335",
	    highlight: "#FF5A5E",
	    label: "Đã học",
	},{
	    value: <%= total_day - point_grammar_sl %>,
	    color: "#F8F8F8",
	    highlight: "#616774",
	    label: "Chưa học"
	}];

	var grammar_cl = [{
	    value: <%= point_grammar_cl %>,
	    color: "#34A853",
	    highlight: "#FF5A5E",
	    label: "",
	},{
	    value: <%= parseInt(total_cl*5 - point_grammar_cl) %>,
	    color: "#F8F8F8",
	    highlight: "#5AD3D1",
	    label: ""
	}];

	var ctx_performance_sl = $(".performance_sl").get(0).getContext("2d");
	var myChart_ctx_performance_sl = new Chart(ctx_performance_sl).Doughnut(performance_sl, {
	    percentageInnerCutout: 90
	});
	var ctx_performance_cl = $(".performance_cl").get(0).getContext("2d");
	var myChart_performance_cl = new Chart(ctx_performance_cl).Doughnut(performance_cl, {
	    percentageInnerCutout: 90
	});

	var ctx_phonetic_sl = $(".phonetic_sl").get(0).getContext("2d");
	var myChart_ctx_phonetic_sl = new Chart(ctx_phonetic_sl).Doughnut(phonetic_sl, {
	    percentageInnerCutout: 90,
	    customTooltips: getCustomTooltipFunction(0,'phonetic')
	});
	var ctx_phonetic_cl = $(".phonetic_cl").get(0).getContext("2d");
	var myChart_phonetic_cl = new Chart(ctx_phonetic_cl).Doughnut(phonetic_cl, {
	    percentageInnerCutout: 90,
	    customTooltips: getCustomTooltipFunction(50,'phonetic')
	});

	var ctx_vocabulary_sl = $(".vocabulary_sl").get(0).getContext("2d");
	var myChart_vocabulary_sl = new Chart(ctx_vocabulary_sl).Doughnut(vocabulary_sl, {
	    percentageInnerCutout: 90,
	    customTooltips: getCustomTooltipFunction(0,'vocabulary')
	});
	var ctx_vocabulary_cl = $(".vocabulary_cl").get(0).getContext("2d");
	var myChart_vocabulary_cl = new Chart(ctx_vocabulary_cl).Doughnut(vocabulary_cl, {
	    percentageInnerCutout: 90,
	    customTooltips: getCustomTooltipFunction(50,'vocabulary')
	});

	var ctx_grammar_sl = $(".grammar_sl").get(0).getContext("2d");
	var myChart_grammar_sl = new Chart(ctx_grammar_sl).Doughnut(grammar_sl, {
	    percentageInnerCutout: 90,
	    customTooltips: getCustomTooltipFunction(0,'grammar')
	});
	var ctx_grammar_cl = $(".grammar_cl").get(0).getContext("2d");
	var myChart_grammar_cl = new Chart(ctx_grammar_cl).Doughnut(grammar_cl, {
	    percentageInnerCutout: 90,
	    customTooltips: getCustomTooltipFunction(50,'grammar')
	});
</script>
<style>
	.label_chart{font-weight: bold;font-size: 20px;}
	.label_chartperformance{font-weight: bold;font-size: 30px;}
	.chart_one {
	    position: relative;
	    height: 170px;
	    width: 170px;
	    float: left;
	    margin:0px 90px;
	}
	.performance {
	    position: relative;
	    height: 250px;
	    width: 250px;
	    float: left;
	    margin:0px 40px;
	}
	.sl, .cl {
	    position: absolute;
	}
	.sl {
	    top: 0px;
	    left: 0px;
	}
	.cl {
	    border-radius: 150px;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	.percent_performance{line-height: 300px;text-align: center;position: absolute;top: 0px;left: 0px;width: 100%;height: 250px;font-weight: bold;color:#FF5113;font-size: 40px;}
	.percent{line-height: 230px;text-align: center;position: absolute;top: 0px;left: 10px;width: 100%;height: 200px;font-weight: bold;color:#FF5113;font-size: 20px;}
	.chartjs-tooltip {
	    opacity: 0;
	    position: absolute;
	    background: rgba(0, 0, 0, .7);
	    color: white;
	    padding: 3px;
	    border-radius: 3px;
	    -webkit-transition: all .1s ease;
	    transition: all .1s ease;
	    pointer-events: none;
	    -webkit-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}
	.chartjs-tooltip.above {
	    -webkit-transform: translate(-50%, -100%);
	    transform: translate(-50%, -100%);
	}
	.chartjs-tooltip.above:before {
	    border: solid;
	    border-color: #111 transparent;
	    border-color: rgba(0, 0, 0, .8) transparent;
	    border-width: 8px 8px 0 8px;
	    bottom: 1em;
	    content:"";
	    display: block;
	    left: 50%;
	    top: 100%;
	    position: absolute;
	    z-index: 99;
	    -webkit-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}
</style>
<style>
	.chart_anhlh2{width: 899px;height: 521px;background: url('frontend/assets/images/wg/chart.png');margin: 40px auto;position: relative;}
	.chart_anhlh2:after{position: absolute;bottom: 0px;left: -95px;content: "";display: block; height: 543px;width: 100px;background: url('frontend/assets/images/wg/chart-y.png');}
	.chart_anhlh2:before{position: absolute;bottom: -33px;left: 0px;content: "";display: block; height: 36px;width: 895px;background: url('frontend/assets/images/wg/chart-x.png');}
	.chart_anhlh2 span{border: 2px solid #ff5113;width:10px;height:10px;display:block;background: #fff;border-radius: 100%;position: absolute;}
	.current{background: url('frontend/assets/images/wg/man.png');width: 40px;height: 40px;display: block;background-size: 100%;position: absolute;animation-name: example;animation-duration: 40s;}
	@keyframes example{
	    0% {bottom:51px;left:32px;}

	    1% {bottom:56px;left:37px;}
	    2% {bottom:61px;left:44px;}
	    3% {bottom:66px;left:51px;}
	    4% {bottom:71px;left:58px;}
	    5% {bottom:76px;left:65px;}
	    6% {bottom:81px;left:72px;}
	    7% {bottom:86px;left:79px;}
	    8% {bottom:91px;left:86px;}
	    9% {bottom:96px;left:92px;}

	    10% {bottom:102px;left:96px;}
	    20% {bottom:153px;left:160px;}
	    30% {bottom:255px;left:224px;}
	    40% {bottom:255px;left:288px;}
	    50% {bottom:255px;left:352px;}
	    60% {bottom:255px;left:416px;}
	    70% {bottom:255px;left:480px;}
	    80% {bottom:255px;left:524px;}
	    100% {bottom:255px;left:590px;}
	}
</style>