<%
function covenvertString(cmm){
	var start = cmm.search(":") + 1;
	var rt = cmm.substring(start,cmm.length);
	return rt;
};
%>
<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="frontend/assets/images/logo/favicon.ico">
	<base href="http://ncsb.topicanative.edu.vn/">
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/style-voca.css" media="all" >  
	
</head> 
<body>
	
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="frontend/assets/images/skill/2.png">
						<span class="screen-reader-text">Exercise</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box" style="overflow:hidden;">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 col-md-push-3 text-center">
								<div class="hobby_item" id="anhlh2">
									<img src="frontend/assets/images/hobby/bg.jpg">
									<h4 id="name_week"><%= week_current.name_week %></h4>
									<% for (var i = 0; i < weeks.length; i++) { %>
									<a href="#hobby_entry--<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %>" class="all_voca hobby_icon hobby_icon--<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %> <% if((i+1) == week_current.week){ %>active<% } %>" data-title="<%= weeks[i].name_week %>" data-id="<%= weeks[i]._id %>" data-week="<%= weeks[i].week %>">
									<% switch (i){
									case 0: %>
									<i class="fa fa-gamepad" aria-hidden="true"></i>
									<% break;
									case 1: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 2: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 3: %>
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<% break;
									case 4: %>
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
									<% break;
									case 5: %>
									<i class="fa fa-briefcase" aria-hidden="true"></i>
									<% break;
									case 6: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 7: %>
									<i style="margin-left: 15px;" class="fa fa-map-marker" aria-hidden="true"></i>
									<% break;
									case 8: %>
									<i class="fa fa-heart" aria-hidden="true"></i>
									<% break;
									case 9: %>
									<i class="fa fa-home" aria-hidden="true"></i>
									<% break;
									case 10: %>
									<i class="fa fa-music" aria-hidden="true"></i>
									<% break;
									case 11: %>
									<i class="fa fa-cutlery" aria-hidden="true"></i>
									<% break;
									case 12: %>
									<i class="fa fa-smile-o" aria-hidden="true"></i>
									<% break;
									case 13: %>
									<i class="fa fa-leaf" aria-hidden="true"></i>
									<% break;
									default :
									%>
									<i class="fa fa-home" aria-hidden="true"></i>
									<%
									break;
									} %>
									</a>
									<% } %>
								</div>
							</div>
							<!-- col-md-5 -->
						</div>
						<!-- row --> 
						<div class="hTab__navi-wrap" style="margin-top:30px;">
							<% var week_day = ['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY'] %>
							<ul class="hTab__navi ul-mh dayofweek">
								<% for (var i = 0; i < days.length; i++) { %>
								<li class="<% if (i==0) { %>active<% } %>">
									<a href="#hTab__content-<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %>" data-toggle="tab" data-id="<%= days[i].day %>" class="week_voca"><%= week_day[i] %></a>
								</li>	
								<% } %>
							</ul>
							<!-- hTab__navi -->
						</div>
						<div class="hTab__content-wrap">
							<% for (var l = 0; l < days.length; l++) { %>
							<div class="hTab__content <% if(l==0){ %>active<% } %>"  id="hTab__content-0<%= (l+1) %>">
								<div class="row tab">
									<div class="col-md-3 col-sm-3 col-xs-3 col-navi">
										<ul class="tab__navi">
											<% if(l==0){ %>
											<% for (var i = 0; i < vocabularies.length; i++) { %>
											<li class="<% if(i == 0){ %>active<% } %>">
												<a class="voca_id" data-id="<%= vocabularies[i]._id %>" href="#tab__content-<%= i %>" data-toggle="tab"><%= vocabularies[i].keyword %></a>
											</li>
											<% } %>
											<% } %>
										</ul>
									</div>
									<!-- col-md-3 -->
									<div class="col-md-9 col-sm-9 col-xs-9 col-content content_last">
										<% if(l==0){ %>
										<% for (var j = 0; j < vocabularies.length; j++) { %>
										<div class="tab__content <% if(j == 0){ %>active<% } %>" id="tab__content-<%= j %>">
											<div class="vocab-wrapper">
												<% 
												if(j==0){
													var index = 1
													for (var i = 0; i < exercises.length; i++) { 
														if(exercises[i].content != null){
														var content = JSON.parse(exercises[i].content) %>
														<div class="question">
															<div class="question__info">
																<span class="question__number"><%= index %></span>
																<p class="question__title"><%- content.content %></p>
															</div>
															<div class="question__content">
																<div class="question__answer">
																	<div class="row">
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input class="snow" id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
																			<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
																		</p>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input class="snow" id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
																			<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
																		</p>
																	</div>
																	<!-- row --> 
																	<div class="row">
																		<% if (content.option3 != '') { %>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input class="snow" id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
																			<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
																		</p>
																		<% } %>
																		<% if (content.option4 != '') { %>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input class="snow" id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
																			<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
																		</p>
																		<% } %>
																	</div>
																	<div style="clear: both;"></div>
																	<span class="btn btn-primary btn-md show1">
																		Xem đáp án
																	</span>
																	<div class="hint">
																		
																	</div>
																	<!-- row --> 
																</div>
																<!-- question__answer -->
															</div>
														</div>
														<% index++;
														}
													} 
												}
												%>
											</div>
										</div>
										<% } %>
										<% } %>
									</div>
								</div>
								<!-- row --> 
							</div>
							<!-- hTab__content -->
							<% } %>
						</div>
					</div>
				</div>
				<!-- container -->
			</div>

		</main>		
		<% include ./../layout/footer %>
	</div>

	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jQuery-plugin-progressbar.js"></script>
	<script type="text/javascript" src="frontend/assets/js/main-vss.js"></script>
	<script type="text/javascript" src="frontend/assets/js/action.js"></script>
	<script>
		$(document).ready(function() {
			$('.hobby_icon').click(function(event) {
				var t = $(this)
				var title = t.attr('data-title');
				$('#name_week').html(title)
			});
		});
	</script>
	<style>
		#anhlh2 .active i{color:#474747 !important;font-size: 55px;margin-left: 5px;}
		#anhlh2 a i{color:#fff;font-size: 45px;margin-left: 8px;transition: all .5s;text-align: center;}
		#anhlh2 a{text-align: center;}
		.hint{
			display: none;
    	}
    	.hint *{font-size:16px !important;}
    	.correct{
    		background:rgba(135, 199, 102, 0.53);
    		padding: 5px 10px;
    		clear: both;
    	}
    	.incorrect{
    		background:rgba(210, 129, 140, 0.78);
    		padding: 5px 10px;
    		clear: both;
    	}
		#nopbai{cursor: pointer;}
		.show1{margin-bottom:10px;border-radius:20px;}
	</style>
</body>
</html>