<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title>TOPICA NATIVE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="frontend/assets/images/logo/favicon.ico">
	<base href="http://ncsb.topicanative.edu.vn/">
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/font-awesome.css" media="all" />
	<link rel="stylesheet" href="frontend/assets/css/style-voca.css" media="all" >  
</head> 
<body>
<script>
	var userid = '<%= userid %>'
	var date = '<%= date %>'
</script>
	<div class="wrap" > 	
		<header class="page-header">
			<div class="container">
				<a href="#">
					<img src="frontend/assets/images/logo/2.png">
				</a>							
			</div>
			<!-- container -->
		</header>	
		<main class="page-content">
			<div class="banner-small">
				<img src="frontend/assets/images/skill/banner.jpg">
			</div>
			<div class="navigation navigation--subpage" id="navigation">
				<div class="container">
					<div class="page-title">
						<img src="frontend/assets/images/skill/2.png">
						<span class="screen-reader-text">Vocabulary</span>
					</div>
					<% include ./../layout/navigation %>
				</div>
				<!-- container -->
			</div>
			<div class="area-01">
				<div class="container">
					<div class="box">
						<div class="hTab">					
							<div class="hTab__navi-wrap">
								<% var week_day = ['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY']%>
								<ul class="hTab__navi ul-mh">
									<% for (var i = 0; i < days.length; i++) { %>
									<li class="<% if (i==0) { %>active<% } %>">
										<a href="#hTab__content-<% if(i < 9){ %>0<%= (i+1) %><% }else{ %><%= (i+1) %><%} %>" data-toggle="tab" data-id="<%= days[i].day %>" class="week_day"><%= week_day[i] %></a>
									</li>	
									<% } %>
								</ul>
								<!-- hTab__navi -->
							</div>

							<div class="hTab__content-wrap hTab__content-wrap--hobby">
								<% for (var j = 0; j < days.length; j++) { %>
								<div class="hTab__content <% if (j==0) { %>active<% } %>"  id="hTab__content-<% if(j < 9){ %>0<%= (j+1) %><% }else{ %><%= (j+1) %><%} %>">
									<div class="row ul-mh tab">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="tab__content active" id="tab__content-<% if(j < 9){ %>0<%= (j+1) %><% }else{ %><%= (j+1) %><%} %>">
												<% if (j == 0) { %>
													<div class="question">
														<% 
														var index = 1
														for (var i = 0; i < exercises.length; i++) { 
															var content = JSON.parse(exercises[i].content);
														if(exercises[i].type == 'phonetics'){ %>
														<div class="question question--audio">
															<div class="question__info">
																<span class="question__number"><%= index %></span>
																<p class="question__title"><%= content.content %></p>
															</div>
															<div class="question__content">
																<div class="question__answer">
																	<p>
																		<input id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
																		<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
																	</p>
																	<p>
																		<input id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
																		<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
																	</p>
																	<% if (content.option3 != '') { %>
																	<p>
																		<input id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
																		<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
																	</p>
																	<% } %>
																	<% if (content.option4 != '') { %>
																	<p>
																		<input id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
																		<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
																	</p>
																	<% } %>
																</div>
																<div class="question__data">
																	<a class="audio fa fa-volume-up" onclick="this.firstElementChild.play();" data-behaviour="ga-event" data-value="Pronunciation audio" title="Bấm để nghe âm thanh">
																		<audio src="http://ncsb.topicanative.edu.vn/uploads/phonetics/audio/<%= exercises[i]._id %>.mp3">
																		</audio>
																	</a>
																</div>
																<div class="hint">
																	
																</div>
																<!-- question__data -->
															</div>
														</div>
														<% }
														if(exercises[i].type == 'grammar'){ %>
														<div class="question">
															<div class="question__info">
																<span class="question__number"><%= index %></span>
																<p class="question__title"><%- content.option %></p>
															</div>
															<div class="question__content">
																<div class="question__answer">
																	<div class="row">
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
																			<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
																		</p>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
																			<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
																		</p>
																	</div>
																	<!-- row --> 
																	<div class="row">
																		<% if (content.option3 != '') { %>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
																			<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
																		</p>
																		<% } %>
																		<% if (content.option4 != '') { %>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
																			<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
																		</p>
																		<% } %>
																	</div>
																	<div class="hint">
																		
																	</div>
																	<!-- row --> 
																</div>
																<!-- question__answer -->
															</div>
														</div>
														<% } 
														if(exercises[i].type == 'voca4'){ %>
														<div class="question">
															<div class="question__info">
																<span class="question__number"><%= index %></span>
																<p class="question__title"><%- content.content %></p>
															</div>
															<div class="question__content">
																<div class="question__answer">
																	<div class="row">
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>1" name="<%= exercises[i]._id %>" type="radio" value="A" alt="">
																			<label for="ans-<%= index %>1">A. <%= content.option1 %></label>
																		</p>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>2" name="<%= exercises[i]._id %>" type="radio" value="B" alt="">
																			<label for="ans-<%= index %>2">B. <%= content.option2 %></label>
																		</p>
																	</div>
																	<!-- row --> 
																	<div class="row">
																		<% if (content.option3 != '') { %>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>3" name="<%= exercises[i]._id %>" type="radio" value="C" alt="">
																			<label for="ans-<%= index %>3">C. <%= content.option3 %></label>
																		</p>
																		<% } %>
																		<% if (content.option4 != '') { %>
																		<p class="col-md-6 col-sm-6 col-xs-6">
																			<input id="ans-<%= index %>4" name="<%= exercises[i]._id %>" type="radio" value="D" alt="">
																			<label for="ans-<%= index %>4">D. <%= content.option4 %></label>
																		</p>
																		<% } %>
																	</div>
																	<div class="hint">
																		
																	</div>
																	<!-- row --> 
																</div>
																<!-- question__answer -->
															</div>
														</div>
														<% } 
														index++;
														} %>
													</div>
												<% } %>
											</div>
										</div>
									</div>
								</div>
								<% } %>
								<div class="text-right mt-30">
									<span id="nopbai" class="btn btn-danger btn-lg">Nộp bài <i class="fa fa-angle-double-right"></i></span>
								</div>
							</div>
							<!-- hTab__content-wrap -->
						</div>
					</div>
				</div>
				<!-- container -->
			</div>
		</main>		
		<% include ./../layout/footer %>
	</div>

	<script type="text/javascript" src="frontend/assets/js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="frontend/assets/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jquery.matchHeight-min.js"></script>	
	<script type="text/javascript" src="frontend/assets/js/jQuery-plugin-progressbar.js"></script>
	<script type="text/javascript" src="frontend/assets/js/main.js"></script>
	<script type="text/javascript" src="frontend/assets/js/action.js"></script>
	<style>
		.hint{
			display: none;
    	}
    	.hint *{font-size:16px !important;}
    	.correct{
    		background:rgba(135, 199, 102, 0.53);
    		padding: 5px 10px;
    		clear: both;
    	}
    	.incorrect{
    		background:rgba(210, 129, 140, 0.78);
    		padding: 5px 10px;
    		clear: both;
    	}
		#nopbai{cursor: pointer;}
	</style>
</body>
</html>