@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Russo+One");
@font-face {
  font-family: 'SVN-Nexa';
  src: url("../fonts/SVN-Nexa/SVN-Nexa-Bold.ttf"), url("../fonts/SVN-Nexa/SVN-Nexa-Light.ttf");
}
.clear {
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 1160px) {
  .container {
    width: 990px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 979px) {
  .container {
    width: 760px;
  }
}
@media screen and (max-width: 799px) {
  .container {
    width: 708px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .container {
    width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    width: 340px;
  }
}
@media screen and (max-width: 359px) {
  .container {
    width: 300px;
  }
}

::selection {
  background: #3ba1d4;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #3ba1d4;
  color: #fff;
  text-shadow: none;
}

.login {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(19, 15, 16, 0.4);
  -moz-box-shadow: 0px 0px 40px 0px rgba(19, 15, 16, 0.4);
  box-shadow: 0px 0px 40px 0px rgba(19, 15, 16, 0.4);
}

.clearfix:before, .login__form .form-group:before, .main-menu:before, .hTab__navi:before, .vocab-wrapper .detail:before, .question__info:before, .question__content:before, .clearfix:after, .login__form .form-group:after, .main-menu:after, .hTab__navi:after, .vocab-wrapper .detail:after, .question__info:after, .question__content:after {
  content: "";
  display: table;
}
.clearfix:after, .login__form .form-group:after, .main-menu:after, .hTab__navi:after, .vocab-wrapper .detail:after, .question__info:after, .question__content:after {
  clear: both;
}

a, .login__form .form-control, .login__form .form-control + label, .login__form .checkbox, .login__form .submit, .login__form .submit i, .banner .link i, .banner .link:before, .program, .program__title, .main-menu li a:after, .ct-item-01 .entry-content header a h4, .ct-item-01 .entry-content header a p, .btn--blue, .btn--yellow, .btn--white, .btn--blue i, .btn--yellow i, .btn--white i, .hTab__navi li a:after, .hobby_item a.hobby_icon img, .hobby_entry, .question--fill .question__answer input, .question--sort .question__answer input, .beforeStart, .widget__open, .wgTab__navi li a:after {
  transition: all 0.5s, visibility 0s;
  -ms-transition: all 0.5s, visibility 0s;
  -webkit-transition: all 0.5s, visibility 0s;
  -moz-transition: all 0.5s, visibility 0s;
}

@-webkit-keyframes upDown {
  from {
    bottom: 40px;
  }

  to {
    bottom: 20px;
  }
}
/* Standard syntax */
@keyframes upDown {
  from {
    bottom: 40px;
  }

  to {
    bottom: 20px;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.progress {
  background-color: transparent;
  box-shadow: none;
  display: inline-block;
}

.progress--01 {
  position: relative;
  height: 260px;
  width: 260px;
}
.progress--01 div {
  position: absolute;
  height: 260px;
  width: 260px;
  border-radius: 50%;
}
.progress--01 div span {
  position: absolute;
  font-family: Arial;
  font-size: 43.33333px;
  line-height: 195px;
  height: 195px;
  width: 195px;
  left: 32.5px;
  top: 32.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  z-index: 9;
}
.progress--01 div span:before {
  content: "";
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background-color: #bbc1c3;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}
.progress--01 .background {
  background-color: transparent;
}
.progress--01 .rotate {
  clip: rect(0 130px 260px 0);
  background-color: transparent;
}
.progress--01 .left {
  clip: rect(0 130px 260px 0);
  opacity: 1;
  background-color: transparent;
}
.progress--01 .right {
  clip: rect(0 130px 260px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: transparent;
}

.progress--02 {
  position: relative;
  height: 160px;
  width: 160px;
}
.progress--02 div {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.progress--02 div span {
  position: absolute;
  font-family: Arial;
  font-size: 26.66667px;
  line-height: 120px;
  height: 120px;
  width: 120px;
  left: 20px;
  top: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}
.progress--02 .background {
  background-color: transparent;
}
.progress--02 .rotate {
  clip: rect(0 80px 160px 0);
  background-color: transparent;
}
.progress--02 .left {
  clip: rect(0 80px 160px 0);
  opacity: 1;
  background-color: transparent;
}
.progress--02 .right {
  clip: rect(0 80px 160px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: transparent;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
}

.clearfix:before, .login__form .form-group:before, .main-menu:before, .hTab__navi:before, .vocab-wrapper .detail:before, .question__info:before, .question__content:before, .clearfix:after, .login__form .form-group:after, .main-menu:after, .hTab__navi:after, .vocab-wrapper .detail:after, .question__info:after, .question__content:after {
  display: table;
  content: "";
}
.clearfix:after, .login__form .form-group:after, .main-menu:after, .hTab__navi:after, .vocab-wrapper .detail:after, .question__info:after, .question__content:after {
  clear: both;
}

.clear {
  clear: both;
}

.mt-30 {
  margin-top: 30px;
}

.mt-70 {
  margin-top: 70px;
}

/*_____________ Login page _____________*/
.page-content--login {
  background-image: url("../images/login/1.jpg");
  background-size: cover;
  padding: 140px 0;
}

.login {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
}
.login__inner {
  border: 1px solid #3ba1d4;
  border-radius: 15px;
  padding-top: 23px;
}
.login__logo {
  text-align: center;
}
.login__form {
  margin-top: 30px;
}
.login__form .form-group {
  position: relative;
  margin-bottom: 30px;
}
.login__form .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 0 0 0 40px;
}
.login__form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control + label {
  position: absolute;
  top: 0;
  left: 0;
  color: #666;
  font-size: 22px;
  width: 25px;
  text-align: center;
  line-height: 34px;
}
.login__form .form-control:focus, .login__form .form-control:hover {
  box-shadow: none;
  outline: none;
  border-bottom-color: #3ba1d4;
}
.login__form .form-control:focus + label, .login__form .form-control:hover + label {
  color: #3ba1d4;
}
.login__form .checkbox {
  float: left;
  display: inline-block;
  margin: 0;
  color: #666;
}
.login__form .checkbox:hover {
  color: #3ba1d4;
}
.login__form .checkbox input {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 3px;
  border-color: #3ba1d4;
  margin-top: 2px;
}
.login__form .forgot_pwd {
  float: right;
  color: #666;
  text-decoration: none;
}
.login__form .forgot_pwd:hover {
  color: #3ba1d4;
}
.login__form .submit {
  display: block;
  width: 100%;
  background-color: #3ba1d4;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.login__form .submit i {
  margin-left: 5px;
  opacity: 0;
  width: 0;
}
.login__form .submit:hover i {
  margin-left: 5px;
  opacity: 1;
  width: 18px;
}
.login__form-inner {
  padding: 0 80px;
}

/*_____________ Home page _____________*/
.banner {
  background-image: url("../images/home/1.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 54px 0 120px;
  position: relative;
}
.banner .text-big {
  font-family: 'SVN-Nexa';
  font-size: 115px;
  line-height: 1em;
  font-weight: bold;
  color: #fff;
  margin-top: 140px;
  margin-bottom: 0;
}
.banner .text-small {
  font-family: 'SVN-Nexa';
  font-size: 41px;
  font-weight: bold;
  color: #fff;
  margin-top: -10px;
}
.banner .link {
  text-transform: uppercase;
  display: inline-block;
  font-size: 24px;
  line-height: 80px;
  height: 80px;
  padding: 0 20px 0 20px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 70px;
  text-align: center;
}
.banner .link i {
  color: #464646;
  margin-right: 35px;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
}
.banner .link:before {
  content: "";
  width: 70%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -49%;
  border-radius: 1000px;
  background-color: #fff;
  z-index: -1;
}
.banner .link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3ba1d4;
  z-index: -2;
}
.banner .link:hover {
  color: #464646;
}
.banner .link:hover i {
  padding-left: 20px;
  margin-right: 15px;
}
.banner .link:hover:before {
  width: 200%;
}
.banner .scroll_btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font-size: 50px;
  -webkit-animation: upDown 1s infinite;
  animation: upDown 1s infinite;
  color: #3ba1d4;
}
.banner .scroll_btn:hover {
  color: #fff;
}

.area-01 {
  padding: 30px 0;
}

.area-02 {
  padding: 70px 0;
}

.box {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}

.program {
  text-align: center;
}
.program > a {
  margin-top: 15px;
}
.program__title {
  text-transform: uppercase;
  font-size: 20px;
  color: #383838;
  margin-top: 18px;
  font-weight: bold;
}
.program:hover .program__title {
  color: #3ba1d4;
}

.page-footer__top {
  background-color: #474747;
  padding: 40px 0;
  color: #fff;
}
.page-footer__bottom {
  background-color: #3A3A3A;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.widget-title {
  font-size: 18px;
  text-transform: uppercase;
}

.social-links ul {
  margin: 0;
  padding: 0;
}
.social-links ul li {
  list-style-type: none;
  float: left;
  display: inline-block;
}
.social-links ul li a {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
}
.social-links ul li + li {
  margin-left: 30px;
}

.contact i {
  font-size: 16px;
  width: 20px;
}

.navigation {
  background-color: #fff;
  padding-top: 4px;
}
.navigation--home {
  text-align: center;
}
.navigation--subpage .page-title {
  float: left;
}
.navigation--subpage .main-nav {
  float: right;
}

.main-menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.main-menu li {
  float: left;
  list-style-type: none;
}
.main-menu li + li {
  margin-left: 30px;
}
.main-menu li a {
  font-size: 18px;
  color: #3a3a3a;
  position: relative;
  height: 50px;
  line-height: 50px;
  text-decoration: none !important;
  display: inline-block;
}
.main-menu li a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #3ba1d4;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-menu li a:hover, .main-menu li a.current-page {
  color: #3ba1d4;
}
.main-menu li a:hover:after, .main-menu li a.current-page:after {
  width: 100%;
}

.ct-item-01 {
  position: relative;
}
.ct-item-01 .entry-thumb {
  width: 100%;
}
.ct-item-01 .entry-thumb img {
  width: 100%;
}
.ct-item-01 .entry-content {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  color: #fff;
  padding: 20px 25px;
}
.ct-item-01 .entry-content header {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.ct-item-01 .entry-content header:after {
  content: "";
  width: 250px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ct-item-01 .entry-content header a {
  color: #fff;
  text-decoration: none !important;
}
.ct-item-01 .entry-content header a h4 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.ct-item-01 .entry-content header a h4:hover {
  opacity: 0.8;
}
.ct-item-01 .entry-content header a p {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 0;
}
.ct-item-01 .entry-content header a p:hover {
  opacity: 0.8;
}

/*_____________ Phonetic _____________*/
.page-header {
  background-color: #3ba1d4;
  margin: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 10px;
}

.banner-small img {
  width: 100%;
}

.page-title {
  line-height: 52px;
  padding-left: 55px;
  margin-top: -4px;
}
.page-title img {
  position: absolute;
  top: 45%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 50px;
}
.page-title .screen-reader-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  color: #3ba1d4;
  margin-top: 2px;
}

.btn--blue, .btn--yellow, .btn--white {
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  padding: 0 25px 0;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border-radius: 48px;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: #ff5113;
  outline: none !important;
  border: none;
  box-shadow: none;
}
.btn--blue i, .btn--yellow i, .btn--white i {
  color: #fff;
  margin-left: 10px;
}
.btn--blue:hover, .btn--yellow:hover, .btn--white:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3ba1d4;
}

.btn--yellow {
  background-color: #3ba1d4;
}
.btn--yellow:hover {
  background-color: #ff5113;
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ff5113;
  color: #ff5113;
}
.btn--white:hover {
  background-color: #ff5113;
}

.btn--text {
  color: #ff5113;
}
.btn--text i {
  margin-right: 5px;
}
.btn--text:hover {
  color: #3ba1d4;
  text-decoration: none;
}

.phonetic-wrapper > iframe {
  width: 100%;
  height: 641px;
}
@media screen and (max-width: 1160px) {
  .phonetic-wrapper > iframe {
    height: 540px;
  }
}
@media screen and (max-width: 1023px) {
  .phonetic-wrapper > iframe {
    height: 523px;
  }
}
@media screen and (max-width: 979px) {
  .phonetic-wrapper > iframe {
    height: 410px;
  }
}

/*_____________ phonetic-2 _____________*/
.hTab__navi-wrap {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.hTab__navi {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
.hTab__navi li {
  list-style-type: none;
  float: left;
  display: inline-block;
  width: 14.2857%;
  padding: 0 5px;
  text-align: center;
}
.hTab__navi li a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff5113;
  padding: 15px 5px;
  font-weight: 500;
  position: relative;
  border-right: 1px solid #fff;
  border-radius: 15px;
}
.hTab__navi li a:after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 8px solid #3ba1d4;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
}
.hTab__navi li a:hover {
  background-color: #3ba1d4;
}
.hTab__navi li:last-child a {
  border-right: none;
}
.hTab__navi li.active a {
  background-color: #3ba1d4;
}
.hTab__navi li.active a:after {
  opacity: 1;
}
.hTab__content-wrap--hobby {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 15px;
}
.hTab__content {
  display: none;
}
.hTab__content.active {
  display: block;
}

/*_____________ vocab _____________*/
.tab {
  margin-left: 0;
  margin-right: 0;
  background-color: #eaeaea;
  border-radius: 15px;
}
.tab .col-navi {
  background-color: #3ba1d4;
  z-index: 9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.tab .col-content {
  padding: 30px;
  position: relative;
}
.tab .col-content:before {
  content: "";
  width: 33.3333%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -33.33%;
  background-color: #3ba1d4;
  z-index: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.tab__navi {
  padding: 10px;
  margin-bottom: 0;
}
.tab__navi li {
  list-style-type: none;
  border-bottom: 1px solid #fff;
}
.tab__navi li a {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}
.tab__navi li a:hover {
  font-weight: bold;
}
.tab__navi li.active a {
  font-weight: bold;
}
.tab__content {
  display: none;
}
.tab__content.active {
  display: block;
}

.vocab-wrapper .vocab > * + * {
  margin-left: 20px;
}
.vocab-wrapper .vocab .title {
  font-size: 30px;
}
.vocab-wrapper .vocab .pronounce {
  font-size: 23px;
  color: #ff5113;
}
.vocab-wrapper .vocab .audio {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 1px solid #626262;
  color: #626262;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
  margin-top: -5px;
}
.vocab-wrapper .vocab .audio:hover {
  border-color: #3ba1d4;
  color: #3ba1d4;
}
.vocab-wrapper .detail {
  margin-top: 30px;
}
.vocab-wrapper .detail__img {
  width: 35%;
  float: left;
}
.vocab-wrapper .detail__text {
  overflow: hidden;
}

.breadcrumb {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  background: none;
  padding: 0;
}
.breadcrumb span:last-child {
  text-transform: capitalize;
}

.hobby_item {
  position: relative;
  display: inline-block;
}
.hobby_item h4 {
  font-size: 36px;
  font-weight: bold;
  color: #3ba1d4;
  display: inline-block;
  position: absolute;
  top: 47%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
}
.hobby_item a.hobby_icon {
  position: absolute;
  display: inline-block;
}
.hobby_item a.hobby_icon img {
  width: 60px;
  height: 60px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.8;
}
.hobby_item a.hobby_icon:hover img, .hobby_item a.hobby_icon.active img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.hobby_item a.hobby_icon--01 {
  top: 3%;
  left: 43%;
}
.hobby_item a.hobby_icon--02 {
  top: 7%;
  left: 60%;
}
.hobby_item a.hobby_icon--03 {
  top: 19%;
  left: 74%;
}
.hobby_item a.hobby_icon--04 {
  top: 34%;
  left: 82%;
}
.hobby_item a.hobby_icon--05 {
  top: 51%;
  left: 82%;
}
.hobby_item a.hobby_icon--06 {
  top: 68%;
  left: 74%;
}
.hobby_item a.hobby_icon--07 {
  top: 79%;
  left: 60%;
}
.hobby_item a.hobby_icon--08 {
  top: 83%;
  left: 43%;
}
.hobby_item a.hobby_icon--09 {
  top: 79%;
  left: 26%;
}
.hobby_item a.hobby_icon--10 {
  top: 68%;
  left: 12%;
}
.hobby_item a.hobby_icon--11 {
  top: 51%;
  left: 4%;
}
.hobby_item a.hobby_icon--12 {
  top: 34%;
  left: 4%;
}
.hobby_item a.hobby_icon--13 {
  top: 19%;
  left: 11%;
}
.hobby_item a.hobby_icon--14 {
  top: 7%;
  left: 25%;
}

.hobby_entry {
  display: none;
}
.hobby_entry.active {
  display: block;
}
.hobby_entry .entry-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.hobby_entry .entry-content ul {
  padding-left: 20px;
}
.hobby_entry .entry-content ul li {
  margin-bottom: 5px;
  color: #585858;
  text-transform: uppercase;
}

/*_____________ exercise _____________*/
.question__number {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  background-color: #556f7c;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  float: left;
  margin-right: 10px;
}
.question__title {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}
.question__content {
  padding-left: 50px;
  margin-top: 10px;
}
.question__answer {
  width: 70%;
  float: left;
}
.question__answer input, .question__answer label {
  cursor: pointer;
}
.question__answer p, .question__answer label {
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}
.question__answer p {
  padding-left: 0;
  margin-bottom: 10px;
}
.question__answer .row p {
  padding-left: 15px;
}
.question__check {
  width: 30%;
  float: left;
  text-align: right;
}
.question--image .question__answer, .question--audio .question__answer {
  width: 40%;
}
.question--image .question__data, .question--audio .question__data {
  width: 30%;
  float: left;
}
.question--audio .question__data a.audio {
  text-decoration: none;
  font-size: 100px;
  cursor: pointer;
  color: #ff5113;
}
.question--audio .question__data a.audio:hover {
  color: #3ba1d4;
}
.question--fill .question__answer input, .question--sort .question__answer input {
  border: none;
  background: transparent;
  cursor: text;
  width: 150px;
  border-bottom: 1px solid #333;
  color: #3ba1d4;
}
.question--fill .question__answer input:focus, .question--sort .question__answer input:focus {
  border-color: #3ba1d4;
  outline: none;
  box-shadow: none;
}
.question--sort .question__answer input {
  margin-top: 30px;
  width: 80%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 5px;
}
.question--sort .question__answer input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: "";
  font-family: Roboto;
  font-size: 20px;
  font-style: "";
  text-transform: capitalize;
}
.question--sort .question__answer input::-moz-placeholder {
  /* Firefox 19+ */
  color: "";
  font-family: Roboto;
  font-size: 20px;
  font-style: "";
  text-transform: capitalize;
}
.question--sort .question__answer input:-ms-input-placeholder {
  /* IE 10+ */
  color: "";
  font-family: Roboto;
  font-size: 20px;
  font-style: "";
  text-transform: capitalize;
}
.question--sort .question__answer input:-moz-placeholder {
  /* Firefox 18- */
  color: "";
  font-family: Roboto;
  font-size: 20px;
  font-style: "";
  text-transform: capitalize;
}
.question + .question {
  margin-top: 30px;
}

.exercise-wrapper--full .submit-wrap {
  background-color: #eaeaea;
  padding: 30px;
  border-radius: 10px;
  margin-top: 30px;
}
.exercise-wrapper form + form {
  margin-top: 30px;
}

.beforeStart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 30;
  opacity: 1;
}
.beforeStart.close {
  top: -100%;
  opacity: 0;
}
.beforeStart__inner {
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 400px;
  border-radius: 30px;
  padding: 20px;
}
.beforeStart .noti {
  border: 1px solid #3ba1d4;
  border-radius: 15px;
  padding: 20px;
}
.beforeStart .noti h4 {
  text-align: center;
  font-weight: bold;
}

#countdown {
  display: inline-block;
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
  color: #000;
  width: 160px;
  text-align: center;
  border: 5px solid #000;
  border-radius: 15px;
  padding: 5px;
  background-color: #fff;
}

.countdown-wrap {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 10;
}
.countdown-wrap img {
  position: absolute;
  top: -28px;
  left: -28px;
  border-radius: 100%;
}

/*_____________ widget _____________*/
.widget {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100%;
  z-index: 30;
  transition: all 1s, visibility 0s;
  -ms-transition: all 1s, visibility 0s;
  -webkit-transition: all 1s, visibility 0s;
  -moz-transition: all 1s, visibility 0s;
}
.widget__content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  opacity: 0.8;
  z-index: 29;
  overflow-y: scroll;
}
.widget__open {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
  height: 80px;
  background-color: #ff5113;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding-left: 5px;
  opacity: 1;
}
.widget__open i {
  font-size: 30px;
  line-height: 80px;
  color: #fff;
  animation: spin linear  3s infinite;
}
.widget__open:hover {
  background-color: #3ba1d4;
}
.widget__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 40;
  width: 60px;
  height: 60px;
  background-color: #ff5113;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s, visibility 0s;
  -ms-transition: all 0.8s, visibility 0s;
  -webkit-transition: all 0.8s, visibility 0s;
  -moz-transition: all 0.8s, visibility 0s;
  border-bottom-left-radius: 60px;
  padding-left: 10px;
}
.widget__close i {
  font-size: 35px;
  line-height: 50px;
  color: #fff;
}
.widget__close:hover {
  background-color: #3ba1d4;
}
.widget.open {
  right: 0;
}
.widget.open .widget__open {
  right: -40px;
  opacity: 0;
}
.widget.open:before {
  content: "";
  position: fixed;
  z-index: 20;
  width: 250%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  cursor: not-allowed;
}

.wgTab {
  position: relative;
}
.wgTab__navi {
  padding: 0;
  margin: 0;
  padding: 30px 0 5px;
  border-bottom: 6px solid #3ba1d4;
}
.wgTab__navi li {
  list-style-type: none;
}
.wgTab__navi li a {
  position: relative;
  color: #404040;
}
.wgTab__navi li a:after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid #3ba1d4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  opacity: 0;
}
.wgTab__navi li a i {
  font-size: 40px;
}
.wgTab__navi li a h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.wgTab__navi li.active a, .wgTab__navi li a:hover {
  color: #3ba1d4;
  text-decoration: none;
}
.wgTab__navi li.active a:after {
  opacity: 1;
}
.wgTab .perforement {
  text-align: center;
}
.wgTab .chart {
  margin-top: 150px;
  display: inline-block;
  width: 500px;
  position: relative;
}
.wgTab .chart:before {
  content: "Progress";
  position: absolute;
  top: -50px;
  left: -12%;
}
.wgTab .chart:after {
  content: "Week";
  position: absolute;
  bottom: -8%;
  right: -50px;
}
.wgTab .chart .chart-y {
  position: absolute;
  bottom: 0;
  left: -11.35%;
  width: 11.35%;
}
.wgTab .chart .chart-x {
  position: absolute;
  bottom: -6.9%;
  left: 0;
  width: 100%;
}
.wgTab .chart .week_progress {
  position: absolute;
  bottom: 100%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #3ba1d4;
  border-radius: 100%;
  -ms-transform: translate(-50%, 50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, 50%);
  /* Safari */
  transform: translate(-50%, 50%);
  z-index: 9;
  display: none;
}
.wgTab .chart .week_progress img {
  position: absolute !important;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  max-width: 30px;
  display: none;
}
.wgTab .chart .week_progress.past, .wgTab .chart .week_progress.now {
  display: inline-block;
}
.wgTab .chart .week_progress.now img {
  display: inline-block;
}
.wgTab .chart .w1 {
  left: 3.57%;
}
.wgTab .chart .w2 {
  left: 10.71%;
}
.wgTab .chart .w3 {
  left: 17.86%;
}
.wgTab .chart .w4 {
  left: 25%;
}
.wgTab .chart .w5 {
  left: 32.14%;
}
.wgTab .chart .w6 {
  left: 39.28%;
}
.wgTab .chart .w7 {
  left: 46.43%;
}
.wgTab .chart .w8 {
  left: 53.57%;
}
.wgTab .chart .w9 {
  left: 60.71%;
}
.wgTab .chart .w10 {
  left: 67.86%;
}
.wgTab .chart .w11 {
  left: 75%;
}
.wgTab .chart .w12 {
  left: 82.14%;
}
.wgTab .chart .w13 {
  left: 89.20%;
}
.wgTab .chart .w14 {
  left: 95.70%;
}
.wgTab__content {
  display: none;
}
.wgTab__content.active {
  display: block;
}
.wgTab .plan {
  padding: 30px 80px;
}
.wgTab .progress-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #3ba1d4;
  margin-top: -15px;
}
.wgTab .progress-title--big {
  font-size: 26px;
}
