<!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Grammar</li>
        </ul>
        <!-- END BREADCRUMB -->
        
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
        
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" action="admin/grammar" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="edit">
                    <input type="hidden" name="id" value="<%= grammar._id %>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Edit Grammar</strong></h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p></p>
                        </div>
                        <div class="panel-body">
                             <div class="form-group">
                                <label class="col-md-1 col-xs-12 control-label">STT</label>
                                <div class="col-md-11 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="stt" value="<%= grammar.stt %>" type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-1 col-xs-12 control-label">Title</label>
                                <div class="col-md-11 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="title" value="<%= grammar.title %>" type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-1 col-xs-12 control-label">Type</label>
                                <div class="col-md-11 col-xs-12">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input name="type_grammar" value="<%= grammar.type_grammar %>" type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>
                             <div class="form-group">
                                    <label class="col-md-1 col-xs-12 control-label">Content</label>
                                    <div class="col-md-11 col-xs-12">                                            
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <textarea id="giaithich" name="content" value="<%= grammar.content %>" type="text" class="form-control"><%= grammar.content %></textarea>
                                        </div>                                            
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-md-1 col-xs-12 control-label">File upload</label>
                                    <div class="col-md-11 col-xs-12">                            
                                        <div class="input-group">
                                            <input name="file_upload" type="file" class="form-control"/>
                                            <input type="hidden" name="file_upload_old" value="<%= grammar.file_upload %>">
                                    </div>                                            
                                    </div>
                                </div>
                        </div>
                        <div class="panel-footer">                                  
                            <button class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>                    
            
        </div>
        <!-- END PAGE CONTENT WRAPPER -->                                                
    </div>            
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->