<style type="text/css">
    #hidden_c{
       overflow: auto;
        height: 60px;
        display: block;
    }
</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List Exercise <a href="admin/grammar/exercises/add" class="btn btn-danger btn-xs">Add new</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Grammar</th>
                                <th>Câu hỏi</th>
                                <th>Option 1</th>
                                <th>Option 2</th>
                                <th>Option 3</th>
                                <th>Option 4</th>
                                <th>Giải thích</th>
                                <th>Answer</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < exercises.length; i++) {
                                var content = JSON.parse(exercises[i].content);
                            %>
                            <tr>
                                <td><%= exercises[i]._id %></td>
                                <td>
                                <% if (exercises[i].grammars.length != 0) { %>
                                <%= exercises[i].grammars[0].title %>
                                <% } %>
                                </td>
                                <td><%- content.option %></td>
                                <td><%= content.option1 %></td>
                                <td><%= content.option2 %></td>
                                <td><%= content.option3 %></td>
                                <td><%= content.option4 %></td>
                                 <td id="hidden_c"><%- content.giaithich %></td>
                                <td><%= content.answer %></td>
                                <td width="10%">
                                  <a href="admin/grammar/exercises/edit?id=<%= exercises[i]._id %>" class="btn btn-success btn-xs">Edit</a>
                                  <a href="admin/grammar/exercises/delete?id=<%= exercises[i]._id %>" class="btn btn-danger btn-xs delete">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <style>
                .delete_phonetic{margin-right:10px;}
            </style>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
