<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="admin/grammar">
            <input type="hidden" name="type" value="exercise_add">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add new  Exercise Grammar</strong></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                         
                        <label class="col-md-1 col-xs-12 control-label">Câu hỏi</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <textarea id="giaithich" name="option" type="text" class="form-control"></textarea>
                            </div>                                            
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 1</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option1" value="" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 2</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option2" value="" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 3</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option3" value="" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Option 4</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input name="option4" value="" type="text" class="form-control"/>
                            </div>                                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Giải thích</label>
                        <div class="col-md-11 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <textarea id="giaithich" name="giaithich" type="text" class="form-control"></textarea>
                            </div>                                            
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">Answer</label>
                        <div class="col-md-11 col-xs-12">                                
                            <select id="answer" name="answer" class="form-control select">
                                <option value="A">Option 1</option>
                                <option value="B">Option 2</option>
                                <option value="C">Option 3</option>
                                <option value="D">Option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-xs-12 control-label">ID Grammar</label>
                        <div class="col-md-11 col-xs-12">                                
                            <select id="idparent" name="idparent" class="form-control select">
                                <% for (var i = 0; i < grammar.length; i++) { %>
                                <option value="<%= grammar[i].id %>"><%= grammar[i].title %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">                                  
                    <button class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
