<style type="text/css">
    #hidden_c{
       overflow: auto;
        height: 60px;
        display: block;
    }
</style>
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List Grammar<a href="admin/grammar/add" class="btn btn-danger btn-xs">Add new</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>STT</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>File</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                             <% for (var i = 0; i < grammar.length; i++) {
                            %>
                            <tr>
                                <td><%= grammar[i]._id %></td>
                                <td><%= grammar[i].stt %></td>
                                <td><%= grammar[i].title %></td>
                                <td><%= grammar[i].type_grammar %></td>
                                <td><%= grammar[i].file_upload %></td>
                                <td width="10%"><a href="admin/grammar/edit?id=<%= grammar[i]._id %>" class="btn btn-success btn-xs">Edit</a>   
                                 <a href="admin/grammar/delete?id=<%= grammar[i]._id %>" class="delete btn btn-danger btn-xs"/>Delete</td> 
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <style>
                .delete{margin-right:10px;}
                tbody *{font-size:13px;font-weight:100;}
            </style>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
