<footer class="page-footer">
			<div class="page-footer__top">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<a href="#">
								<img src="frontend/assets/images/logo/3.png">
							</a>
						</div>
						<!-- col-md-2 -->
						<div class="col-md-4 col-sm-4 col-xs-4 ">
							<div class="widget_text">
								<h4 class="widget-title">Giới thiệu</h4>
								<div class="widget-content">
									<p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
								</div>
							</div>
						</div>
						<!-- col-md-4 -->
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="widget_text">
								<h4 class="widget-title">Liên hệ</h4>
								<div class="widget-content">
									<div class="contact">
										<p><i class="fa fa-phone-square"></i> 0123 456 789</p>
										<p><i class="fa fa-envelope"></i> mail@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="widget_social">
								<h4 class="widget-title">Mạng xã hội</h4>
								<div class="social-links">
									<ul class="clearfix">
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-google-plus-square"></a></li>
										<li><a href="#" class="fa fa-youtube-square"></a></li>

									</ul>
								</div>
							</div>
						</div>
						<!-- col-md-3 -->
					</div>
					<!-- row --> 

				</div>
				<!-- container -->
			</div>
			<div class="page-footer__bottom">
				© 2017 Bản quyền thuộc về TOPICA NATIVE
			</div>
		</footer>