<nav class="main-nav">
	<ul class="main-menu">
		<li><a href="" class="current-page">Home</a></li>
		<li><a href="profile.html">Your profile</a></li>
		<li><a href="grammars.html#navigation">Grammar</a></li>
		<li><a href="vocabulary/week.html#navigation">Vocabulary</a></li>
		<li><a href="phonetics.html#navigation">Phonetics</a></li>
		<li><a href="exercises.html#navigation">Exam</a></li>						
		<li><a href="">Log out <i class="fa fa-sign-out"></i> </a></li>
	</ul>
</nav>