<div class="container text-center">
	<p style="line-height:40px;font-size:25px;margin-top:20px;color:#3ba1d4;"><%- sologan %></p>
	<div class="control">
		<a class="<% if(control == 'phonetic'){ %>active<% } %>" href="phonetic.html?date=<%= date %>#phonetics"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></a>
		<a class="<% if(control == 'vocabulary'){ %>active<% } %>" href="vocabulary.html?date=<%= date %>#vocabulary"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></a>
		<a class="<% if(control == 'grammar'){ %>active<% } %>" href="grammar.html?date=<%= date %>#grammar"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></a>
		<a class="<% if(control == 'exercise'){ %>active<% } %>" href="exercise.html?date=<%= date %>#exercise"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></a>
	</div>
</div>