<!DOCTYPE html>
<html class="no-js" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home &#8211; Learning english with TOPICA NATIVE </title>
    <base href="http://ncsb.topicanative.edu.vn/">
    <script>
    /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
    if (typeof WebFontConfig === "undefined") {
        WebFontConfig = new Object();
    }
    WebFontConfig['google'] = {
        families: ['Raleway:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic&amp;subset=latin']
    };

    (function() {
        var wf = document.createElement('script');
        wf.src = 'frontend/giao_dien_moi/frontend/giao_dien_moi/ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
    </script>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel='stylesheet' id='layerslider-css' href='frontend/giao_dien_moi/app/plugins/LayerSlider/static/layerslider/css/layersliderfc7a.css?ver=6.0.6' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='frontend/giao_dien_moi/app/plugins/contact-form-7/includes/css/styles167b.css?ver=4.6' type='text/css' media='all' />
    <link rel='stylesheet' id='module-frontend-css' href='frontend/giao_dien_moi/app/plugins/sensei/assets/css/modules-frontend4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='woothemes-sensei-frontend-css' href='frontend/giao_dien_moi/app/plugins/sensei/assets/css/frontend/sensei846a.css?ver=1.9.11' type='text/css' media='screen' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='frontend/giao_dien_moi/app/plugins/woocommerce/assets/css/woocommerce-layout8dc7.css?ver=2.6.13' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='frontend/giao_dien_moi/app/plugins/woocommerce/assets/css/woocommerce-smallscreen8dc7.css?ver=2.6.13' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='frontend/giao_dien_moi/app/plugins/woocommerce/assets/css/woocommerce8dc7.css?ver=2.6.13' type='text/css' media='all' />
    <link rel='stylesheet' id='timetable_font_lato-css' href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700&amp;ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='testimonial-rotator-style-css' href='frontend/giao_dien_moi/app/plugins/testimonial-rotator/testimonial-rotator-style4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='frontend/giao_dien_moi/app/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min972f.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='frontend/giao_dien_moi/app/plugins/js_composer/assets/css/js_composer.min972f.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bsf-Defaults-css' href='frontend/giao_dien_moi/app/uploads/smile_fonts/Defaults/Defaults4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bsf-iconsmind-css' href='frontend/giao_dien_moi/app/uploads/smile_fonts/iconsmind/iconsmind4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bsf-linear-css' href='frontend/giao_dien_moi/app/uploads/smile_fonts/linear/linear4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fontawesome.io/assets/font-awesome/css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-google-fonts-css' href='https://fonts.googleapis.com/css?family=Raleway:regular,900,800,600,700,300|Playfair+Display:regular,700|Montserrat' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-style-min-css' href='frontend/giao_dien_moi/app/plugins/Ultimate_VC_Addons/assets/min-css/ultimate.minbcd2.css?ver=3.16.7' type='text/css' media='all' />
    <link rel='stylesheet' id='timetable_merged-css' href='frontend/giao_dien_moi/app/plugins/skilled-plugin/public/css/extensions4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='sp-style-css' href='frontend/giao_dien_moi/app/plugins/skilled-plugin/public/css/style4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='iconsmind-line-icons-css' href='frontend/giao_dien_moi/app/themes/skilled/assets/css/iconsmind-line-icons4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='linear-icons-css' href='frontend/giao_dien_moi/app/themes/skilled/assets/css/linear-icons4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bricklayer-groundwork-css' href='frontend/giao_dien_moi/app/themes/skilled/assets/css/groundwork-responsive4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='skilled_style-css' href='frontend/giao_dien_moi/app/themes/skilled-child-demo/style4906.css?ver=4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='senior_care_options_style-css' href='frontend/giao_dien_moi/app/uploads/skilled_options_style4906.css?ver=4.7' type='text/css' media='all' />
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/LayerSlider/static/layerslider/js/greensockb3a6.js?ver=1.19.0'></script>
    <!-- <script type='text/javascript'>
	/* <![CDATA[ */
	var tribe_events_linked_posts = {"post_types":{"tribe_venue":"venue","tribe_organizer":"organizer"}};
	/* ]]> */
	</script> -->
    <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var LS_Meta = {
        "v": "6.0.6"
    };
    /* ]]> */
    </script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jqueryfc7a.js?ver=6.0.6'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/LayerSlider/static/layerslider/js/layerslider.transitionsfc7a.js?ver=6.0.6'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <!-- <script type='text/javascript'>
	/* <![CDATA[ */
	var wc_add_to_cart_params = {"ajax_url":"\/wp\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/home-transparent-header-slider\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/skilled.aislinthemes.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
	/* ]]> */
	</script> -->
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/woocommerce/assets/js/frontend/add-to-cart.min8dc7.js?ver=2.6.13'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart972f.js?ver=5.0.1'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/vc-addons/our-process/assets/js/jquery-appear4906.js?ver=4.7'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/vc-addons/our-process/assets/js/scp-our-process4906.js?ver=4.7'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/underscore.min4511.js?ver=1.8.3'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/vc-addons/countdown/assets/jquery.countdown.min4906.js?ver=4.7'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/testimonial-rotator/js/jquery.cycletwo4906.js?ver=4.7'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/testimonial-rotator/js/jquery.cycletwo.addons4906.js?ver=4.7'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/Ultimate_VC_Addons/assets/min-js/ultimate.minbcd2.js?ver=3.16.7'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/themes/skilled-child-demo/assets/js/demo.js'></script>
    <script type='text/javascript' src='frontend/giao_dien_moi/app/themes/skilled/assets/js/vendor/modernizr-2.7.0.min.js'></script>
    <meta name="generator" content="Powered by LayerSlider 6.0.6 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress." />
    <!-- LayerSlider updates and docs at: https://layerslider.kreaturamedia.com -->
    <link rel='https://api.w.org/' href='http://skilled.aislinthemes.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://skilled.aislinthemes.com/wp/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://skilled.aislinthemes.com/wp/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.7" />
    <meta name="generator" content="WooCommerce 2.6.13" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='http://skilled.aislinthemes.com/?p=8797' />
    <link rel="alternate" type="application/json+oembed" href="http://skilled.aislinthemes.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fskilled.aislinthemes.com%2Fhome-transparent-header-slider%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://skilled.aislinthemes.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fskilled.aislinthemes.com%2Fhome-transparent-header-slider%2F&amp;format=xml" />
    <script>
    var skilled_plugin = skilled_plugin || {
        data: {
            vcWidgets: {
                ourProcess: {
                    breakpoint: 480
                }
            }
        }
    };
    </script>
    <script>
    var wheels = wheels || {
        siteName: "Skilled",
        data: {
            useScrollToTop: true,
            useStickyMenu: true,
            scrollToTopText: "",
            isAdminBarShowing: false,
            initialWaypointScrollCompensation: "120"
        }
    };
    </script>
    <style>
    .lin-slider-button:hover {
        border-color: #ffc50d !important;
        color: #ffc50d !important;
    }
    
    .lin-slider-alt-button {
        border-color: #ffc50d !important;
        background-color: #ffc50d !important;
        color: #fff !important;
    }
    
    @media (max-width: 850px) {
        .wh-top-bar-additional .scp-icon-bullet-text-icon {
            font-size: 28px !important;
        }
    }
    </style>
    <script id="wh-custom-js-code">
    jQuery(document).ready(function() {

    });
    </script>
    <style>
    @media screen and (max-width: 767px) {
        #cbp-menu-main {
            width: 100%;
        }
        .wh-main-menu-bar-wrapper,
        .wh-top-bar {
            display: none;
        }
        .wh-header {
            display: none;
        }
    }
    </style>
    <script>
    var wheels = wheels || {};
    wheels.data = wheels.data || {};

    wheels.data.respmenu = {
        id: 'cbp-menu-main',
        options: {
            id: 'cbp-menu-main-respmenu',
            submenuToggle: {
                className: 'cbp-respmenu-more',
                html: '<i class="lnr lnr-chevron-down"></i>'
            },
            logo: {
                src: "http:\/\/skilled.aislinthemes.com\/app\/uploads\/2015\/12\/logo.png",
                link: 'http://skilled.aislinthemes.com'
            },
            toggleSwitch: {
                src: ""
            },
            prependTo: 'body',
            skipClasses: ['wcmenucart-contents']
        }
    };
    </script>
    <link rel="icon" href="frontend/giao_dien_moi/app/uploads/2016/02/cropped-fav-3-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="frontend/giao_dien_moi/app/uploads/2016/02/cropped-fav-3-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="frontend/giao_dien_moi/app/uploads/2016/02/cropped-fav-3-1-180x180.png" />
    <meta name="msapplication-TileImage" content="http://skilled.aislinthemes.com/app/uploads/2016/02/cropped-fav-3-1-270x270.png" />
    <style type="text/css">
    .tt_tabs .tt_timetable .event {
        background: #ffc000;
    }
    
    .tt_tabs_navigation li a:hover,
    .tt_tabs_navigation li a.selected,
    .tt_tabs_navigation li.ui-tabs-active a {
        border-color: #ffc000 !important;
    }
    
    .tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected {
        background-color: #ffc000;
        border-color: #ffc000;
    }
    
    .tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected:hover {
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .sf-timetable-menu li ul li a:hover,
    .sf-timetable-menu li ul li.selected a:hover {
        background-color: #ffc000;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:regular&amp;subset=">
    <style type="text/css">
    .tt_tabs .tt_timetable {
        font-family: "Raleway" !important;
    }
    </style>
    <style type="text/css" data-type="vc_custom-css">
    /*Top Bar Additional shortcodes*/
    
    .scp-icon-bullet-text .scp-icon-bullet-text-icon,
    .scp-icon-bullet-text .subtitle,
    .scp-icon-bullet-text .description {
        color: #fff !important;
    }
    
    .scp-icon i {
        color: #fff !important;
    }
    
    .scp-icon i:hover {
        color: #ADAAAA !important;
    }
    /* Main menu link colors */
    
    .sf-menu.wh-menu-main li a {
        color: #fff;
    }
    
    .sf-menu.wh-menu-main li a:hover {
        color: #ADAAAA;
    }
    
    .sf-menu.wh-menu-main .sub-menu li a {
        color: #333;
    }
    
    .sf-menu.wh-menu-main .sub-menu li a:hover {
        color: #fff;
    }
    
    .sf-menu.wh-menu-main .senseiloginlogout::before {
        color: #fff;
    }
    /* Main menu sticky link colors */
    
    .wh-sticky-header .sf-menu.wh-menu-main li a {
        color: #333;
    }
    
    .wh-sticky-header .sf-menu.wh-menu-main li a:hover {
        color: #999;
    }
    
    .wh-sticky-header .sf-menu.wh-menu-main .sub-menu li a:hover {
        color: #fff;
    }
    
    .wh-sticky-header .sf-menu.wh-menu-main .senseiloginlogout::before {
        color: #333;
    }
    
    .wh-top-bar-additional {
        border-bottom: 1px solid rgba(111, 111, 111, 0.4);
    }
    
    .lin-top-icon-1 .aio-icon i {
        padding: 38px;
        border-radius: 50%;
        background-color: #ffc000;
    }
    
    .lin-top-icon-2 .aio-icon i {
        padding: 38px;
        border-radius: 50%;
        background-color: #2abfd4;
    }
    
    .lin-top-icon-3 .aio-icon i {
        padding: 38px;
        border-radius: 50%;
        background-color: #6b6c1c;
    }
    
    .lin-top-icon-4 .aio-icon i {
        padding: 38px;
        border-radius: 50%;
        background-color: #2abfd4;
    }
    
    .lin-classess-icon-1 i {
        padding: 18px;
        border-radius: 50%;
        background-color: #6b6c1c;
    }
    
    .lin-classess-icon-5 i {
        padding: 18px;
        border-radius: 50%;
        background-color: #2abfd4;
    }
    
    .lin-classess-icon-6 i {
        padding: 10px;
        border-radius: 50%;
        background-color: #ffffff;
    }
    
    .sc-feature-boxes {
        z-index: 999;
    }
    
    .sc-feature-box {
        margin-top: -170px;
    }
    /* Course Boxes */
    
    .lin-course-box {
        height: 230px;
    }
    
    .lin-course-box .vc_column-inner {
        background-position: left bottom !important;
    }
    
    @media (max-width: 1200px) {
        .sc-feature-box {
            margin-top: 0;
        }
    }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
    .vc_custom_1452370767689 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .vc_custom_1452514588208 {
        margin-bottom: 0px !important;
        padding-top: 40px !important;
    }
    
    .vc_custom_1452333137143 {
        margin-top: 20px !important;
        margin-bottom: 65px !important;
    }
    
    .vc_custom_1449224048355 {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
        padding-bottom: 30px !important;
    }
    
    .vc_custom_1471422552709 {
        margin-top: 0px !important;
        padding-top: 35px !important;
        padding-bottom: 35px !important;
        background: rgba(211, 211, 211, 0.01) url(frontend/giao_dien_moi/app/uploads/2015/08/bg-mac2fc7.png?id=10560) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        *background-color: rgb(211, 211, 211) !important;
    }
    
    .vc_custom_1451469706073 {
        margin-bottom: 0px !important;
        padding-bottom: 45px !important;
    }
    
    .vc_custom_1451469769335 {
        margin-top: 0px !important;
        padding-top: 20px !important;
        padding-bottom: 40px !important;
        background-color: #2abfd4 !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    
    .vc_custom_1451469816418 {
        margin-bottom: 0px !important;
    }
    /*.vc_custom_1451469856117{margin-bottom: 30px !important;}*/
    
    .vc_custom_1455028158864 {
        margin-bottom: -35px !important;
        padding-top: 45px !important;
        padding-bottom: 20px !important;
        background-color: #ffc000 !important;
    }
    
    .vc_custom_1451904258434 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }
    
    .vc_custom_1444462858210 {
        background-position: 0 0 !important;
        background-repeat: no-repeat !important;
    }
    
    .vc_custom_1452371437060 {
        margin-bottom: 0px !important;
        background-position: 0 0 !important;
        background-repeat: no-repeat !important;
    }
    
    .vc_custom_1449222217943 {
        margin-top: 0px !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    
    .vc_custom_1450532829867 {
        padding-top: 60px !important;
        padding-right: 30px !important;
        padding-bottom: 60px !important;
        padding-left: 30px !important;
        background: #2abfd4 url(http://skilled.aislinthemes.com/app/uploads/2015/10/banner-pencil-e1450532824100.png?id=9304) !important;
        background-position: 0 0 !important;
        background-repeat: no-repeat !important;
    }
    
    .vc_custom_1446623715425 {
        margin-top: 0px !important;
    }
    
    .vc_custom_1446214155298 {
        margin-top: 5px !important;
        margin-bottom: 15px !important;
    }
    
    .vc_custom_1449222249647 {
        margin-top: 0px !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    
    .vc_custom_1449914773145 {
        padding-top: 60px !important;
        padding-right: 30px !important;
        padding-bottom: 60px !important;
        padding-left: 30px !important;
        background: #f8d24b url(http://skilled.aislinthemes.com/app/uploads/2015/08/banner02.png?id=8213) !important;
        background-position: 0 0 !important;
        background-repeat: no-repeat !important;
    }
    
    .vc_custom_1446214191840 {
        margin-top: 0px !important;
    }
    
    .vc_custom_1446214155298 {
        margin-top: 5px !important;
        margin-bottom: 15px !important;
    }
    
    .vc_custom_1452371930718 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1451470171318 {
        margin-top: -11px !important;
    }
    
    .vc_custom_1452517966426 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    
    .vc_custom_1452371773156 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1446888045465 {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    .vc_custom_1451470229784 {
        margin-top: -11px !important;
    }
    
    .vc_custom_1451469412149 {
        padding-top: 40px !important;
        padding-bottom: 20px !important;
    }
    
    .vc_custom_1449914835496 {
        padding-top: 10px !important;
        padding-bottom: -20px !important;
        background-color: #35c4d9 !important;
    }
    
    .vc_custom_1449914844976 {
        padding-top: 10px !important;
        background-color: #ffc50d !important;
    }
    
    .vc_custom_1449914858236 {
        padding-top: 10px !important;
        background-color: #1a71b0 !important;
    }
    
    .vc_custom_1449914878523 {
        padding-top: 10px !important;
        background-color: #ff9d00 !important;
    }
    
    .vc_custom_1449914888722 {
        padding-top: 10px !important;
        background-color: #4c699e !important;
    }
    
    .vc_custom_1444047817717 {
        padding-top: 10px !important;
        background-color: #624aad !important;
    }
    
    .vc_custom_1452371782106 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1452371948345 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1451470242662 {
        margin-top: -11px !important;
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1449746393824 {
        padding-top: 20px !important;
    }
    
    .vc_custom_1446756958182 {
        margin-top: 0px !important;
    }
    
    .vc_custom_1452371954272 {
        margin-bottom: 0px !important;
        padding-top: 15px !important;
    }
    
    .vc_custom_1452372340115 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1452372348588 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1452372355054 {
        margin-bottom: 0px !important;
    }
    
    .vc_custom_1449247124869 {
        margin-top: 5px !important;
    }
    
    .vc_custom_1449247425118 {
        margin-top: 5px !important;
    }
    
    .vc_custom_1449247451611 {
        margin-top: 5px !important;
    }
    
    .vc_custom_1449247481594 {
        margin-top: 5px !important;
    }
    
    .vc_custom_1451470255815 {
        margin-top: -11px !important;
    }
    
    .vc_custom_1454920666252 {
        padding-left: 30px !important;
    }
    
    .vc_custom_1455637861950 {
        margin-bottom: 20px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .vc_custom_1454592462003 {
        margin-bottom: 0px !important;
        padding-bottom: 15px !important;
    }
    
    .vc_custom_1449053956553 {
        margin-top: 0px !important;
    }
    
    .vc_custom_1449053787185 {
        margin-top: 10px !important;
        margin-left: 5px !important;
    }
    
    .vc_custom_1425560004714 {
        margin-top: 10px !important;
        margin-left: 10px !important;
    }
    
    .vc_custom_1425560004714 {
        margin-top: 10px !important;
        margin-left: 10px !important;
    }
    
    .vc_custom_1452513771420 {
        margin-bottom: 0px !important;
        padding-top: 0px !important;
        padding-right: 100px !important;
    }
    
    .vc_custom_1452513778622 {
        margin-bottom: 10px !important;
        padding-top: 0px !important;
    }
    </style>
    <!-- <noscript>
		<style type="text/css"> 
		.wpb_animate_when_almost_visible { opacity: 1; }
		</style>
	</noscript> -->
</head>

<body class="page-template page-template-template-home-transparent-header page-template-template-home-transparent-header-php page page-id-8797 tribe-no-js wpb-js-composer js-comp-ver-5.0.1 vc_responsive">
    <header class="cbp-row wh-header wh-header-inner ">
        <div class="cbp-row wh-top-bar-additional">
            <div class="cbp-container">
                <div class="wh-logo-wrap one fourth wh-padding">
                    <div class="wh-logo align-left">
                        <a href="http://ncsb.topicanative.edu.vn">
                            <img src="frontend/giao_dien_moi/app/uploads/2015/12/Logo.png" alt="logo" style="width: 180px;">
                        </a>
                    </div>
                </div>
                <div class="three fourths wh-padding wh-top-bar-additional-text align-left">
                    <span class="scp-icon scp-icon-background pull-right" style="margin:0 8px;text-align:center;"><a href="#" target="_blank"><i class="fa fa-instagram" style="color:#666;font-size:20px;line-height:46px;" onMouseOver="this.style.color='#666'" onMouseOut="this.style.color='#666'"></i></a> 
					</span>
                    <span class="scp-icon scp-icon-background pull-right" style="margin:0 8px;text-align:center;"><a href="#" target="_blank"><i class="fa fa-facebook" style="color:#666;font-size:20px;line-height:46px;" onMouseOver="this.style.color='#666'" onMouseOut="this.style.color='#666'"></i></a> 
					</span>
                    <span class="scp-icon scp-icon-background pull-right" style="margin:0 8px 0 25px;text-align:center;"><a href="#" target="_blank"><i class="fa fa-twitter" style="color:#666;font-size:20px;line-height:46px;" onMouseOver="this.style.color='#666'" onMouseOut="this.style.color='#666'"></i></a> </span>&nbsp;
                </div>
            </div>
        </div>
        <div class="wh-main-menu-bar-wrapper wh-sticky-header-enabled">
            <div class="cbp-container">
                <div class="logo-sticky">
                    <a href="http://skilled.aislinthemes.com/demo">
                        <img src="frontend/giao_dien_moi/app/uploads/2015/12/logo-2.png" alt="logo">
                    </a>
                </div>
                <div class="wh-main-menu one whole wh-padding">
                    <div id="cbp-menu-main">
                        <div class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="sf-menu wh-menu-main pull-left">
                                <li id="menu-item-10178" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-10178"><a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-10338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10338"><a href="http://skilled.aislinthemes.com/home-standard-header/">Home &#8211; Your profile</a></li>
                                        <li id="menu-item-10182" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-8797 current_page_item menu-item-10182"><a href="index.html">Home &#8211; Transparent Header &#8211; Slider</a></li>
                                        <li id="menu-item-11955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-11955"><a href="http://skilled.aislinthemes.com/">Home &#8211; Transparent Header &#8211; Search</a></li>
                                        <li id="menu-item-11952" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11952"><a href="http://skilled.aislinthemes.com/home-classes/">Home &#8211; Classes</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-10177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10177"><a href="#">Your Profile</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-10183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10183"><a href="http://skilled.aislinthemes.com/about-us/">About Us</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-13266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13266"><a href="http://skilled.aislinthemes.com/about-us-2/">About Us 2</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-10184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10184"><a href="http://skilled.aislinthemes.com/gallery/">Gallery</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-13187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13187"><a href="http://skilled.aislinthemes.com/gallery-2/">Gallery Masonry</a></li>
                                                <li id="menu-item-13188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13188"><a href="http://skilled.aislinthemes.com/gallery-3-column/">Gallery 3 Column</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-10185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10185"><a href="http://skilled.aislinthemes.com/services/">Services</a></li>
                                        <li id="menu-item-10187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10187"><a href="http://skilled.aislinthemes.com/single-class/">Single Class</a></li>
                                        <li id="menu-item-10201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10201"><a href="http://skilled.aislinthemes.com/events">Events</a></li>
                                        <li id="menu-item-10199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10199"><a href="http://skilled.aislinthemes.com/teachers">Teachers</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-10200" class="menu-item menu-item-type-post_type menu-item-object-teacher menu-item-10200"><a href="http://skilled.aislinthemes.com/teachers/charlie-brown/">Single Teacher</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-13210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13210"><a href="http://skilled.aislinthemes.com/timetable/">Timetable</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-10195" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10195"><a href="#">Grammar</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-9564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9564"><a href="http://skilled.aislinthemes.com/blog/">Listing Layout</a></li>
                                        <li id="menu-item-10196" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10196"><a href="http://skilled.aislinthemes.com/skilled-nursing/">Single Post</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-10193" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10193"><a href="#">Vocabulary</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-10194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10194"><a href="http://skilled.aislinthemes.com/search-courses/">Search Courses</a></li>
                                        <li id="menu-item-13148" class="menu-item menu-item-type-post_type menu-item-object-course menu-item-13148"><a href="http://skilled.aislinthemes.com/course/sketch-3-from-a-to-z-become-an-app-designer/">Single Course Free</a></li>
                                        <li id="menu-item-11982" class="menu-item menu-item-type-post_type menu-item-object-course menu-item-11982"><a href="http://skilled.aislinthemes.com/course/adobe-indesign-cs6-tutorial-beginners/">Single Course Paid</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-10192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10192"><a href="http://skilled.aislinthemes.com/shop/">Phonetics</a></li>
                                <li id="menu-item-10188" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10188"><a href="#">Exam</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-12766" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12766"><a href="http://skilled.aislinthemes.com/elements/">Elements</a></li>
                                        <li id="menu-item-10190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10190"><a href="http://skilled.aislinthemes.com/grid/">Grid</a></li>
                                        <li id="menu-item-10191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10191"><a href="http://skilled.aislinthemes.com/typography/">Typography</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-10197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10197"><a href="http://skilled.aislinthemes.com/contact/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="wh-style-switcher">
        <ul class="wh-switcher-links">
            <li class="default"><a href="http://skilled.aislinthemes.com/home-transparent-header-slider">Reset</a></li>
            <li>
                <a href="http://skilled.aislinthemes.com/home-transparent-header-slider-brown/?version=brown" title="Home - Transparent Header - Slider (Brown)">
                    <img src="frontend/giao_dien_moi/app/themes/skilled-child-demo/assets/img/color-schemes/brown.png" alt="switcher-thumb">
                </a>
            </li>
            <li>
                <a href="http://skilled.aislinthemes.com/home-transparent-header-slider-green-blue-yellow/?version=green-blue-yellow" title="Home - Transparent Header - Slider (Green Blue Yellow)">
                    <img src="frontend/giao_dien_moi/app/themes/skilled-child-demo/assets/img/color-schemes/green-blue-yellow.png" alt="switcher-thumb">
                </a>
            </li>
            <li>
                <a href="http://skilled.aislinthemes.com/home-transparent-header-slider-grey-green/?version=grey-green" title="Home - Transparent Header - Slider (Grey Green)">
                    <img src="frontend/giao_dien_moi/app/themes/skilled-child-demo/assets/img/color-schemes/grey-green.png" alt="switcher-thumb">
                </a>
            </li>
            <li>
                <a href="http://skilled.aislinthemes.com/home-transparent-header-slider-orange-blue/?version=orange-blue" title="Home - Transparent Header - Slider (Orange Blue)">
                    <img src="frontend/giao_dien_moi/app/themes/skilled-child-demo/assets/img/color-schemes/orange-blue.png" alt="switcher-thumb">
                </a>
            </li>
            <li>
                <a href="http://skilled.aislinthemes.com/home-transparent-header-slider-red-blue/?version=red-blue" title="Home - Transparent Header - Slider (Red Blue)">
                    <img src="frontend/giao_dien_moi/app/themes/skilled-child-demo/assets/img/color-schemes/red-blue.png" alt="switcher-thumb">
                </a>
            </li>
        </ul>
    </div>
    <script>
    jQuery(function($) {
        var $styleSwitcherToggle = $('.wh-switcher-toggle');
        var $styleSwitcherContainer = $('#wh-style-switcher');
        // var $cog                    = $styleSwitcherToggle.find('.fa-cog');
        var speed = 200;

        $styleSwitcherToggle.toggle(
            function() {
                $styleSwitcherContainer.animate({
                    left: 0
                }, speed);
                // $cog.toggleClass('fa-spin');
            },
            function() {
                $styleSwitcherContainer.animate({
                    left: -123
                }, speed);
                // $cog.toggleClass('fa-spin');
            }
        );
    });
    </script>
    <div class="cbp-row wh-content">
        <div class="cbp-container wh-padding">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1452370767689">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1451904258434">
                        <div class="wpb_wrapper">
                            <div class="wpb_layerslider_element wpb_content_element">
                                <script data-cfasync="false" type="text/javascript">
                                var lsjQuery = jQuery;
                                </script>
                                <script data-cfasync="false" type="text/javascript">
                                lsjQuery(document).ready(function() {
                                    if (typeof lsjQuery.fn.layerSlider == "undefined") {
                                        if (window._layerSlider &&  window._layerSlider.showNotice) {
                                            window._layerSlider.showNotice('layerslider_4_1487850282_1', 'jquery');
                                        }
                                    } else {
                                        lsjQuery("#layerslider_4_1487850282_1").layerSlider({
                                            sliderVersion: '6.0.6',
                                            type: 'fullwidth',
                                            responsiveUnder: 1200,
                                            hideUnder: 0,
                                            hideOver: 100000,
                                            skin: 'v5',
                                            navPrevNext: false,
                                            navStartStop: false,
                                            navButtons: false,
                                            thumbnailNavigation: 'disabled',
                                            skinsPath: 'http://skilled.aislinthemes.com/app/plugins/LayerSlider/static/layerslider/skins/'
                                        });
                                    }
                                });
                                </script>
                                <div id="layerslider_4_1487850282_1" class="ls-wp-container fitvidsignore" style="width:1200px;height:771px;margin:0 auto;margin-bottom: 0px;">
                                    <div class="ls-slide" data-ls="duration:4000;kenburnsscale:1.2;"><img width="1920" height="771" src="frontend/giao_dien_moi/app/uploads/layerslider/Homepage-Transparent-Header-copy/Slider-03.png" class="ls-bg" alt="" sizes="(max-width: 1920px) 100vw, 1920px" />
                                        <p style="font-weight: 300;font-family:Raleway;font-size:56px;line-height:60px;color:#ffffff;top:405px;left:276px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">
                                            With TOPICA NATIVE
                                        </p>
                                        <p style="font-weight: 900;font-family:Raleway;font-size:60px;line-height:60px;color:#ffffff;top:340px;left:426px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:easeOutCubic;offsetxout:-80;durationout:400;easingout:easeOutCirc;parallaxlevel:0;">
                                            Learning English
                                        </p>
                                        <a style="" class="ls-l" href="https://themeforest.net/item/skilled-school-education-courses-wordpress-theme/14564174?ref=Aislin" target="_self" data-ls="offsetxin:80;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">
                                            <div style="font-weight: 1000;padding-top:16px;padding-right:24px;padding-bottom:16px;padding-left:24px;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #fff;font-family:'Source Sans Pro', sans-serif;font-size:20px;color:#ffffff;top:500px;left:522px;wordwrap:false;" class=" lin-slider-button hide-on-small-tablet"><span style="font-style: arial"><b>HỌC HOMEWORK NGAY</b></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ls-slide" data-ls="duration:4000;"><img width="1920" height="773" src="frontend/giao_dien_moi/app/uploads/2015/11/img.png" class="ls-bg" alt="" srcset="http://skilled.aislinthemes.com/app/uploads/2015/11/img.png 1920w, http://skilled.aislinthemes.com/app/uploads/2015/11/img-300x121.png 300w, http://skilled.aislinthemes.com/app/uploads/2015/11/img-1024x412.png 1024w, http://skilled.aislinthemes.com/app/uploads/2015/11/img-100x40.png 100w, http://skilled.aislinthemes.com/app/uploads/2015/11/img-150x60.png 150w" sizes="(max-width: 1920px) 100vw, 1920px" />
                                        <p style="font-weight: 300;font-family:Raleway;font-size:56px;line-height:60px;color:#ffffff;top:405px;left:364px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">With TOPICA NATIVE</p>
                                        <p style="font-weight: 900;font-family:Raleway;font-size:60px;line-height:60px;color:#ffffff;top:340px;left:263px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">Learning English</p>
                                        <a style="" class="ls-l" href="https://themeforest.net/item/skilled-school-education-courses-wordpress-theme/14564174?ref=Aislin" target="_self" data-ls="offsetxin:80;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">
                                            <div style="font-weight: 800;padding-top:16px;padding-right:24px;padding-bottom:16px;padding-left:24px;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #fff;font-family:'Source Sans Pro', sans-serif;font-size:20px;color:#ffffff;top:489px;left:557px;wordwrap:false;" class=" lin-slider-button hide-on-small-tablet"><span style="font-weight: 20px"> <b>HỌC HOMEWORK NGAY</b></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ls-slide" data-ls="duration:4000;"><img width="1920" height="771" src="frontend/giao_dien_moi/app/uploads/layerslider/Homepage-Transparent-Header-copy/bg-slider02.png" class="ls-bg" alt="" srcset="http://skilled.aislinthemes.com/app/uploads/layerslider/Homepage-Transparent-Header-copy/bg-slider02.png 1920w, http://skilled.aislinthemes.com/app/uploads/layerslider/Homepage-Transparent-Header-copy/bg-slider02-300x120.png 300w, http://skilled.aislinthemes.com/app/uploads/layerslider/Homepage-Transparent-Header-copy/bg-slider02-1024x411.png 1024w, http://skilled.aislinthemes.com/app/uploads/layerslider/Homepage-Transparent-Header-copy/bg-slider02-100x40.png 100w, http://skilled.aislinthemes.com/app/uploads/layerslider/Homepage-Transparent-Header-copy/bg-slider02-150x60.png 150w" sizes="(max-width: 1920px) 100vw, 1920px" />
                                        <p style="font-weight: 800;font-family:Raleway;font-size:60px;line-height:60px;color:#ffffff;top:293px;left:364px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">Learning English<strong></strong></p>
                                        <p style="font-weight: 300;font-family:Raleway;font-size:56px;line-height:60px;color:#ffffff;top:359px;left:232px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">With TOPICA NATIVE<strong></strong></p>
                                        <p style="font-weight: 800;font-family:Raleway;font-size:60px;color:#a3a3a3;top:451px;left:494px;wordwrap:false;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><strong></strong></p>
                                        <p style="font-weight: 800;font-family:Raleway;font-size:30px;color:#a3a3a3;top:467px;left:462px;wordwrap:false;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><strong></strong></p>
                                        <p style="font-weight: 400;font-family:Raleway;font-size:22px;color:#ffffff;top:435px;left:643px;wordwrap:false;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><strong></strong></p>
                                        <p style="font-weight: 400;font-family:Raleway;font-size:22px;color:#ffffff;top:437px;left:500px;wordwrap:false;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><strong></strong></p>
                                        <p style="font-weight: 800;font-family:Raleway;font-size:60px;color:#ffffff;top:455px;left:641px;wordwrap:false;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><strong></strong></p>
                                        <p style="font-weight: 800;font-family:Raleway;font-size:30px;color:#ffffff;top:469px;left:617px;wordwrap:false;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><strong></strong></p>
                                        <a style="" class="ls-l" href="https://themeforest.net/item/skilled-school-education-courses-wordpress-theme/14564174?ref=Aislin" target="_self" data-ls="offsetxin:80;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">
                                            <div style="font-weight: 800;padding-top:16px;padding-right:24px;padding-bottom:16px;padding-left:24px;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #fff;font-family:'Source Sans Pro', sans-serif;font-size:20px;color:#ffffff;top:450px;left:500px;wordwrap:false;" class=" lin-slider-button hide-on-small-tablet"><span><b>HỌC HOMEWORK NGAY</b></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid sc-feature-boxes vc_custom_1452514588208">
                <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3 vc_col-lg-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="aio-icon-component   lin-top-icon-2 style_1">
                                <div id="Info-box-wrap-1869" class="aio-icon-box top-icon" style="">
                                    <div class="aio-icon-top">
                                        <div class="ult-just-icon-wrapper  ">
                                            <div class="align-icon" style="text-align:center;">
                                                <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#224687;border-style:solid;border-color:#2abfd4;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                                    <i class="linear-alarm"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- aio-icon-box -->
                            </div>
                            <!-- aio-icon-component -->
                            <div id="ultimate-heading-694858aecb2acee96" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-694858aecb2acee96 uvc-7987 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-694858aecb2acee96 h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                                    <h2 style="font-family:'Raleway';font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">PHONETICS</h2></div>
                                <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-694858aecb2acee96 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:'Arial';font-weight:normal;color:#666666;">Tự học phát âm tiếng Anh chuẩn như người bản xứ.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="aio-icon-component   lin-top-icon-1 style_1">
                                <div id="Info-box-wrap-4688" class="aio-icon-box top-icon" style="">
                                    <div class="aio-icon-top">
                                        <div class="ult-just-icon-wrapper  ">
                                            <div class="align-icon" style="text-align:center;">
                                                <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#377bab;border-style:solid;border-color:#ffd351;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                                    <i class="linear-book"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- aio-icon-box -->
                            </div>
                            <!-- aio-icon-component -->
                            <div id="ultimate-heading-220858aecb2acf454" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-220858aecb2acf454 uvc-1123 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-220858aecb2acf454 h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                                    <h2 style="font-family:'Raleway';font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">VOCABULARY</h2></div>
                                <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-220858aecb2acf454 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:'Arial';font-weight:normal;color:#666666;">Kho từ vựng tiếng Anh thông dụng cho người mới bắt đầu</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="aio-icon-component   lin-top-icon-2 style_1">
                                <div id="Info-box-wrap-1763" class="aio-icon-box top-icon" style="">
                                    <div class="aio-icon-top">
                                        <div class="ult-just-icon-wrapper  ">
                                            <div class="align-icon" style="text-align:center;">
                                                <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#224687;border-style:solid;border-color:#2abfd4;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                                    <i class="linear-users"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- aio-icon-box -->
                            </div>
                            <!-- aio-icon-component -->
                            <div id="ultimate-heading-734958aecb2acf9f0" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-734958aecb2acf9f0 uvc-5619 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-734958aecb2acf9f0 h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                                    <h2 style="font-family:'Raleway';font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">GRAMMAR</h2></div>
                                <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-734958aecb2acf9f0 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:'Arial';font-weight:normal;color:#666666;">Bộ tài liệu ngữ pháp tiếng Anh cơ bản</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="aio-icon-component   lin-top-icon-1 style_1">
                                <div id="Info-box-wrap-2987" class="aio-icon-box top-icon" style="">
                                    <div class="aio-icon-top">
                                        <div class="ult-just-icon-wrapper  ">
                                            <div class="align-icon" style="text-align:center;">
                                                <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#377bab;border-style:solid;border-color:#ffd351;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                                    <i class="linear-license"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- aio-icon-box -->
                            </div>
                            <!-- aio-icon-component -->
                            <div id="ultimate-heading-696958aecb2acff89" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-696958aecb2acff89 uvc-5057 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-696958aecb2acff89 h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                                    <h2 style="font-family:'Raleway';font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">EXCERSICE</h2></div>
                                <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-696958aecb2acff89 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family: 'Source Sans Pro', sans-serif;;font-weight:normal;color:#666666;">Kho bài tập theo chủ đề</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1452333137143">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                    <div class="vc_column-inner vc_custom_1444462858210">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1449222217943">
                                <div class="lin-course-box wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1450532829867">
                                        <div class="wpb_wrapper">
                                            <div style="font-size: 35px;color: #ffffff;line-height: 32px;text-align: right;font-family:Raleway;font-weight:800;font-style:normal" class="vc_custom_heading vc_custom_1446623715425"><a href="http://moving.aislinthemes.com/single-class/">TOPICA</a></div>
                                            <div style="font-size: 30px;color: #ffffff;line-height: 40px;text-align: right;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading"><a href="http://moving.aislinthemes.com/single-class/">NATIVE</a></div>
                                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_50 vc_sep_pos_align_right vc_separator_no_text vc_custom_1446214155298  vc_custom_1446214155298"><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span>
                                            </div>
                                            <div id="ultimate-heading-793758aecb2ad22b2" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-793758aecb2ad22b2 uvc-243 " data-hspacer="no_spacer" data-halign="right" style="text-align:right">
                                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                                <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-793758aecb2ad22b2 h2' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":""}'>
                                                    <h2 style="font-family:'Raleway';font-weight:normal;font-style:normal;color:#ffffff;">Watch classes anytime, anywhere.</h2></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                    <div class="vc_column-inner vc_custom_1452371437060">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1449222249647">
                                <div class="lin-course-box wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1449914773145">
                                        <div class="wpb_wrapper">
                                            <div style="font-size: 35px;color: #ffffff;line-height: 32px;text-align: right;font-family:Raleway;font-weight:800;font-style:normal" class="vc_custom_heading vc_custom_1446214191840"><a href="http://moving.aislinthemes.com/single-class/">TOPICA</a></div>
                                            <div style="font-size: 30px;color: #ffffff;line-height: 40px;text-align: right;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading"><a href="http://moving.aislinthemes.com/single-class/">NATIVE</a></div>
                                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_50 vc_sep_pos_align_right vc_separator_no_text vc_custom_1446214155298  vc_custom_1446214155298"><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span>
                                            </div>
                                            <div id="ultimate-heading-344558aecb2ad3534" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-344558aecb2ad3534 uvc-3755 " data-hspacer="no_spacer" data-halign="right" style="text-align:right">
                                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                                <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-344558aecb2ad3534 h2' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":""}'>
                                                    <h2 style="font-family:'Raleway';font-weight:normal;font-style:normal;color:#ffffff;">Create projects and build a portfolio.</h2></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- aio-icon-box -->
    </div>
    <!-- aio-icon-component -->
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <!-- header -->
            </div>
            <!-- aio-icon-box -->
        </div>
        <!-- aio-icon-component -->
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner vc_custom_1452371782106">
            <div class="wpb_wrapper">
                <!-- header -->
            </div>
            <!-- aio-icon-box -->
        </div>
        <!-- aio-icon-component -->
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1451469769335 vc_row-has-fill">
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner vc_custom_1452372340115">
                <div class="wpb_wrapper">
                    <div class="stats-block stats-top  ">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;"></div>
                            </div>
                        </div>
                        <div class="stats-desc" id="counter-responsv-wrap-8065">
                            <div id="counter_98987829258aecb2b00f43" data-id="counter_98987829258aecb2b00f43" data-ultimate-target='#counter-responsv-wrap-8065 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:'Raleway';font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="65" data-separator="," data-decimal=".">0</div>
                            <div counter-responsv-wrap-8065 data-ultimate-target='#counter-responsv-wrap-8065 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:'Raleway';font-weight:300;"></div>
                        </div>
                    </div>
                    <div id="ultimate-heading-543558aecb2b010a6" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-543558aecb2b010a6 uvc-8400 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                        <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                    </div>
                    <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247124869">HOURS</h2></div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner vc_custom_1452372348588">
                <div class="wpb_wrapper">
                    <div class="stats-block stats-top  ">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;"></div>
                            </div>
                        </div>
                        <div class="stats-desc" id="counter-responsv-wrap-9733">
                            <div id="counter_177297574758aecb2b01c62" data-id="counter_177297574758aecb2b01c62" data-ultimate-target='#counter-responsv-wrap-9733 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:'Raleway';font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="55" data-separator="," data-decimal=".">0</div>
                            <div counter-responsv-wrap-9733 data-ultimate-target='#counter-responsv-wrap-9733 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:'Raleway';font-weight:300;"></div>
                        </div>
                    </div>
                    <div id="ultimate-heading-528258aecb2b01db7" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-528258aecb2b01db7 uvc-7142 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                        <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                    </div>
                    <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247425118">SPEAKERS</h2></div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner vc_custom_1452372355054">
                <div class="wpb_wrapper">
                    <div class="stats-block stats-top  ">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;"></div>
                            </div>
                        </div>
                        <div class="stats-desc" id="counter-responsv-wrap-1106">
                            <div id="counter_147270206458aecb2b02973" data-id="counter_147270206458aecb2b02973" data-ultimate-target='#counter-responsv-wrap-1106 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:'Raleway';font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="17" data-separator="," data-decimal=".">0</div>
                            <div counter-responsv-wrap-1106 data-ultimate-target='#counter-responsv-wrap-1106 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:'Raleway';font-weight:300;"></div>
                        </div>
                    </div>
                    <div id="ultimate-heading-429058aecb2b02ac7" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-429058aecb2b02ac7 uvc-8417 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                        <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                    </div>
                    <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247451611">TOPICS</h2></div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="stats-block stats-top  ">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;"></div>
                            </div>
                        </div>
                        <div class="stats-desc" id="counter-responsv-wrap-9459">
                            <div id="counter_180127862258aecb2b0358a" data-id="counter_180127862258aecb2b0358a" data-ultimate-target='#counter-responsv-wrap-9459 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:'Raleway';font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="7" data-separator="," data-decimal=".">0</div>
                            <div counter-responsv-wrap-9459 data-ultimate-target='#counter-responsv-wrap-9459 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:'Raleway';font-weight:300;"></div>
                        </div>
                    </div>
                    <div id="ultimate-heading-470358aecb2b03720" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-470358aecb2b03720 uvc-6040 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                        <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                    </div>
                    <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247481594">LESSONS</h2></div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
    <!-- Row Backgrounds -->
    <div class="upb_color" data-bg-override="full" data-bg-color="" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.0.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1451469816418">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div id="ultimate-heading-469358aecb2b045ac" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-469358aecb2b045ac uvc-2113 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                        <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-469358aecb2b045ac h2' data-responsive-json-new='{"font-size":"desktop:26px;","line-height":"desktop:45px;"}'>
                            <h2 style="font-family:'Raleway';font-weight:900;color:#333333;margin-top:23px;margin-bottom:0px;">ABOUT US</h2></div>
                        <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffc000;width:30px;"></span></div>
                    </div>
                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1451470255815  vc_custom_1451470255815"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1451469856117">
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_custom_1455637861950 vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                        <div class="wpb_wrapper">
                            <div class="wpb_video_wrapper" style="margin-left: 222px;">
                                <iframe width="1200" height="675" src="https://www.youtube.com/embed/9gRaLjWr6Dc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner vc_custom_1454920666252" style="
    margin-left: 222px;">
                <div class="wpb_wrapper">
                    <div class="aio-icon-component    style_1">
                        <div id="Info-box-wrap-4176" class="aio-icon-box default-icon" style="">
                            <div class="aio-icon-default">
                                <div class="ult-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="aio-icon none " style="color:#ffc11b;font-size:16px;display:inline-block;">
                                            <i class="Defaults-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="aio-icon-header">
                                <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-4176 .aio-icon-title' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:21px;"}' style="font-family:'Raleway';font-weight:600;color:#666666;">Education School Technology</h3></div>
                            <!-- header -->
                        </div>
                        <!-- aio-icon-box -->
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <ul>
                                <li>I am text block.</li>
                                <li>Click edit button to change this text.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="aio-icon-component    style_1">
                        <div id="Info-box-wrap-5628" class="aio-icon-box default-icon" style="">
                            <div class="aio-icon-default">
                                <div class="ult-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="aio-icon none " style="color:#ffc11b;font-size:16px;display:inline-block;">
                                            <i class="Defaults-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="aio-icon-header">
                                <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-5628 .aio-icon-title' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:21px;"}' style="font-family:'Raleway';font-weight:600;color:#666666;">Conscious Discipline Institute</h3></div>
                            <!-- header -->
                        </div>
                        <!-- aio-icon-box -->
                    </div>
                    <!-- aio-icon-component -->
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <ul>
                                <li>Passionate about teaching</li>
                                <li>Create and save lists</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-row wh-footer" style="font-family:  'Source Sans Pro', sans-serif">
            <div>
                <div >

                    <a href="#" style="padding-left: 165px;padding-top: 6px;padding-bottom: 18px; float: left;">
                        <img src="frontend/giao_dien_moi/3.png" style="margin-top: 30px;margin-bottom: 30px">
                    </a>


                    <div class="widget_text" style="width: 356px;float: left;margin-top: 15px;margin-left: 30px;">
                        <h4 class="widget-title" style="color: white">Giới thiệu</h4>
                        <div class="widget-content" style="margin-top: -14px;">
                            <p>TOPICA NATIVE là nền tảng học Tiếng Anh trực tuyến, tập trung vào phát triển kỹ năng giao tiếp thông qua việc giúp học viên luyện nói hàng ngày với giáo viên Âu - Mỹ - Úc.</p>
                        </div>
                    </div>

                    <div class="widget_text" style="float: left;margin-top: 15px;margin-left: 30px;">
					    <h4 class="widget-title" style="color: white">Liên hệ</h4>
					    <div class="widget-content" style="margin-top: -15px">
					        <div class="contact">
					            <p><i class="fa fa-phone-square"></i> 0123 456 789</p>
					            <p><i class="fa fa-envelope"></i> mail@gmail.com</p>
					        </div>
					    </div>
					</div>

					<div class="widget_social" style="float: left;margin-top: 15px;margin-left: 30px;">
						<h4 class="widget-title" style="color: white">Mạng xã hội</h4>
						<div class="social-links">
							<ul class="clearfix">
					<div class="social-links one third wh-padding align-right" style="margin-top: -28px;margin-left: -50px">
                        <a target="_blank" href="http://google.com/" style="font-size:16px">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_blank" href="http://google.com/" style="font-size:16px">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a target="_blank" href="http://google.com/" style="font-size:16px">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
							</ul>
						</div>
					</div>
                </div>
            </div>
            <div class="cbp-row wh-footer-bottom" style="font-family:  'Source Sans Pro', sans-serif">
                <div class="cbp-container">
                    <div class="two thirds wh-padding align-left">
                        © ToicaNative 2017   •   75 Phương Mai,Hà Nội   •   Tel: 71494563   •   Build By H5 </div>
                    <div class="social-links one third wh-padding align-right">
                        <a target="_blank" href="http://google.com/" style="font-size:16px">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_blank" href="http://google.com/" style="font-size:16px">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a target="_blank" href="http://google.com/" style="font-size:16px">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script>
        (function(body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
        </script>
        <script type='text/javascript'>
        /* <![CDATA[ */
        var tribe_l10n_datatables = {
            "aria": {
                "sort_ascending": ": activate to sort column ascending",
                "sort_descending": ": activate to sort column descending"
            },
            "length_menu": "Show _MENU_ entries",
            "empty_table": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "info_empty": "Showing 0 to 0 of 0 entries",
            "info_filtered": "(filtered from _MAX_ total entries)",
            "zero_records": "No matching records found",
            "search": "Search:",
            "pagination": {
                "all": "All",
                "next": "Next",
                "previous": "Previous"
            },
            "select": {
                "rows": {
                    "0": "",
                    "_": ": Selected %d rows",
                    "1": ": Selected 1 row"
                }
            },
            "datepicker": {
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "nextText": "Next",
                "prevText": "Prev",
                "currentText": "Today",
                "closeText": "Done"
            }
        }; /* ]]> */
        </script>
        <link rel='stylesheet' id='vc_google_fonts_raleway100200300regular500600700800900-css' href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900&amp;ver=4.7' type='text/css' media='all' />
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
        <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = {
            "recaptcha": {
                "messages": {
                    "empty": "Please verify that you are not a robot."
                }
            }
        };
        /* ]]> */
        </script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/contact-form-7/includes/js/scripts167b.js?ver=4.6'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/sensei/assets/js/user-dashboard.min846a.js?ver=1.9.11'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
        <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = {
            "ajax_url": "\/wp\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/home-transparent-header-slider\/?wc-ajax=%%endpoint%%"
        };
        /* ]]> */
        </script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/woocommerce/assets/js/frontend/woocommerce.min8dc7.js?ver=2.6.13'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min330a.js?ver=1.4.1'></script>
        <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = {
            "ajax_url": "\/wp\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/home-transparent-header-slider\/?wc-ajax=%%endpoint%%",
            "fragment_name": "wc_fragments"
        };
        /* ]]> */
        </script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/woocommerce/assets/js/frontend/cart-fragments.min8dc7.js?ver=2.6.13'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/extensions/timetable/js/jquery.ba-bbq.min4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/extensions/timetable/js/jquery.carouFredSel-6.2.1-packed4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/extensions/timetable/js/timetable4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/vc-addons/sensei-courses-carousel/assets/owl.carousel.min4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/vc-addons/sensei-courses-carousel/assets/sensei-courses-carousel4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/skilled-plugin/public/js/linp-main4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/themes/skilled/assets/js/wheels-plugins.min.js'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/themes/skilled/assets/js/wheels-main.min.js'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/wp-embed.min4906.js?ver=4.7'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/app/plugins/js_composer/assets/js/dist/js_composer_front.min972f.js?ver=5.0.1'></script>
        <script type='text/javascript' src='frontend/giao_dien_moi/wp/wp-includes/js/jquery/ui/accordion.mine899.js?ver=1.11.4'></script>
        <script type="text/css" id="tmpl-tribe_customizer_css">.tribe-events-list .tribe-events-loop .tribe-event-featured, .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured, .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap, .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover { background-color: #0ea0d7; } #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured { background-color: #0ea0d7; } .tribe-events-list-widget .tribe-event-featured, .tribe-events-venue-widget .tribe-event-featured, .tribe-mini-calendar-list-wrapper .tribe-event-featured, .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event { background-color: #0ea0d7; } .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single { background-color: rgba(14,160,215, .7 ); border-color: #0ea0d7; } .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover { background-color: #0ea0d7; }
        </script>
        <style type="text/css" id="tribe_customizer_css">
        .tribe-events-list .tribe-events-loop .tribe-event-featured,
        .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
        .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
            background-color: #0ea0d7;
        }
        
        #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
            background-color: #0ea0d7;
        }
        
        .tribe-events-list-widget .tribe-event-featured,
        .tribe-events-venue-widget .tribe-event-featured,
        .tribe-mini-calendar-list-wrapper .tribe-event-featured,
        .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
            background-color: #0ea0d7;
        }
        
        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
            background-color: rgba(14, 160, 215, .7);
            border-color: #0ea0d7;
        }
        
        .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
            background-color: #0ea0d7;
        }
        </style>
</body>
<!-- Mirrored from skilled.aislinthemes.com/home-transparent-header-slider/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Feb 2017 11:47:35 GMT -->

</html>
