@font-face {
  font-family: 'SVN-Nexa';
  src: url("../fonts/SVN-Nexa/SVN-Nexa-Bold.ttf"), url("../fonts/SVN-Nexa/SVN-Nexa-Light.ttf");
}
.clear {
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 1160px) {
  .container {
    width: 990px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 979px) {
  .container {
    width: 760px;
  }
}
@media screen and (max-width: 799px) {
  .container {
    width: 708px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 620px;
  }
}
@media screen and (max-width: 639px) {
  .container {
    width: 460px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    width: 340px;
  }
}
@media screen and (max-width: 359px) {
  .container {
    width: 300px;
  }
}

::selection {
  background: #ff5113;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #ff5113;
  color: #fff;
  text-shadow: none;
}

.login {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(19, 15, 16, 0.4);
  -moz-box-shadow: 0px 0px 40px 0px rgba(19, 15, 16, 0.4);
  box-shadow: 0px 0px 40px 0px rgba(19, 15, 16, 0.4);
}

.clearfix:before, .login__form .form-group:before, .main-menu:before, .vocab-wrapper .detail:before, .clearfix:after, .login__form .form-group:after, .main-menu:after, .vocab-wrapper .detail:after {
  content: "";
  display: table;
}
.clearfix:after, .login__form .form-group:after, .main-menu:after, .vocab-wrapper .detail:after {
  clear: both;
}

a, .login__form .form-control, .login__form .form-control + label, .login__form .checkbox, .login__form .submit, .login__form .submit i, .banner .link i, .banner .link:before, .program, .program__image, .program__title, .main-menu li a:after, .btn-green i, .btn-green:after {
  transition: all 0.5s, visibility 0s;
  -ms-transition: all 0.5s, visibility 0s;
  -webkit-transition: all 0.5s, visibility 0s;
  -moz-transition: all 0.5s, visibility 0s;
}

@-webkit-keyframes upDown {
  from {
    bottom: 40px;
  }

  to {
    bottom: 20px;
  }
}
/* Standard syntax */
@keyframes upDown {
  from {
    bottom: 40px;
  }

  to {
    bottom: 20px;
  }
}
html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(222, 222, 222, 0.2);
}

/*_____________ Login page _____________*/
.page-content--login {
  background-image: url("../images/login/1.jpg");
  background-size: cover;
  padding: 140px 0;
}

.login {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.login__inner {
  border: 1px solid #ff5113;
  border-radius: 5px;
  padding-top: 23px;
}
.login__logo {
  text-align: center;
}
.login__form {
  margin-top: 30px;
}
.login__form .form-group {
  position: relative;
  margin-bottom: 30px;
}
.login__form .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 0 0 0 40px;
}
.login__form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: "";
  text-transform: uppercase;
}
.login__form .form-control + label {
  position: absolute;
  top: 0;
  left: 0;
  color: #666;
  font-size: 22px;
  width: 25px;
  text-align: center;
  line-height: 34px;
}
.login__form .form-control:focus, .login__form .form-control:hover {
  box-shadow: none;
  outline: none;
  border-bottom-color: #ff5113;
}
.login__form .form-control:focus + label, .login__form .form-control:hover + label {
  color: #ff5113;
}
.login__form .checkbox {
  float: left;
  display: inline-block;
  margin: 0;
  color: #666;
}
.login__form .checkbox:hover {
  color: #ff5113;
}
.login__form .checkbox input {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 3px;
  border-color: #ff5113;
  margin-top: 2px;
}
.login__form .forgot_pwd {
  float: right;
  color: #666;
  text-decoration: none;
}
.login__form .forgot_pwd:hover {
  color: #ff5113;
}
.login__form .submit {
  display: block;
  width: 100%;
  background-color: #ff5113;
  color: #fff;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
}
.login__form .submit i {
  margin-left: 5px;
  opacity: 0;
  width: 0;
}
.login__form .submit:hover i {
  margin-left: 5px;
  opacity: 1;
  width: 18px;
}
.login__form-inner {
  padding: 0 80px;
}

/*_____________ Home page _____________*/
.banner {
  background-image: url("../images/home/1.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 54px 0 120px;
  position: relative;
}
.banner .text-big {
  font-family: 'SVN-Nexa';
  font-size: 115px;
  line-height: 1em;
  font-weight: bold;
  color: #fff;
  margin-top: 140px;
  margin-bottom: 0;
}
.banner .text-small {
  font-family: 'SVN-Nexa';
  font-size: 41px;
  font-weight: bold;
  color: #fff;
  margin-top: -10px;
}
.banner .link {
  text-transform: uppercase;
  display: inline-block;
  font-size: 24px;
  line-height: 80px;
  height: 80px;
  padding: 0 20px 0 20px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
}
.banner .link i {
  color: #464646;
  margin-right: 35px;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
}
.banner .link:before {
  content: "";
  width: 70%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -49%;
  border-radius: 1000px;
  background-color: #fff;
  z-index: -1;
}
.banner .link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff5113;
  z-index: -2;
}
.banner .link:hover {
  color: #464646;
}
.banner .link:hover i {
  padding-left: 20px;
  margin-right: 15px;
}
.banner .link:hover:before {
  width: 200%;
}
.banner .scroll_btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  -webkit-animation: upDown 1s infinite;
  animation: upDown 1s infinite;
  color: #ff5113;
}
.banner .scroll_btn:hover {
  color: #fff;
}

.area-01 {
  padding: 30px 0;
}

.box, .programs {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.programs {
  padding-bottom: 0;
}

.program {
  background-color: #b8b8b8;
  border-radius: 10px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 26px;
  margin-bottom: 30px;
  height: 220px;
}
.program a {
  text-decoration: none !important;
  position: relative;
}
.program__image {
  height: 100px;
}
.program__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin-top: 18px;
}
.program:hover {
  background-color: #ff5113;
}
.program:hover .program__image {
  height: 80px;
}
.program:hover .program__title {
  font-size: 26px;
}

.page-footer__top {
  background-color: #f6782e;
  padding: 40px 0;
  color: #fff;
}
.page-footer__bottom {
  background-color: #ff5113;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.widget-title {
  font-size: 18px;
  text-transform: uppercase;
}

.social-links ul {
  margin: 0;
  padding: 0;
}
.social-links ul li {
  list-style-type: none;
  float: left;
  display: inline-block;
}
.social-links ul li a {
  font-size: 36px;
  text-decoration: none;
  color: #fff;
}
.social-links ul li + li {
  margin-left: 30px;
}

.contact i {
  font-size: 16px;
  width: 20px;
}

.navigation {
  background-color: #fff;
  padding-top: 4px;
}
.navigation--home {
  text-align: center;
}
.navigation--subpage .page-title {
  float: left;
}
.navigation--subpage .main-nav {
  float: right;
}

.main-menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.main-menu li {
  float: left;
  list-style-type: none;
}
.main-menu li + li {
  margin-left: 30px;
}
.main-menu li a {
  font-size: 18px;
  color: #3a3a3a;
  position: relative;
  height: 50px;
  line-height: 50px;
  text-decoration: none !important;
  display: inline-block;
}
.main-menu li a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff5113;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-menu li a:hover, .main-menu li a.current-page {
  color: #ff5113;
}
.main-menu li a:hover:after, .main-menu li a.current-page:after {
  width: 100%;
}

/*_____________ Phonetic _____________*/
.page-header {
  background-color: #ff5113;
  margin: 0;
  border: none;
  padding-top: 30px;
  padding-bottom: 20px;
}

.banner-small img {
  width: 100%;
}

.page-title {
  line-height: 52px;
  padding-left: 55px;
  margin-top: -4px;
}
.page-title img {
  position: absolute;
  top: 45%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 50px;
}
.page-title .screen-reader-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  color: #f6782e;
  margin-top: 2px;
}

.btn-green {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  padding: 0 25px 0;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border-radius: 5px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}
.btn-green i {
  color: #fff;
  margin-left: 10px;
}
.btn-green:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3ba1d4;
  z-index: -2;
}
.btn-green:after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff5113;
  z-index: -1;
}
.btn-green:hover {
  text-decoration: none;
  color: #fff;
}
.btn-green:hover:after {
  width: 100%;
}

.phonetic-wrapper > iframe {
  width: 100%;
  height: 641px;
}
@media screen and (max-width: 1160px) {
  .phonetic-wrapper > iframe {
    height: 540px;
  }
}
@media screen and (max-width: 1023px) {
  .phonetic-wrapper > iframe {
    height: 523px;
  }
}
@media screen and (max-width: 979px) {
  .phonetic-wrapper > iframe {
    height: 410px;
  }
}

/*_____________ vocab _____________*/
.tab {
  margin-left: 0;
  margin-right: 0;
}
.tab .col-navi {
  background-color: #f6782e;
}
.tab .col-content {
  padding: 30px;
}
.tab--vocab .col-content {
  background-color: #eaeaea;
}
.tab__navi {
  padding: 10px;
  margin-bottom: 0;
}
.tab__navi li {
  list-style-type: none;
  border-bottom: 1px solid #fff;
}
.tab__navi li a {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}
.tab__navi li a:hover {
  font-weight: bold;
}
.tab__navi li.active a {
  font-weight: bold;
}
.tab__content {
  display: none;
}
.tab__content.active {
  display: block;
}

.vocab-wrapper .vocab > * + * {
  margin-left: 20px;
}
.vocab-wrapper .vocab .title {
  font-size: 30px;
}
.vocab-wrapper .vocab .pronounce {
  font-size: 23px;
  color: #3ba1d4;
}
.vocab-wrapper .vocab .audio {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 1px solid #626262;
  color: #626262;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
  margin-top: -5px;
}
.vocab-wrapper .vocab .audio:hover {
  border-color: #ff5113;
  color: #ff5113;
}
.vocab-wrapper .detail {
  margin-top: 30px;
}
.vocab-wrapper .detail__img {
  width: 35%;
  float: left;
}
.vocab-wrapper .detail__text {
  overflow: hidden;
}
