<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" action="admin/phonetics">
            <input type="hidden" name="type" value="calendar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add new</strong> Phonetics config</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Date</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="date" name="calendar" value="<%= day_current %>" placeholder="" class="form-control">
                            </div>                                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">ID Phonetic</label>
                        <div class="col-md-6 col-xs-12">                                
                            <select id="idphonetic" name="idphonetic" class="form-control select">
                                <% for (var i = 0; i < phonetics.length; i++) { %>
                                <option value="<%= phonetics[i].id %>"><%= phonetics[i].title %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">                                  
                    <button class="btn btn-primary pull-right">Add</button>
                </div>
            </div>
            </form>
            
        </div>
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Phonetic</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < phonetics_config.length; i++) { %>
                            <tr>
                                <td><%= phonetics_config[i].day %></td>
                                <td>
                                <% if(phonetics_config[i].phonetics.length == 1){ %>
                                <%= phonetics_config[i].phonetics[0].title %>
                                <% } %>
                                </td>
                                <td>
                                    <a href="admin/phonetics/calendar/edit?id=<%= phonetics_config[i]._id %>" class="btn btn-success btn-xs">Edit</a>
                                    <a href="admin/phonetics/calendar/delete?id=<%= phonetics_config[i]._id %>" class="delete btn btn-danger btn-xs">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
