<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List Phonetics <a href="admin/phonetics/exercises/add" class="btn btn-danger btn-xs">Add new</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Phonetics</th>
                                <th>Option 1</th>
                                <th>Option 2</th>
                                <th>Option 3</th>
                                <th>Option 4</th>
                                <th>Answer</th>
                                <th>Ảnh</th>
                                <th>Giải thích</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < exercises.length; i++) {
                                var content = JSON.parse(exercises[i].content);
                            %>
                            <tr>
                                <td><%= exercises[i]._id %></td>
                                <td>
                                <% if(exercises[i].phonetics.length != 0){ %>
                                <%= exercises[i].phonetics[0].title %>
                                <% } %>
                                </td>
                                <td><%= content.option1 %></td>
                                <td><%= content.option2 %></td>
                                <td><%= content.option3 %></td>
                                <td><%= content.option4 %></td>
                                <td><%= content.answer %></td>
                                <td>
                                <% if(content.image == 1){ %>
                                <img class="img_admin" src="uploads/phonetics/images/<%= exercises[i]._id %>.jpeg" alt="">
                                <% } %>
                                </td>
                                <td><%- content.giaithich %></td>
                                <td>
                                  <a href="admin/phonetics/exercises/edit?id=<%= exercises[i]._id %>" class="btn btn-success btn-xs">Edit</a>
                                  <a href="admin/phonetics/exercises/delete?id=<%= exercises[i]._id %>" class="btn btn-danger btn-xs delete">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <style>
                .delete_phonetic{margin-right:10px;}
                img.img_admin{max-width: 50px;}
            </style>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
