<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>  
</ul>
<!-- END BREADCRUMB -->               

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-12">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">List Phonetics <a href="admin/phonetics/add" class="btn btn-danger btn-xs">Add new</a></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Video link</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < phonetics.length; i++) { %>
                            <tr>
                                <td><%= phonetics[i]._id %></td>
                                <td><%= phonetics[i].title %></td>
                                <td><%= phonetics[i].video_link %></td>
                                <td>
                                  <a href="admin/phonetics/edit?id=<%= phonetics[i]._id %>" class="btn btn-success btn-xs">Edit</a>
                                  <a href="admin/phonetics/delete?id=<%= phonetics[i]._id %>" class="btn btn-danger btn-xs delete">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
            <style>
                .delete_phonetic{margin-right:10px;}
            </style>
        </div>
    </div>                                
    
</div>
<!-- PAGE CONTENT WRAPPER --> 
